{{ $page := .Page }}
{{ $template := "claris/_functions/meta/index" }}
{{ $debug := false }}
{{ $dbg := printf "%s[%s->%s]" (replaceRE `.*?((?:[^/]+/){,2})$` `$1` $page.RelPermalink) (default "meta/index: MISSING .Template" .Template) (replaceRE `.*?([^/]+)$` `$1` $template) }}

{{ $assetVariant := .AssetVariant }}
{{ if not $assetVariant }}
  {{ if $debug }}
    {{ warnf "%s .AssetVariant is unset" $dbg }}
  {{ end }}
  {{ with $page }}
    {{ $assetVariant = partialCached "claris/_functions/assets/asset-variant" (dict "Page" . "Template" $template) .Type .Kind .AlternativeOutputFormats .OutputFormats }}
  {{ end }}
{{ end }}

{{ $metaParams := (dict "Page" $page "AssetVariant" $assetVariant "Template" $template "Debug" $debug) }}

{{ $siteMeta := partialCached "claris/_functions/meta/site" $metaParams site.BaseURL }}
{{ $singleMeta := partialCached "claris/_functions/meta/single" $metaParams $page.Permalink }}

{{ $outputMeta := (dict "Output" (dict
    "Format" $assetVariant.OutputFormatName
  )
) }}

{{ $classificationMeta := partialCached "claris/_functions/meta/classification" $metaParams $page.Permalink $assetVariant.OutputFormat }}

{{ $meta := (merge
  $siteMeta
  $singleMeta
  $outputMeta
  $classificationMeta
) }}

{{/* f (and $assetVariant.OutputFormat (strings.Contains (lower $assetVariant.OutputFormatName) "print") ) }}
  {{ warnf "%s[%s]: $assetVariant.OutputFormat=%v: meta.Output=\n%v\n.Classification=\n%v"
    $page $template $assetVariant.OutputFormatName
    (jsonify (dict "indent" "  ") $meta.Format)
    (jsonify (dict "indent" "  ") $meta.Classification ) }}
{{ end */ -}}

{{ return $meta }}
