{{ $page := .Page }}
{{ $template := "claris/_functions/meta/single" }}
{{ $debug := and false (or .Debug ($page.Param "clarisdebug") ) }}
{{ $dbg := printf "%s[%s->%s]" (replaceRE `.*?((?:[^/]+/){,2})$` `$1` $page.RelPermalink) .Template (replaceRE `.*?([^/]+)$` `$1` $template) }}

{{ $wordCount := .Page.WordCount }}
{{ if and (eq $wordCount 0) (in .Kind (slice "page" "section" "home") ) }}
  {{ errorf "%s .Page.Wordcount=%d .Page=%v[%T] page.WordCount=%d page=%v[%T]"
      $dbg $wordCount .Page .Page page.WordCount page page }}
{{ end }}
{{ with $page.Title }}
{{ else }}
  {{ warnf "%s missing title: .Page=%v[%T] page=%v[%T] .Page.Title=%q[%T] page.Title=%q[%T]"
      $dbg .Page .Page page page .Page.Title .Page.Title page.Title page.Title }}
{{ end }}

{{ $singleMeta := dict }}

{{ $assetVariant := .AssetVariant }}
{{ if not $assetVariant }}
  {{ if $debug }}
    {{ warnf "%s .AssetVariant is unset" $dbg }}
  {{ end }}
  {{ with $page }}
    {{ $assetVariant = partialCached "claris/_functions/assets/asset-variant" (dict "Page" . "Template" $template) .Type .Kind .AlternativeOutputFormats .OutputFormats }}
  {{ end }}
{{ end }}

{{ $metaParams := merge . (dict
  "Template" (printf "%s->%s" .Template $template)
  "AssetVariant" $assetVariant
  "Debug" $debug
) }}
{{ $metaKey := merge $metaParams (dict
    "Page" nil
    "PageKey" $page.Permalink
    "AssetVariant" nil
    "AssetKey" $assetVariant.Key
) }}

{{ with $page }}

  {{ $metaVariant := (dict
      "Data" (dict "Title" (partial "claris/_functions/plainify-string" .Title) )
      "Formatted" (dict "Title" (page.RenderString .Title))
  ) }}

  {{ with $assetVariant.ContentType }}
    {{ if ne . "claris" }}
      {{ $contentTypeMetaPartial := printf "%s/_functions/meta/head.html" . }}
      {{ if templates.Exists (printf "partials/%s" $contentTypeMetaPartial) }}
        {{ $contentTypeMetaParams := merge $metaParams
          (dict
              "HeadMeta" $metaVariant
          )
        }}
        {{ if $debug }}
          {{ warnf "%s contentType=%v: Calling contentType-specific head partial %v with:\n%v"
              $dbg . $contentTypeMetaPartial (jsonify (dict "indent" "  ") $contentTypeMetaParams) }}
        {{ end }}
        {{ $contentTypeMetaVariant := partialCached $contentTypeMetaPartial $contentTypeMetaParams $metaKey }}
        {{ $metaParams = merge $metaParams (dict
              "HeadMeta" $contentTypeMetaVariant
          ) }}
      {{ else }}
        {{ if $debug }}
          {{ warnf "%s contentType=%v: No meta partial found at %v"
              $dbg . $contentTypeMetaPartial }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ else }}
    {{ errorf "%s invalid $assetVariant=%v: missing .ContentType"
        $dbg $assetVariant }}
  {{ end }}

  {{ $defaultMetaPartial := "claris/_functions/meta/head.html" }}
  {{ if $debug }}
    {{ warnf "%s Calling default head partial %v with metaParams:\n%v"
        $dbg $defaultMetaPartial (jsonify (dict "indent" "  ") $metaParams) }}
  {{ end }}
  {{ $metaVariant = merge $metaVariant (partialCached $defaultMetaPartial $metaParams $metaKey) }}

  {{ $mainSections := .Param "mainSections" }}
  {{ $itemType := "page" }}
  {{ with .Page }}
    {{ if in (slice "page" "term") .Kind }}
      {{ if (in $mainSections .Section) }}
        {{ $itemType = "article" }}
        {{ if and false $debug }}
          {{ warnf "%s .Kind=%v .Section=%v in mainSections=%v"
              $dbg .Kind .Section $mainSections }}
        {{ end }}
      {{ end }}
    {{ else if in (slice "home" "section" "taxonomy") .Kind }}
      {{ $itemType = "section" }}
    {{ else }}
      {{ if $debug }}
        {{ warnf "%s Unexpected .Kind=%v" $dbg .Kind }}
      {{ end }}
    {{ end }}
  {{ else }}
    {{ errorf "%s no .Page: $page=%v [type=%T] .Page=%v [type=%T]" $dbg $page $page .Page .Page }}
  {{ end }}

  {{ $authorMeta := partialCached "claris/_functions/meta/author" $metaParams $metaKey }}

  {{ $imageMeta := partialCached "claris/_functions/meta/images/from-params" $metaParams $metaKey }}

  {{ $license := false }}
  {{ with .Param "license" }}
    {{ $license = . }}
  {{ end }}

  {{ $language := $page.Language.Lang }}

  <!-- Get proper case for locale for use in OpenGraph meta tags
  See Hugo issue: https://github.com/gohugoio/hugo/issues/7344 -->
  {{ $locale := site.Language.LanguageCode }}
  {{ $localeRE := `(?i)^([a-z]{2,2})[-_]([a-z]{2,2})$` }}
  {{ if findRE $localeRE $locale }}
    {{ $locale = printf "%s-%s" (substr $locale 0 2) (substr $locale 3 2 | upper) }}
    {{ if and false $debug }}
      {{ warnf "%s site.Language.LanguageCode=%v matches %q: setting locale=%q" $dbg site.Language.LanguageCode $localeRE $locale }}
    {{ end }}
  {{ else }}
    {{ errorf "%s Invalid locale=%v does not match %v. Make sure to set \"languageCode\" in hugo.{toml,yaml,json}" $dbg $locale $localeRE }}
  {{ end }}

  {{ $alternativeLanguages := slice }}
  {{ range $page.Translations }}
    {{ $alternativeLanguages = append (slice .Lang) $alternativeLanguages }}
  {{ end }}

  {{ $genre := default (index .Params.categories 0) .Params.genre }}

  <!-- HTML 'id' attribute of the DOM container of the main content -->
  {{ $articleID := default "contentContainer" ($page.Param "articleID") }}

  {{ $canonicalURL := partial "claris/_functions/canonical-url" $page }}

  <!-- NOTE: For consistency, in the `Data` key, we apply the partial `claris/_functions/plainify-string`
       to all strings that might contain HTML or soft hyphens -->
  {{ $singleData := (dict
    "URL" $page.RelPermalink
    "CanonicalURL" $canonicalURL
    "ArticleSection" ( default "Homepage" (default .Params.section (humanize .Section) ) )
    "ArticleID" $articleID
    "EntityID" (printf "%s#%s" $canonicalURL $articleID)
    "ItemType" $itemType
    "Language" $language
    "Locale" $locale
    "AlternativeLanguages" $alternativeLanguages
    "CopyrightYear" ( now.Format "2006" )
    "Date" (dict
      "Created" .Date
      "Published" .PublishDate
      "Modified" .Lastmod
    )
    "Author" $authorMeta
    "Images" $imageMeta
    "Genre" $genre
    "Keywords" $metaVariant.Keywords
  ) }}
  {{ with $license }}
    {{ $singleData = merge $singleData (dict "License" . ) }}
  {{ end }}
  {{ with $wordCount }}
    {{ $singleData = merge $singleData (dict "WordCount" . ) }}
  {{ end }}
  {{ $singleMeta = merge $singleMeta (dict
    "Data" $singleData
    "Page" $page
  ) }}

  {{ $singleMeta = merge $singleMeta $metaVariant }}

{{ end }}

{{ if and false $debug }}
  {{ warnf "%s returning\n%v" $dbg
      (jsonify (dict "indent" "  ") $singleMeta.Data) }}
{{ end }}
{{ return (dict "Single" $singleMeta) }}
