{{ $page := .Page }}
{{ $template := "claris/_functions/meta/single" }}
{{ $debug := false }}
{{ $dbg := printf "%s[%s->%s]" (replaceRE `.*?((?:[^/]+/){,2})$` `$1` $page.RelPermalink) .Template (replaceRE `.*?([^/]+)$` `$1` $template) }}

{{ with $page.Title }}
{{ else }}
  {{ warnf "%s missing title: .Page=%v[%T] page=%v[%T] .Page.Title=%q[%T] page.Title=%q[%T]"
      $dbg .Page .Page page page .Page.Title .Page.Title page.Title page.Title }}
{{ end }}

{{ $singleMeta := dict }}

{{ $assetVariant := .AssetVariant }}
{{ if not $assetVariant }}
  {{/* {{ warnf "%s .AssetVariant is unset" $dbg }} */}}
  {{ $assetVariant = partial "claris/_functions/asset-variant" $page }}
{{ end }}

{{ $headMetaParams := (dict "Page" $page "AssetVariant" $assetVariant "Debug" $debug) }}

{{ with $page }}

  {{ $metaVariant := (dict
      "Data" (dict "Title" (partial "claris/_functions/sanitize" .Title) )
      "Formatted" (dict "Title" (page.RenderString .Title))
  ) }}

  {{ $defaultMetaPartial := "claris/_functions/meta/head.html" }}
  {{ if $debug }}
    {{ warnf "%s Calling default meta partial %v"
        $dbg $defaultMetaPartial }}
  {{ end }}
  {{ $metaVariant = merge $metaVariant (partialCached $defaultMetaPartial $headMetaParams .Permalink) }}

  {{ with $assetVariant.ContentType }}
    {{ $contentTypeMetaPartial := printf "partials/%s/head/meta.html" . }}
    {{ if templates.Exists $contentTypeMetaPartial }}
      {{ if $debug }}
        {{ warnf "%s contentType=%v: Calling meta partial %v"
            $dbg . $contentTypeMetaPartial }}
      {{ end }}
      {{ $contentTypeMetaVariant := partialCached $contentTypeMetaPartial (merge $headMetaParams
        (dict
            "meta" $metaVariant
        )
      ) .Permalink }}
      {{ $metaVariant = merge $metaVariant $contentTypeMetaVariant }}
    {{ end }}
  {{ else }}
    {{ errorf "%s invalid $assetVariant=%v: missing .ContentType"
        $dbg $assetVariant }}
  {{ end }}

  {{ $mainSections := $page.Param "mainSections" }}
  {{ $itemType := "page" }}
  {{ with .Page }}
    {{ if in (slice "page" "term") .Kind }}
      {{ if (in $mainSections .Section) }}
        {{ $itemType = "article" }}
        {{ if $debug }}
          {{ warnf "%s .Kind=%v .Section=%v in mainSections=%v"
              $dbg .Kind .Section $mainSections }}
        {{ end }}
      {{ end }}
    {{ else if in (slice "home" "section" "taxonomy") .Kind }}
      {{ $itemType = "section" }}
    {{ else }}
      {{ if $debug }}
        {{ warnf "%s Unexpected .Kind=%v" $dbg .Kind }}
      {{ end }}
    {{ end }}
  {{ else }}
    {{ errorf "%s no .Page: $page=%v [type=%T] .Page=%v [type=%T]" $dbg $page $page .Page .Page }}
  {{ end }}

  {{ $authorMeta := partialCached "claris/_functions/meta/author" (dict "Page" $page "Debug" $debug) $page.Permalink }}

  {{ $metaImagesParams := (dict
    "Page" $page
    "Params" $page.Params
    "Debug" $debug
  ) }}
  {{ $imageMeta := partialCached "claris/_functions/meta/images/from-params" $metaImagesParams $metaImagesParams }}

  {{ $license := .Param "license" }}

  {{ $language := $page.Language.Lang }}

  <!-- Get proper case for locale for use in OpenGraph meta tags
  See Hugo issue: https://github.com/gohugoio/hugo/issues/7344 -->
  {{ $locale := site.LanguageCode }}
  {{ $localeRE := `^[a-zA-Z][-_][a-zA-Z]$` }}
  {{ with replaceRE $localeRE "$1-$2" $locale }}
    {{ with split . "-" }}
      {{ $locale = printf "%s-%s" (lower (index . 0) ) (upper (index . 1) )  }}
    {{ end }}
  {{ else }}
    {{ errorf "%s Invalid locale=%v does not match %v"
        $dbg $locale $localeRE }}
  {{ end }}

  {{ $alternativeLanguages := slice }}
  {{ range $page.Translations }}
    {{ $alternativeLanguages = append (slice .Lang) $alternativeLanguages }}
  {{ end }}

  {{ $genre := default (index .Params.categories 0) .Params.genre }}
  {{ $keywords := apply (default (default (split (anchorize $metaVariant.Title) "-") .Params.tags) .Params.keywords) "lower" "." }}

  <!-- HTML 'id' attribute of the DOM container of the main content -->
  {{ $articleID := default "contentContainer" ($page.Param "articleID") }}

  {{ $canonicalURL := partial "claris/_functions/canonical-url" $page }}

  <!-- NOTE: For consistency, in the `Data` key, we apply the partial `claris/_functions/sanitize`
       to all strings that might contain HTML or soft hyphens -->
  {{ $singleMeta = (dict
    "Data" (dict
      "URL" $page.RelPermalink
      "CanonicalURL" $canonicalURL
      "ArticleSection" ( default "Root" (default .Params.section (humanize .Section) ) )
      "ArticleID" $articleID
      "EntityID" (printf "%s#%s" $canonicalURL $articleID)
      "ItemType" $itemType
      "Language" $language
      "Locale" $locale
      "AlternativeLanguages" $alternativeLanguages
      "CopyrightYear" ( now.Format "2006" )
      "Date" (dict
        "Created" .Date
        "Published" .PublishDate
        "Modified" .Lastmod
      )
      "Author" $authorMeta
      "Images" $imageMeta
      "WordCount" .WordCount
      "License" $license
      "Genre" $genre
      "Keywords" $keywords
    )
    "Page" $page
  ) }}

  {{ $singleMeta = merge $singleMeta $metaVariant }}

{{ end }}

{{ if $debug }}
  {{ warnf "%s returning\n%v" $dbg
      (jsonify (dict "indent" "  ") $singleMeta.Single.Data) }}
{{ end }}
{{ return (dict "Single" $singleMeta) }}
