{{ $page := .Page }}
{{ $template := "claris/_functions/meta/site" }}
{{ $debug := and false (or .Debug ($page.Param "clarisdebug") ) }}
{{ $dbg := printf "%s[%s->%s]" (replaceRE `.*?((?:[^/]+/){,2})$` `$1` $page.RelPermalink) .Template (replaceRE `.*?([^/]+)$` `$1` $template) }}

{{ $homePage := (site.GetPage "/") }}

{{ $siteMeta := dict }}

{{ $metaSchemaOrg := site.Params.robots.index }}
{{ $metaOpengraph := site.Params.robots.index }}
{{ $metaTwitterCard := site.Params.robots.index }}

{{ $author := default site.Author.name ($page.Param "siteAuthor") }}
{{ with $author }}
  {{ with site.Param "authors" }}
    {{ with index . (anchorize $author) }}
      {{ $author = .name }}
    {{ end }}
  {{ end }}
{{ end }}
{{ $authorMeta := partialCached "claris/_functions/meta/author" (dict "Page" $homePage "Author" $author "Debug" $debug) $homePage.Permalink }}
{{ $socialMeta := partialCached "claris/_functions/meta/social" (dict "Page" $homePage "Author" $author "Debug" $debug) $homePage.Permalink }}

{{ $name := default site.Title site.Params.website.name }}

{{ $title := site.Title | $page.RenderString }}
{{ $titlePlain := $title | partial `claris/_functions/sanitize` }}

{{ $tagline := site.Params.website.tagline | $page.RenderString }}
{{ $taglinePlain := $tagline | partial `claris/_functions/sanitize` }}
{{ $headline := $title }}
{{ with $tagline }}
  {{ $headline = printf "%s: %s" $title $tagline }}
{{ end }}
{{ $headlinePlain := $headline | partial `claris/_functions/sanitize` }}

{{ $description := site.Params.website.description | partial `claris/_functions/sanitize` }}
{{ if and (not $description) site.Params.claris.hints }}
  {{ warnf "%s Missing website description. To include a description of your website, add it to site.Params.website.description" $dbg }}
{{ end }}

{{ $organization := site.Params.organization.name }}

{{ $currentYear := (string now.Year) }}
{{ $copyright := default (T "copyright") (printf "%s %s %s. %s" (string now.Year) $author (T "all_rights") ) }}
{{ with site.Params.website.established }}
  {{ $copyright = printf "%s %s–%s %s. %s" (T "copyright") (string .) $currentYear $author (T "all_rights" ) }}
{{ end }}

{{ $licenseText := "" }}
{{ $licenseHTML := "" }}

{{ with site.Params.website.license.identifier }}
  {{ $licenseParams := (dict
      "Count" 1
      "WebsiteName" $name
      "SiteAuthor" $author
      "Date" (dict
        "Established" site.Params.website.established
        "Current" $currentYear
      )
      "License" (dict
        "Identifier" site.Params.website.license.identifier
        "URL" (site.Params.website.license.URL | safeHTML | safeJS)
      )
    ) }}
  {{ $licenseText = T "license_website" $licenseParams }}
  {{ $licenseHTML = T "license_website_HTML" $licenseParams }}
  {{ if $debug }}
    {{ warnf "%s licenseText=%s licenseHTML=%s [licenseParams=%v]" $dbg
        $licenseText $licenseHTML $licenseParams }}
  {{ end }}
{{ end }}

{{ $language := site.Language.Lang }}

{{ $alternativeLanguages := slice }}
{{ range site.Languages }}
  {{ if not (eq . site.Language.Lang) }}
    {{ $alternativeLanguages = append (slice .Lang) $alternativeLanguages }}
  {{ end }}
{{ end }}

{{ $canonicalBaseURL := ( site.Params.canonicalBaseURL | default site.Params.BaseURL ) }}
{{ $canonicalURL := partialCached "claris/_functions/canonical-url" $homePage $canonicalBaseURL }}

<!-- HTML 'id' attribute of the DOM container of the main content -->
{{ $websiteID := "mainContainer" }}

{{ $metaImagesParams := (dict
  "Page" $homePage
  "Params" (merge $homePage.Params site.Params)
  "Debug" $debug
) }}

{{ $metaImages := partialCached "claris/_functions/meta/images/from-params" $metaImagesParams $metaImagesParams }}

{{ $siteData := (dict
    "CanonicalURL" $canonicalURL
    "WebsiteID" $websiteID
    "EntityID" (printf "%s#%s" $canonicalURL $websiteID)
    "Name" $name
    "Title" $titlePlain
    "Headline" $headlinePlain
    "Tagline" $taglinePlain
    "Description" $description
    "Author" $authorMeta
    "Social" $socialMeta
    "Images" $metaImages
    "Language" $language
    "AlternativeLanguages" $alternativeLanguages
    "Copyright" $copyright
) }}
{{ with and $licenseText $licenseHTML }}
  {{ $license := (dict
      "Text" $licenseText
      "HTML" $licenseHTML
  ) }}
  {{ if $debug }}
    {{ warnf "%s adding license=%s" $dbg $license }}
  {{ end }}
  {{ $singleData = merge $singleData (dict "License" $license ) }}
{{ else }}
  {{ if $debug }}
    {{ warnf "%s no license: licenseText=%s licenseHTML=%s" $dbg $licenseText $licenseHTML }}
  {{ end }}
{{ end }}


{{ $siteMeta = (dict
  "Site" (dict
    "Classification" (dict
      "Robots" site.Params.robots
      "SchemaOrg" $metaSchemaOrg
      "Opengraph" $metaOpengraph
      "TwitterCard" $metaTwitterCard
    )
    "Data" $siteData
    "Formatted" (dict
      "Title" $title
      "Headline" $headline
      "Tagline" $tagline
    )
  )
) }}

{{ if $debug }}
  {{ warnf "%s returning %v" $dbg
      (jsonify (dict "indent" "  " "noHTMLEscape" true) $siteMeta) }}
{{ end }}

{{ return $siteMeta }}
