{{ $page := .Page }}
{{ $template := "claris/_functions/meta/site" }}
{{ $debug := and false (or .Debug ($page.Param "clarisdebug") ) }}
{{ $dbg := printf "%s[%s->%s]" (replaceRE `.*?((?:[^/]+/){,2})$` `$1` $page.RelPermalink) .Template (replaceRE `.*?([^/]+)$` `$1` $template) }}

{{ $homePage := (site.GetPage "/") }}

{{ $siteMeta := dict }}

{{ $canonicalBaseURL := ( site.Params.canonicalBaseURL | default site.Params.BaseURL ) }}
{{ $canonicalURL := partialCached "claris/_functions/canonical-url" $homePage
    $homePage.Permalink $canonicalBaseURL }}

{{ $metaParams := merge . (dict
  "Page" $homePage
  "Template" (printf "%s->%s" .Template $template)
  "Params" (merge $homePage.Params site.Params)
  "CanonicalSiteURL" $canonicalURL
  "Debug" $debug
) }}
{{ $metaKey := merge $metaParams (dict "Page" nil) }}

{{ $metaSchemaOrg := site.Params.robots.index }}
{{ $metaOpengraph := site.Params.robots.index }}
{{ $metaTwitterCard := site.Params.robots.index }}

{{ $authorMeta := false }}
{{ $socialMeta := false }}
{{ $author := default site.Author.name ($page.Param "siteauthor") }}
{{ with $author }}
  {{ with site.Param "authors" }}
    {{ with index . (anchorize $author) }}
      {{ $author = .name }}
    {{ end }}
  {{ end }}
  {{ $metaParams = merge $metaParams (dict "Author" $author) }}
  {{ $authorMeta = partialCached "claris/_functions/meta/author" $metaParams $metaKey }}
  {{ $socialMeta = partialCached "claris/_functions/meta/social" $metaParams $metaKey }}
{{ else }}
  {{ errorf "%s site.Author.name and page.Param \"siteauthor\" are unset" }}
{{ end }}

{{ $name := default site.Title site.Params.website.name }}

{{ $title := site.Title | partial "claris/_functions/plainify-html" }}
{{ $titlePlain := $title | partial "claris/_functions/plainify-string" }}

{{ $tagline := site.Params.website.tagline | partial "claris/_functions/plainify-html" }}
{{ $taglinePlain := $tagline | partial "claris/_functions/plainify-string" }}
{{ $headline := $title }}
{{ with $tagline }}
  {{ $headline = printf "%s: %s" $title $tagline }}
{{ end }}
{{ $headlinePlain := $headline | partial "claris/_functions/plainify-string" }}

{{ $description := site.Params.website.description | partial "claris/_functions/plainify-string" }}
{{ if and (not $description) site.Params.claris.hints }}
  {{ warnf "%s Missing website description. To include a description of your website, add it to site.Params.website.description" $dbg }}
{{ end }}

{{ $organization := site.Params.organization.name }}

{{ $currentYear := (string now.Year) }}
{{ $copyright := default (T "copyright") (printf "%s %s %s. %s" (string now.Year) $author (T "all_rights") ) }}
{{ with site.Params.website.established }}
  {{ $copyright = printf "%s %s–%s %s. %s" (T "copyright") (string .) $currentYear $author (T "all_rights" ) }}
{{ end }}

{{ $licenseText := "" }}
{{ $licenseHTML := "" }}

{{ with site.Params.website.license.identifier }}
  {{ $licenseParams := (dict
      "Count" 1
      "WebsiteName" $name
      "SiteAuthor" $author
      "Date" (dict
        "Established" site.Params.website.established
        "Current" $currentYear
      )
      "License" (dict
        "Identifier" site.Params.website.license.identifier
        "URL" (site.Params.website.license.URL | safeHTML | safeJS)
      )
    ) }}
  {{ $licenseText = T "license_website" $licenseParams }}
  {{ $licenseHTML = T "license_website_HTML" $licenseParams }}
  {{ if $debug }}
    {{ warnf "%s licenseText=%s licenseHTML=%s [licenseParams=%v]" $dbg
        $licenseText $licenseHTML $licenseParams }}
  {{ end }}
{{ end }}

{{ $language := site.Language.Lang }}

{{ $alternativeLanguages := slice }}
{{ range site.Languages }}
  {{ if not (eq . site.Language.Lang) }}
    {{ $alternativeLanguages = append (slice .Lang) $alternativeLanguages }}
  {{ end }}
{{ end }}

<!-- HTML 'id' attribute of the DOM container of the main content -->
{{ $websiteID := "mainContainer" }}

{{ $imagesMeta := partialCached "claris/_functions/meta/images/from-params" $metaParams $metaKey }}

{{ $siteData := (dict
    "CanonicalURL" $canonicalURL
    "WebsiteID" $websiteID
    "EntityID" (printf "%s#%s" $canonicalURL $websiteID)
    "Name" $name
    "Title" $titlePlain
    "Headline" $headlinePlain
    "Tagline" $taglinePlain
    "Description" $description
    "Language" $language
    "AlternativeLanguages" $alternativeLanguages
    "Copyright" $copyright
) }}

{{ with $authorMeta }}
  {{ $siteData = merge $siteData (dict "Author" $authorMeta ) }}
{{ else }}
  {{ if $debug }}
    {{ warnf "%s missing site author" $dbg }}
  {{ end }}
{{ end }}

{{ with $imagesMeta }}
  {{ $siteData = merge $siteData (dict "Images" $imagesMeta ) }}
{{ else }}
  {{ if $debug }}
    {{ warnf "%s missing images data" $dbg }}
  {{ end }}
{{ end }}

{{ with $socialMeta }}
  {{ $siteData = merge $siteData (dict "Social" $socialMeta ) }}
{{ else }}
  {{ if $debug }}
    {{ warnf "%s missing social data" $dbg }}
  {{ end }}
{{ end }}

{{ with and $licenseText $licenseHTML }}
  {{ $license := (dict
      "Text" $licenseText
      "HTML" $licenseHTML
  ) }}
  {{ if $debug }}
    {{ warnf "%s adding license=%s" $dbg $license }}
  {{ end }}
  {{ $siteData = merge $siteData (dict "License" $license ) }}
{{ else }}
  {{ if $debug }}
    {{ warnf "%s no license: licenseText=%s licenseHTML=%s" $dbg $licenseText $licenseHTML }}
  {{ end }}
{{ end }}

{{ $siteMeta = (dict
  "Site" (dict
    "Classification" (dict
      "Robots" site.Params.robots
      "SchemaOrg" $metaSchemaOrg
      "Opengraph" $metaOpengraph
      "TwitterCard" $metaTwitterCard
    )
    "Data" $siteData
    "Formatted" (dict
      "Title" $title
      "Headline" $headline
      "Tagline" $tagline
    )
  )
) }}

{{ if $debug }}
  {{ warnf "%s returning siteMeta: %v" $dbg
      (jsonify (dict "indent" "  " "noHTMLEscape" true) $siteMeta) }}
{{ end }}

{{ return $siteMeta }}
