/*
Source: https://screenspan.net/fallback
*/

@font-face {
  font-family: concourse-fallback;
  font-style: normal;
  font-weight: 400;
	src: local("Arial");
  size-adjust: 86.5%;
  ascent-override: 104%;
  descent-override: 34%;
  line-gap-override: normal;}

@font-face {
  font-family: concourse-fallback;
  font-style: normal;
  font-weight: 500;
  src: local("Arial");
  size-adjust: 87%;
  ascent-override: 108%;
  descent-override: 28%;
  line-gap-override: normal;
}

@font-face {
  font-family: concourse-fallback;
  font-style: normal;
  font-weight: 600;
  src: local(Arial);
  size-adjust: 89%;
  ascent-override: 106%;
  descent-override: 26%;
  line-gap-override: normal;
}

@font-face {
  font-family: concourse-fallback;
  font-style: normal;
  font-weight: 700;
  src: local(Arial Black);
  size-adjust: 87%;
  ascent-override: 129%;
  descent-override: 12%;
  line-gap-override: normal;
}
