/*
Source: https://github.com/khempenius/font-fallbacks-dataset/blob/main/font-metric-overrides.csv#L1915
font	ascent-override	descent-override	line-gap-override
/ofl/merriweather/Merriweather-Regular.ttf	0.984	0.273	0
Merriweather font metrics:
- ascent = 984
- descent = 263
- line-gap = 0
*/

@font-face {
  font-family: merriweather-fallback;
  src: local("Georgia");
  size-adjust: 110%;
  ascent-override: 108.24%;
  descent-override: 28.93%;
  line-gap-override: 0%;
}

@font-face {
  font-family: merriweather-fallback-android;
  src: local("Roboto");
	ascent-override: 98.4%;
	descent-override: 26.3%;
	line-gap-override: 0%;
}
