// Monospace Code from https://github.com/system-fonts/modern-font-stacks#monospace-code
@use 'functions' as functions;
$fallbackStack: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;

@each $fontType in {{ delimit .useFamilyAsType " " }} {
  @include fonts.defineFontUtilityClasses($fontFamilySpec, $useAsFontType: #{$fontType});
}
