// Monospace Code from https://github.com/system-fonts/modern-font-stacks#monospace-code
$fallbackStack: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
$fontFamilyMap: map-merge($fontFamilyMap, ($fontFamilyID: updateMap((fallback: $fallbackStack), map-get($fontFamilyMap, $fontFamilyID))));
