/*
Source: https://github.com/khempenius/font-fallbacks-dataset/blob/main/font-metric-overrides.csv#L2969
/ofl/sourcesans3/SourceSans3[wght].ttf	1.024	0.4	0
*/

@font-face {
  font-family: source-sans-3-fallback;
  font-style: normal;
  font-weight: 400;
	src: local("Arial");
  size-adjust: 94%;
	ascent-override: 96.256%;
	descent-override: 37.6%;
	line-gap-override: 0%;
}

@font-face {
  font-family: source-sans-3-fallback;
  font-style: normal;
  font-weight: 300;
  src: local("Arial");
  size-adjust: 87%;
  ascent-override: 89.088%;
  descent-override: 34.8%;
  line-gap-override: 0%;
}

@font-face {
  font-family: source-sans-3-fallback;
  font-style: normal;
  font-weight: 500;
  src: local("Arial");
  size-adjust: 97%;
  ascent-override: 99.328%;
  descent-override: 38.8%;
  line-gap-override: 0%;
}
