/*
Source: https://screenspan.net/fallback */

@font-face {
  font-family: valkyrie-fallback;
  src: local("Georgia");
  size-adjust: 100.1%;
  ascent-override: 95.5%;
  descent-override: 29.1%;
  line-gap-override: 0%;
}

@font-face {
  font-family: valkyrie-fallback;
  font-weight: 600;
  src: local("Georgia");
  size-adjust: 100.1%;
  ascent-override: 95.4%;
  descent-override: 28.4%;
  line-gap-override: 0%;
}
