{{- $page := .Page }}
{{- $meta := .Meta }}
{{- $template := "partials/claris/_components/content" }}

{{- $itemType := .Meta.Single.Data.ItemType }}

{{- with $page }}
{{- $mainSection := (in ($page.Param "mainSections") .Section) -}}
{{- $outdated := false }}
{{- with $page.Param "BestBefore" }}
  {{- if ge now (time . ) }}
    {{- $outdated = true }}
  {{- end }}
{{- else }}
  {{- $ephemeralSections := default slice ($page.Param "ephemeralSections") }}
  {{- $ephemeralSection := (in $ephemeralSections .Section) }}
  {{- $outdatedAfterYears := default 0 ($page.Param "outdatedAfterYears") }}
  {{- if (and $outdatedAfterYears $ephemeralSection) }}
    {{- if (lt .Page.Lastmod (now.AddDate (int (sub 0 $outdatedAfterYears)) 0 0) ) }}
      {{- $outdated = true }}
    {{- end }}
  {{- end }}
{{- end }}

{{- $displayTableOfContents := and (default true ($page.Param "toc") ) (ge (strings.Count "<li>" .TableOfContents) 2) -}}
{{- $showComments := default true ($page.Param "comments") }}

{{- if $displayTableOfContents }}
  {{ partial "claris/_components/aside-article" . }}
{{- end }}
<article class="article_content content_singlecolumn content{{ if $mainSection }} main-section{{ end }}">
  {{- partial "claris/_components/title" (dict "Page" $page "Meta" $meta) }}
  {{- if (and (eq $itemType "article") $mainSection) -}}
    {{- partial "claris/_components/meta" . }}
  {{- end -}}
  <div class="article_body">
  {{- if $outdated }}
    {{- warnf "%s[%s]: article is outdated" $page $template }}
    {{- partial "claris/_components/outdated" . -}}
  {{- end -}}
  {{- .Content }}
  </div>
  {{- if $showComments }}
    {{- partial "claris/_components/comments" . }}
  {{- end }}
  {{- partial "claris/_components/i18nlist" . }}
</article>
{{- end }}
