{{- $page := .Page }}
{{- $meta := page.Scratch.Get "clarismeta" }}
{{- $template := "partials/claris/_components/content" }}

{{- $itemType := $meta.Single.Data.ItemType }}
{{- $outdated := $meta.Classification.Outdated }}

{{- with $page }}
{{- $mainSection := (in ($page.Param "mainSections") .Section) -}}

{{- $displayTableOfContents := and (default true ($page.Param "toc") ) (ge (strings.Count "<li>" .TableOfContents) 2) -}}
{{- $showComments := default true ($page.Param "comments") }}

{{- if $displayTableOfContents }}
  {{ partial "claris/_components/aside-article" . }}
{{- end }}
<article class="article_content content_singlecolumn content{{ if $mainSection }} main-section{{ end }}">
  {{- partial "claris/_components/title" . }}
  {{- if (and (eq $itemType "article") $mainSection) -}}
    {{- partial "claris/_components/meta" (dict
      "Page" $page
      "ShowAuthor" true
      "ShowDate" true
      "AuthorLink" true
      "AuthorAvatar" true
    ) }}
  {{- end -}}
  <div class="article_body">
  {{- if $outdated }}
    {{- warnf "%s[%s]: article is outdated" $page $template }}
    {{- partial "claris/_components/outdated" . -}}
  {{- end -}}
  {{- .Content }}
  </div>
  {{- if $showComments }}
    {{- partial "claris/_components/comments" . }}
  {{- end }}
  {{- partial "claris/_components/i18nlist" . }}
</article>
{{- end }}
