{{- $page := .Page }}
{{- $excerptMeta := .Meta }}
{{- $template := "partials/_components/excerpt" }}

{{- $subjectPage := .SubjectPage }}
{{- $fetchPriority := default "auto" .fetchpriority }}
{{- $showDate := default true .ShowDate }}
{{- $relativeDates := default true .RelativeDates }}
{{- $showTags := default false .ShowTags }}
{{- $showAuthor := default false .ShowAuthor }}
{{- $showAuthorLink := default false .AuthorLink }}
{{- $showAuthorAvatar := default false .AuthorAvatar }}
{{- $headerPartial := default "" .HeaderPartial }}
{{- $itemType := default "page" .ItemType }}
{{- $headingLevel := default 3 .HeadingLevel }}
{{- $debug := false }}
{{- /* {{- $debug = page.Scratch.Get "clarisdebug" }} */ -}}
{{/* {{- $debug = or $debug (not (not (findRE `^/([^/]+-demo/)?leadership` $page.RelPermalink) ) ) -}} */}}
{{/* {{- $debug = or $debug (eq $page.Kind "home") -}} */}}

{{- if $debug }}
  {{- warnf "%s[%s]: .SubjectPage=%v[%T] $excerptMeta.Single.Page=%v" $page $template $subjectPage $subjectPage $excerptMeta.Single.Page }}
{{- end }}

{{- if (eq $itemType "article") }}
  {{- $headerPartial = default "claris/_components/meta" .HeaderPartial  }}
{{- end }}

{{- with $subjectPage }}
  {{- $excerptImage := false }}
  {{- $imageMeta := $excerptMeta.Single.Data.Images }}
  {{- if not $imageMeta }}
    {{- with $excerptMeta.List }}
      {{- $imageMeta = .Data.Images }}
    {{- end }}
  {{- end }}
  {{/* {{- if $debug }}
    {{- warnf "%s[%s]: imageMeta=%v"
        $subjectPage $template
        (jsonify (dict "indent" "  ") $imageMeta) }}
  {{- end }} */}}
  {{- with $imageMeta }}
    {{- with .excerpt.variant.default.version.default }}
      {{- $excerptImage = .resource }}
      {{- if $debug }}
        {{- with $excerptImage }}
          {{- warnf "%s[%s]: Rendering excerpt of page with excerptImage=%v"
              $subjectPage $template $excerptImage }}
        {{- else }}
          {{- warnf "%s[%s]: No .excerpt.variant.default.version.default found in imageResources=%v"
              $subjectPage $template (jsonify (dict "indent" "  ") .) }}
        {{- end }}
      {{- end }}
    {{- end }}
  {{- end }}

  {{- $excerptContent := "" }}
  {{- range (slice .Params.excerpt .Summary .Params.description .Params.summary) }}
    {{- with . }}
      {{- $excerptContent = . }}
    {{- end }}
  {{- end }}
  {{- $excerptContent = $excerptContent | $page.RenderString | plainify }}
  {{- $title := default .Title $excerptMeta.Single.Data.Title }}
  {{- $plainTitle := $title | plainify }}
  <div class="excerpt_container {{ if .Params.featured }} featured{{ end }}">
    <div class="excerpt_header">
      <a href="{{ .Permalink }}" title="{{ $plainTitle }}">
        <h{{ $headingLevel }} class="excerpt_title">
        {{ $title | $page.RenderString }}
        </h{{ $headingLevel }}>
      </a>
      {{- with $headerPartial }}
        {{- partial $headerPartial (dict
          "Page" $page
          "SubjectPage" $subjectPage
          "ContainerClass" "excerpt_meta"
          "ShowAuthor" $showAuthor
          "AuthorAvatar" $showAuthorAvatar
          "AuthorLink" $showAuthorLink
          "ShowDate" $showDate
          "RelativeDates" $relativeDates
          "ShowTags" $showTags) }}
      {{- end }}
    </div>
    <div class="excerpt_main{{ if $excerptImage }} image{{ end }}{{ if $excerptContent }} content{{ end }}">
      <a href="{{ .Permalink }}" title="{{ $plainTitle }}">
      {{- with $excerptImage }}

        {{- $fetchPriority := "low" }}
        {{- if lt ($page.Scratch.Get "claris.image.prioritized") 1 }}
          {{- $page.Scratch.Add "claris.image.prioritized" 1 }}
          {{- $fetchPriority = "high" }}
          {{- if $debug }}
            {{- warnf "%s[%s]: claris.image.prioritized incremented to %d. Prioritizing excerpt image for %v"
                $page $template ($page.Scratch.Get "claris.image.prioritized") $subjectPage }}
          {{- end }}
        {{- else }}
          {{- if $debug }}
            {{- warnf "%s[%s]: claris.image.prioritized already at %d. Not prioritizing excerpt image for %v"
                $page $template ($page.Scratch.Get "claris.image.prioritized") $subjectPage }}
          {{- end }}
        {{- end }}

        <div class="excerpt_thumbnail">
            {{- partial "responsive-image" (dict
              "Page" $page
              "resource" .
              "title" $title
              "alt" (default $title $imageMeta.excerpt.variant.default.alt)
              "fetchpriority" $fetchPriority
              "quality" "low"
            ) }}
        </div>
      {{- end }}
        {{- with $excerptContent }}
        <div class="excerpt_content">
          {{- page.RenderString . -}}
        </div>
        {{- end }}
      </a>
    </div>
    <div class="excerpt_footer">
      <a href="{{ .Permalink }}" title="{{ $plainTitle }}">
        {{- $pageCount := 0 }}
        {{/* {{- if $debug }}
          {{- warnf "%s[%s]: Items in excerpt: %v" $subjectPage $template $excerptMeta.List }}
        {{- end }} */}}
        {{- with $excerptMeta.List }}
          {{- $pageCount = len .Data.Items }}
        {{- end }}
        {{- if (gt $pageCount 0) }}
        <p class="excerpt_footer_page-count">
        {{ $pageCount }} {{ T "articles" $pageCount }}
        </p>
        {{- else }}
        <div class="excerpt_footer_read-on">
          <span class="read-on">{{- T "read_on" }}</span>
        </div>
        {{- end }}
      </a>
    </div>
  </div>
{{- end }}
