{{- $page := default page .Page }}
{{- $excerptMeta := .Meta }}
{{- $template := "claris/_components/excerpt" }}
{{- $subjectPage := .SubjectPage }}
{{- $debug := and false (or .Debug ($page.Param "clarisdebug") ($subjectPage.Param "clarisdebug") ) }}
{{- $dbg := printf "%s subject=%s [%s]" (replaceRE `.*?((?:[^/]+/){,2})$` `$1` $page.RelPermalink)
    (replaceRE `.*?((?:[^/]+/){,2})$` `$1` $subjectPage.RelPermalink)
    (replaceRE `.*?([^/]+)$` `$1` $template) }}

{{- $scratchExcerptRenderedKey := "claris.page.excerpt-rendered" }}
{{- if not ($page.Scratch.Get $scratchExcerptRenderedKey) }}
  {{- $page.Scratch.Add $scratchExcerptRenderedKey slice }}
{{- end }}

{{- $assetVariant := .AssetVariant }}

{{- $excerptImageKey := default "excerpt.variant.default.version.default" .ExcerptImageKey }}

{{- $title := default "" .Title }}
{{- $showContent := default true .ShowContent }}
{{- $showDate := default true .ShowDate }}
{{- $relativeDates := default true .RelativeDates }}
{{- $showTags := default false .ShowTags }}
{{- $showAuthor := default false .ShowAuthor }}
{{- $showAuthorLink := default false .AuthorLink }}
{{- $showAuthorAvatar := default false .AuthorAvatar }}
{{- $headerPartial := default "" .HeaderPartial }}
{{- $itemType := default "page" .ItemType }}
{{- $headingLevel := default 3 .HeadingLevel }}
{{- $containerFloat := default false .ContainerFloat }}
{{- $containerRelativeWidth := default false .ContainerRelativeWidth }}
{{- $fetchPriority := default false .FetchPriority }}


{{- $plainTitle := partial `claris/_functions/sanitize` $title }}

{{- $excerptContent := false }}
{{- if not $excerptMeta }}
  {{- $excerptMeta = partialCached "claris/_functions/meta/single" (dict
    "Page" $subjectPage
    "AssetVariant" $assetVariant
    "Template" $template) $subjectPage.Permalink }}
{{- end }}

{{- if and false $debug }}
  {{- warnf "%s excerptMeta.Single.Page=%v" $dbg $excerptMeta.Single.Page }}
{{- end }}

{{- $containerClassList := slice "excerpt_container" }}
{{ if $page.Param "featured" }}
  {{- $containerClassList = append "featured" $containerClassList }}
{{- end }}

{{- with $containerFloat }}
  {{- $containerClassList = append (printf "float-%s" .) $containerClassList -}}
{{- end -}}

{{- with $containerRelativeWidth }}
  {{- $containerClassList = append (printf "relative-width-%d" (int .)) $containerClassList -}}
{{- end -}}

{{- if (eq $itemType "article") }}
  {{- $headerPartial = default "claris/_components/meta" .HeaderPartial  }}
{{- end }}

{{- if not (in ($page.Scratch.Get $scratchExcerptRenderedKey) $subjectPage) }}
  {{- /* if $debug }}
    {{- warnf "%s is not in excerpts rendered=[%v]" $dbg
        (delimit ($page.Scratch.Get $scratchExcerptRenderedKey) ", ") }}
  {{- end */ -}}

  {{- with $subjectPage }}
    {{- $excerptImage := false }}
    {{- $imageMeta := $excerptMeta.Single.Data.Images }}
    {{- if not $imageMeta }}
      {{- with $excerptMeta.List }}
        {{- $imageMeta = .Data.Images }}
      {{- end }}
    {{- end }}

    {{- with $imageMeta }}
      {{- with (index . (split $excerptImageKey ".")) }}
        {{- $excerptImage = .resource }}
        {{- if and false $debug }}
          {{- with $excerptImage }}
            {{- warnf "%s has excerptImage=%v" $dbg $excerptImage -}}
          {{- else }}
            {{- warnf "%s no key '%s' in imageResources=%v"
                $dbg $excerptImageKey (jsonify (dict "indent" "  ") . ) -}}
          {{- end }}
        {{- end }}
      {{- end }}
    {{- end }}

    {{- if $showContent }}
      {{- with $excerptContent = .Params.excerpt | default .Params.summary | default .Params.description }}
        {{- $excerptContent = $subjectPage.RenderString $excerptContent }}
        {{- if and false $debug }}
          {{- warnf "%s excerptContent=%q from subjectPage.Params:\n%v" $dbg $excerptContent
              (jsonify (dict "indent" "  ") $subjectPage.Params) }}
        {{- end }}
      {{- else }}
        {{- $paragraphs := .Content | findRE `<p>.*?</p>` }}
        {{- $excerptContent = index $paragraphs 0 | safeHTML }}
        {{- with $excerptContent }}
          {{- if and false $debug }}
            {{- warnf "%s excerptContent=%q from .Content:\n%v" $dbg $excerptContent
                (jsonify (dict "indent" "  ") $subjectPage.Content) }}
          {{- end }}
        {{- else }}
          {{- $excerptContent = .Summary }}
          {{- if and false $debug }}
            {{- warnf "%s excerptContent=%q from subjectPage.Summary:\n%v" $dbg $excerptContent
                (jsonify (dict "indent" "  ") $subjectPage.Summary) }}
          {{- end }}
        {{- end }}
      {{- end }}
      {{- /* with $excerptContent }}
       {{- $excerptContent = partial `claris/_functions/sanitize` $excerptContent }}
      {{- end */ -}}
    {{- end }}
    {{- $excerptTitle := $excerptMeta.Single.Formatted.Title | default $title }}
    {{- $excerptPlainTitle := $excerptMeta.Single.Data.Title | default $plainTitle }}
    <div class="{{ delimit $containerClassList ` ` }}">
      <a href="{{ .RelPermalink }}" title="{{ $excerptPlainTitle }}">
        <div class="excerpt_header">
          <h{{ $headingLevel }} class="excerpt_title">
          {{ $excerptTitle }}
          </h{{ $headingLevel }}>
          {{- with $headerPartial }}
            {{ partial $headerPartial (dict
              "Page" $page
              "SubjectPage" $subjectPage
              "ContainerClass" "excerpt_meta"
              "ShowAuthor" $showAuthor
              "AuthorAvatar" $showAuthorAvatar
              "AuthorLink" $showAuthorLink
              "ShowDate" $showDate
              "RelativeDates" $relativeDates
              "ShowTags" $showTags) }}
          {{- end }}
        </div>
        <div class="excerpt_main{{ if $excerptImage }} image{{ end }}{{ if $excerptContent }} content{{ end }}">
          {{- with $excerptImage }}
            <div class="excerpt_thumbnail">
            {{ partial "claris/_components/render-image" (dict
              "Page" $page
              "resource" .
              "title" $excerptPlainTitle
              "alt" (default $excerptPlainTitle $imageMeta.excerpt.variant.default.alt)
              "fetchpriority" $fetchPriority
            ) }}
            </div>
          {{- end }}
          {{- with $excerptContent }}
          <div class="excerpt_content">{{ . }}</div>
          {{- end }}
        </div>
        <div class="excerpt_footer">
          {{- $pageCount := 0 }}
          {{- /* {{- if $debug }}
            {{- warnf "%s Items in excerpt: %v" $dbg $excerptMeta.List }}
          {{- end }} */ -}}
          {{- with $excerptMeta.List }}
            {{- $pageCount = len .Data.Items }}
          {{- end }}
          <div class="excerpt_footer_read-on">
            <span class="read-on">{{- T "read_on" }}</span>
          </div>
          {{- if (gt $pageCount 0) }}
          <div class="excerpt_footer_page-count">
          {{ $pageCount }} {{ T "articles" $pageCount }}
          </div>
          {{- end }}
        </div>
      </a>
    </div>
    {{ $page.Scratch.Add $scratchExcerptRenderedKey $subjectPage }}
  {{- end }}
{{- end -}}
