{{- $page := .Page }}
{{- $meta := page.Scratch.Get "clarismeta" }}
{{- $title := .Title }}
{{- $fetchPriority := "high" }}
{{- if reflect.IsMap . }}
  {{- with .FetchPriority }}
    {{- $fetchPriority = . }}
  {{- end }}
{{- end }}

{{- $featureImageStyle := default "wide" ($page.Param "image.feature.style") }}
{{- $template := "claris/_components/feature-image" }}

{{- $debug := false }}
{{- /* {{- $debug = page.Scratch.Get "clarisdebug" }} */ -}}
{{/* {{- $debug = or $debug (not (not (findRE `^/([^/]+-demo/)?leadership` $page.RelPermalink) ) ) -}} */}}
{{/* {{- $debug = or $debug (eq $page.Kind "home" ) -}} */}}

{{- $featureImage := false }}
{{- with $meta.Single.Data.Images }}
  {{- with $featureImage = .feature.variant.default }}
    {{- $classPrefix := printf "feature-image" }}
    {{- $featureImageArgs := (dict
      "resource" (default .version.default.resource (index .version $featureImageStyle).resource)
      "position" $featureImage.position
      "alt" $featureImage.alt
      "title" $featureImage.title
      "credit" $featureImage.credit
      "fullbleedhorizontal" true
      "figureclass" (printf "%s_figure" $classPrefix)
      "imgclass" (printf "%s_img" $classPrefix)
      "fetchpriority" $fetchPriority
    ) }}
    {{- if $debug }}
      {{- warnf "%s[%s]: Found feature image resource $featureImage.version.default.resource=%v in \nfeatureImage=%v\nNow calling responsive-image with .resource=%v in featureImageArgs=%v"
          $page $template $featureImage.version.default.resource
          (jsonify (dict "indent" "  ") $featureImage)
          $featureImageArgs.resource
          (jsonify (dict "indent" "  ") $featureImageArgs) -}}
    {{- end }}

    {{- partial "responsive-image" (merge $featureImageArgs (dict "Page" $page)) $featureImageArgs }}

  {{- end }}
{{- end }}
{{- if not $featureImage }}
  {{- if $debug }}
    {{- warnf "%s[%s]: No feature image found: %v" $page $template (jsonify (dict "indent" "  ") $featureImage) -}}
  {{- end }}
{{- end }}
