{{- $page := .Page }}
{{- $meta := page.Scratch.Get "clarismeta" }}
{{- $title := .Title }}
{{- $debug := page.Scratch.Get "clarisdebug" }}
{{/* {{- $debug = or $debug (not (not (findRE `ownership` $page.RelPermalink) ) ) }} */}}
{{- $template := "claris/_components/feature-image" }}

{{- $featureImage := false }}
{{- with $meta.Single.Data.Images }}
  {{- with $featureImage = .feature.variant.default }}
    {{- $featureImageArgs := (dict
      "resource" .version.aspect_16x9.resource
      "FigureClass" "hero-image_above-main"
      "ImgClass" "hero-image_above-main_img"
      "Alt" $featureImage.alt
      "Title" $featureImage.title
      "Prioritize" true
    ) }}
    {{- if $debug }}
      {{- warnf "%s[%s]: Found feature image resource $featureImage.version.aspect_16x9.resource=%v in \nfeatureImage=%v\nNow calling responsive-image with .resource=%v in featureImageArgs=%v"
          $page $template $featureImage.version.aspect_16x9.resource
          (jsonify (dict "indent" "  ") $featureImage)
          $featureImageArgs.resource
          (jsonify (dict "indent" "  ") $featureImageArgs) -}}
    {{- end }}
    {{- partial "responsive-image" (merge $featureImageArgs (dict "Page" $page)) $featureImageArgs }}
  {{- end }}
{{- end }}
{{- if not $featureImage }}
  {{- if $debug }}
    {{- warnf "%s[%s]: No feature image found: %v" $page $template (jsonify (dict "indent" "  ") $featureImage) -}}
  {{- end }}
{{- end }}
