{{- $meta := page.Scratch.Get "clarismeta" }}
{{- $imagesMeta := $meta.Single.Data.Images }}
{{- $template := "partials/hero-image" }}
{{- $fetchPriority := false }}
{{- if reflect.IsMap . }}
  {{- with .FetchPriority }}
    {{- $fetchPriority = . }}
  {{- end }}
{{- end }}
{{- with $imagesMeta.hero }}
  {{- if not $fetchPriority }}
    {{- if lt (page.Scratch.Get "claris.image.prioritized") 1 }}
      {{- page.Scratch.Add "claris.image.prioritized" 1 }}
      {{- $fetchPriority = "high" }}
    {{- end }}
  {{- end }}
  {{- $imageParams := merge $imagesMeta.hero (dict
      "Page" page
      "figureclass" (printf "hero-image_%s_figure" $imagesMeta.hero.style)
      "imgclass" (printf "hero-image_%s_img" $imagesMeta.hero.style)
      "fetchpriority" $fetchPriority
      "lazy" false
    ) -}}
  {{/* {{- warnf "%s[%s]: Calling responsive-image with .style=%v and .resource=%v'"
      page $template .style .variant }} */}}
  {{- partial "responsive-image" $imageParams }}
{{- else }}
  {{- errorf "%s[%s]: Invalid page meta .Single.Image.Data.Images.hero: %v'"
      page $template $meta.Single.Data.Images.hero }}
{{- end }}
