{{- $meta := page.Scratch.Get "clarismeta" }}
{{- $imagesMeta := $meta.Single.Data.Images }}
{{- $template := "partials/hero-image" }}
{{- with $imagesMeta.hero }}
  {{- $imageParams := merge $imagesMeta.hero (dict
      "Page" page
      "figureclass" (printf "hero-image_%s_figure" $imagesMeta.hero.style)
      "imgclass" (printf "hero-image_%s_img" $imagesMeta.hero.style)
      "lazy" false
    ) }}
  {{/* {{- warnf "%s[%s]: Calling responsive-image with .style=%v and .resource=%v'"
      page $template .style .variant }} */}}
  {{- partial "responsive-image" $imageParams }}
{{- else }}
  {{- errorf "%s[%s]: Invalid page meta .Single.Image.Data.Images.hero: %v'"
      page $template $meta.Single.Data.Images.hero }}
{{- end }}
