{{- $page := . }}
{{- $relativeDates := false }}
{{- $showTags := true }}
{{- $containerClass := "article_meta" }}
{{- if reflect.IsMap . }}
  {{- with .Page }}
    {{- $page = . }}
  {{- end }}
  {{- $relativeDates = default $relativeDates .RelativeDates }}
  {{- $showTags = default $showTags .ShowTags }}
  {{- with .ContainerClass }}
    {{- $containerClass = printf "%s %s" . $containerClass }}
  {{- end }}
{{- end }}
{{- with $page -}}<!-- Restore "." to refer to page context from which the partial was called -->
  {{- $s := site.Params }}
  {{- $p := .Params }}
  {{- $article_meta := false -}}
                  {{- if ( ne $p.showDate false ) }}
                    {{- if not $article_meta }}
                    <div class="{{ $containerClass }}">
                    {{- $article_meta = true }}
                    {{- end -}}
                    <span>{{ partial "sprite" (dict "icon" "calendar") }}</span>
                    <span class="article_meta_date_published article_meta_date">
                    {{- if $relativeDates }}
                    {{- if eq .Lastmod .Date -}}
                    {{- humanize (T "meta_date_published" ) -}}
                    {{ partial "relative-date" .Date -}}
                    {{- else }}
                    {{- humanize (T "meta_date_updated" ) -}}{{ partial "relative-date" .Lastmod -}},</span>
                    <span class="article_meta_date_published article_meta_date">{{ (T "meta_date_published" ) -}}
                    &nbsp;
                    {{- (.Date.Format (default "Jan 2, 2006" $s.dateFormat)) -}}
                    {{- end }}
                    {{- else }}
                    {{- if eq .Lastmod .Date -}}
                    {{ (.Date.Format (default "Jan 2, 2006" $s.dateFormat)) -}}
                    {{- else }}
                    {{- (.Date.Format (default "Jan 2, 2006" $s.dateFormat)) }}</span>
                    <span class="article_meta_date_updated article_meta_date">({{ (T "meta_date_updated" ) -}}&nbsp;{{- (.Lastmod.Format (default "Jan 2, 2006" $s.dateFormat)) -}})
                    {{- end }}
                    {{- end -}}
                    </span>
                  {{- end -}}
                  {{- if ne .Params.showReadTime false -}}
                    {{- if not $article_meta }}
                    <div class="{{ $containerClass }}">
                    {{- $article_meta = true }}
                    {{- end -}}
                    <span class="article_meta_time">·&nbsp;{{ T "reading_time" . }}&nbsp;</span>
                  {{- end }}
                  {{- if ne $showTags false -}}
                  {{- with .Params.tags -}}
                    {{- if not $article_meta }}
                    <div class="{{ $containerClass }}">
                    {{- $article_meta = true }}
                    {{- end }}
                    {{- partial "claris/_components/taxonomy-inline" (dict "Page" $page "Taxonomy" "tags" "RelativeDates" $relativeDates) }}
                  {{- end }}
                  {{ end }}
                  {{- if default true ($page.Param "showShare") }}
                    {{- if not $article_meta }}
                    <div class="{{ $containerClass }}">
                    {{- $article_meta = true }}
                    {{- end }}
                      <div class="page_only"> · {{- partial "claris/_components/share" . }}</div>
                    {{- end }}
                  {{- if $article_meta }}
                  </div>
                  {{- end }}
{{- end }}
