{{- $page := .Page }}
{{- $subjectPage := default $page .SubjectPage }}
{{- $subjectMeta := default ($subjectPage.Scratch.Get "clarismeta")
    (partialCached "claris/_functions/meta/index" (dict "Page" $subjectPage) $subjectPage.Permalink) }}
{{- $showAuthor := default ($page.Param "showauthor") .ShowAuthor }}
{{- $showDate := default ($page.Param "showdate") .ShowDate }}
{{- $dateFormat := default ":date_long" ($page.Param "dateformat") }}
{{- $showAuthorLink := default false .AuthorLink }}
{{- $showAuthorAvatar := default false .AuthorAvatar }}
{{- $relativeDates := default false .RelativeDates }}
{{- $showTags := default true .ShowTags }}
{{- $containerClass := "article_meta font-meta role-display" }}
{{- with .ContainerClass }}
  {{- $containerClass = printf "%s %s" . $containerClass }}
{{- end }}

{{- with $subjectPage -}}
  {{- $article_meta := false -}}
                  {{- if $showAuthor }}
                    {{- if not $article_meta }}
                    <div class="{{ $containerClass }}">
                    {{- $article_meta = true }}
                    {{- end }}
                      <div class="article_meta_author article_meta_item">
                      {{- $authorName := $subjectMeta.Single.Data.Author.Name }}
                          {{- if $showAuthorLink }}
                        <a href="{{ $subjectMeta.Single.Data.Author.URL }}" title="{{ T `view_author_profile` (dict `Count` 1 `Name` $authorName) }}" class="article_meta_author_link">
                          {{- end }}
                      {{- if $showAuthorAvatar }}
                        {{- $authorAvatarWidth := 96 }}
                        {{- $avatarImage := partial "claris/_functions/resources/images/logo-image" (dict
                          "Page" $page
                          "resource" $subjectMeta.Single.Data.Author.Avatar
                          "width" $authorAvatarWidth
                        ) }}
                        {{- with $avatarImage }}
                          <img src="{{ .RelPermalink }}" class="article_meta_author_avatar_img" width="{{ $authorAvatarWidth }}" height="{{ $authorAvatarWidth }}" alt="{{ $authorName }}">
                        {{- end }}
                      {{- end }}
                        <span class="article_meta_author_name">
                          {{- $authorName }}
                          </span>
                        {{- if $showAuthorLink }}
                        </a>
                        {{- end }}
                    </div>
                  {{- end }}
                  {{- if $showDate }}
                    {{- if not $article_meta }}
                    <div class="{{ $containerClass }}">
                    {{- $article_meta = true }}
                    {{- end }}
                      <div class="article_meta_date article_meta_item">
                        <span>{{ partial "sprite" (dict "icon" "calendar") }}</span>
                        <span class="article_meta_date_published article_meta_date">
                        {{- if $relativeDates }}
                        {{- if eq .Lastmod .Date -}}
                        {{- humanize (T "meta_date_published" ) -}}
                        {{ partial "relative-date" .Date -}}
                        {{- else }}
                        {{- humanize (T "meta_date_updated" ) -}}{{ partial "relative-date" .Lastmod -}},</span>
                        <span class="article_meta_date_published article_meta_date">{{ (T "meta_date_published" ) -}}
                        &nbsp;
                        {{- (.Date | time.Format $dateFormat) -}}
                        {{- end }}
                        {{- else }}
                        {{- if eq .Lastmod .Date -}}
                        {{ (.Date | time.Format $dateFormat) -}}
                        {{- else }}
                        {{- (.Date | time.Format $dateFormat) }}</span>
                        <span class="article_meta_date_updated article_meta_date">({{ (T "meta_date_updated" ) -}}&nbsp;{{- (.Lastmod | time.Format $dateFormat) -}})
                        {{- end }}
                        {{- end -}}
                        </span>
                      </div>
                  {{- end }}
                  {{- if ne .Params.showReadTime false -}}
                    {{- if not $article_meta }}
                    <div class="{{ $containerClass }}">
                    {{- $article_meta = true }}
                    {{- end }}
                      <div class="article_meta_reading-time article_meta_item">
                        <span>{{ partial "sprite" (dict "icon" "clock") }}</span>
                        <span>{{ T "reading_time" $subjectPage }}</span>
                      </div>
                  {{- end }}
                  {{- if ne $showTags false -}}
                  {{- with .Params.tags -}}
                    {{- if not $article_meta }}
                    <div class="{{ $containerClass }}">
                    {{- $article_meta = true }}
                    {{- end }}
                      {{/* <div class="article_meta_taxonomy article_meta_item"> */}}
                        {{- partial "claris/_components/taxonomy-inline" (dict "Page" $page "SubjectPage" $subjectPage "Taxonomy" "tags" "RelativeDates" $relativeDates) }}
                      {{/* </div> */}}
                  {{- end }}
                  {{ end }}
                  {{- if default true ($page.Param "showShare") }}
                    {{- if not $article_meta }}
                    <div class="{{ $containerClass }}">
                    {{- $article_meta = true }}
                    {{- end }}
                      <div class="article_meta_share article_meta_item"> · {{- partial "claris/_components/share" . }}</div>
                    {{- end }}
                  {{- if $article_meta }}
                  </div>
                  {{- end }}
{{- end }}
