{{- $page := .Page }}
{{- $meta := $page.Scratch.Get "clarismeta" }}
{{- $relativeDates := default false .RelativeDates }}
{{- $showTags := default true .ShowTags }}
{{- $containerClass := "article_meta" }}
{{- with .ContainerClass }}
  {{- $containerClass = printf "%s %s" . $containerClass }}
{{- end }}

{{- with $page -}}<!-- Restore "." to refer to page context from which the partial was called -->
  {{- $s := site.Params }}
  {{- $p := .Params }}
  {{- $article_meta := false -}}
                  {{- if ( ne $p.showAuthor false ) }}
                    {{- if not $article_meta }}
                    <div class="{{ $containerClass }}">
                    {{- $article_meta = true }}
                    {{- end -}}
                    <div class="article_meta_author">
                    {{- $authorName := $meta.Single.Data.Author.Name }}
                    {{- $authorAvatarWidth := 96 }}
                    {{- $avatarImage := partial "claris/_functions/resources/images/logo-image" (dict
                      "Page" $page
                      "LogoImage" $meta.Single.Data.Author.Avatar
                      "Width" $authorAvatarWidth
                    ) }}
                    {{- with $avatarImage }}
                      <a href="{{ $meta.Single.Data.Author.URL }}" title="{{ T `view_author_profile` (dict `Count` 1 `Name` $authorName) }}" class="article_meta_author_link">
                        <img src="{{ absURL .Permalink }}" class="article_meta_author_avatar_img" width="{{ $authorAvatarWidth }}" height="{{ $authorAvatarWidth }}" alt="{{ $authorName }}">
                      </a>
                    {{- end }}
                      <a href="{{ $meta.Single.Data.Author.URL }}" title="{{ T `view_author_profile` (dict `Count` 1 `Name` $authorName) }}" class="article_meta_author_link">
                        <span class="article_meta_author_name">
                        {{- $authorName }}
                        </span>
                      </a>
                    </div>
                  {{- end -}}
                  {{- if ( ne $p.showDate false ) }}
                    {{- if not $article_meta }}
                    <div class="{{ $containerClass }}">
                    {{- $article_meta = true }}
                    {{- end -}}
                    <div class="article_meta_date">
                      <span>{{ partial "sprite" (dict "icon" "calendar") }}</span>
                      <span class="article_meta_date_published article_meta_date">
                      {{- if $relativeDates }}
                      {{- if eq .Lastmod .Date -}}
                      {{- humanize (T "meta_date_published" ) -}}
                      {{ partial "relative-date" .Date -}}
                      {{- else }}
                      {{- humanize (T "meta_date_updated" ) -}}{{ partial "relative-date" .Lastmod -}},</span>
                      <span class="article_meta_date_published article_meta_date">{{ (T "meta_date_published" ) -}}
                      &nbsp;
                      {{- (.Date.Format (default "Jan 2, 2006" $s.dateFormat)) -}}
                      {{- end }}
                      {{- else }}
                      {{- if eq .Lastmod .Date -}}
                      {{ (.Date.Format (default "Jan 2, 2006" $s.dateFormat)) -}}
                      {{- else }}
                      {{- (.Date.Format (default "Jan 2, 2006" $s.dateFormat)) }}</span>
                      <span class="article_meta_date_updated article_meta_date">({{ (T "meta_date_updated" ) -}}&nbsp;{{- (.Lastmod.Format (default "Jan 2, 2006" $s.dateFormat)) -}})
                      {{- end }}
                      {{- end -}}
                      </span>
                    </div>
                  {{- end -}}
                  {{- if ne .Params.showReadTime false -}}
                    {{- if not $article_meta }}
                    <div class="{{ $containerClass }}">
                    {{- $article_meta = true }}
                    {{- end -}}
                    <div class="article_meta_reading-time">
                      <span>{{ partial "sprite" (dict "icon" "clock") }}</span>
                      <span>{{ T "reading_time" . }}</span>
                    </div>
                  {{- end }}
                  {{- if ne $showTags false -}}
                  {{- with .Params.tags -}}
                    {{- if not $article_meta }}
                    <div class="{{ $containerClass }}">
                    {{- $article_meta = true }}
                    {{- end }}
                    {{- partial "claris/_components/taxonomy-inline" (dict "Page" $page "Taxonomy" "tags" "RelativeDates" $relativeDates) }}
                  {{- end }}
                  {{ end }}
                  {{- if default true ($page.Param "showShare") }}
                    {{- if not $article_meta }}
                    <div class="{{ $containerClass }}">
                    {{- $article_meta = true }}
                    {{- end }}
                      <div class="page_only"> · {{- partial "claris/_components/share" . }}</div>
                    {{- end }}
                  {{- if $article_meta }}
                  </div>
                  {{- end }}
{{- end }}
