{{- $page := .Page }}
{{- $template := "claris/_components/obfuscated-email" }}
{{- $text := .Text }}
{{- $plain := .Plain }}
{{- $plainText := .Plain }}
{{- $noScript := default (T "obfuscated-link_requires-javascript") .NoScript }}
{{- if not $plain }}
  {{- /* If no email address is provided, default to the email of the first author of the page or site */ -}}
  {{- $authorMeta := partialCached "claris/_functions/meta/author" (dict "Page" $page "Template" $template) $page.Permalink }}
  {{- with $authorMeta.Name }}
    {{- with $plainText = $authorMeta.Email }}
    {{- end }}
  {{- else }}
    {{- errorf "%s[%s]: no valid email found: \n.Param \"siteAuthor\": '%v'\n.Param \"author\": '%v'\n.Param \"authors\": '%v'"
        $page $template ($page.Param "siteAuthors") ($page.Param "author") ($page.Param "authors") }}
  {{- end }}
{{- end }}
{{- with $plainText }}
  {{- $url := urls.Parse $plainText }}
  {{- if (le (len $url.Scheme) 1) }}
    {{- if (strings.FindRE `.+@.+` $plainText) }}
      {{- $url = urls.Parse (printf "mailto:%s" $url) }}
    {{- else }}
      {{- errorf "%s[%s]: Invalid email address: .Plain=%v $plainText=%v $url=%v .Scheme=%v .Host=%v .RequestURI=%v"
          $page $template $plain $plainText $url $url.Scheme $url.Host $url.RequestURI }}
    {{- end }}
  {{- end }}
  {{- if (gt (len $url.Scheme) 1) }}
    {{- $plain = printf "%s" $url }}
    {{- partial "claris/_components/obfuscated-link" (dict "Page" $page "Plain" $plain "Text" $text "NoScript" $noScript) }}
  {{- else }}
    {{- errorf "%s[%s]: Failed to fix invalid email address: .Plain=%v $plainText=%v $url=%v .Scheme=%v .Host=%v .RequestURI=%v"
        $page $template $plain $plainText $url $url.Scheme $url.Host $url.RequestURI }}
  {{- end }}
{{- else }}
  {{- errorf "%s[%s]: Not a plain email address: .Plain='%v'\n.Param \"siteAuthor\": '%v'\n.Param \"author\": '%v'\n.Param \"authors\": '%v'"
      $page $template .Plain ($page.Param "siteAuthors") ($page.Param "author") ($page.Param "authors") }}
{{- end -}}
