{{- $template := "claris/_components/render-image" }}
{{- $page := default page .Page }}
{{- $debug := and false (or .Debug ($page.Param "clarisdebug") ) }}
{{- $dbg := printf "%s[%s]" (replaceRE `.*?((?:[^/]+/){,2})$` `$1` $page.RelPermalink) (replaceRE `.*?([^/]+)$` `$1` $template) }}

{{- with $imageAttributes := partialCached "claris/_functions/resources/images/gather-image-attributes" . (merge . (dict "Page" nil) ) }}

  {{- with .figure.class }}
  <figure class="{{ safeHTMLAttr (delimit . ` ` ) }}">
  {{- end }}

  <picture{{ with .picture.class }} class="{{ safeHTMLAttr (delimit . ` ` ) }}"{{ end }}>

  {{- range $variantName, $variantAttributes := . }}

    {{- if $debug }}
      {{- warnf "%s rendering variant=%v:\n%v" $dbg .variant (jsonify (dict "indent" "  ") . ) }}
    {{- end }}

    {{- range .sources }}
      {{- $sourceAttributes := merge $variantAttributes . }}
      {{- if $debug }}
        {{- warnf "%s rendering source as %q:\n%v" $dbg .elementname (jsonify (dict "indent" "  ") . ) }}
      {{- end }}
      {{- partialCached "claris/_components/render-picture-child" (merge $sourceAttributes (dict "Page" $page) ) $sourceAttributes }}
    {{- end }}

  {{- end }}

  </picture>
  {{- with .figure }}
    {{- with .caption -}}
      <figcaption>
        {{- . | $page.RenderString -}}
      </figcaption>
    {{- end }}
  </figure>
  {{- end }}

{{- end }}
