{{- $template := "claris/_components/render-image" }}
{{- $page := default page .Page }}
{{- $debug := and false (or .Debug ($page.Param "clarisdebug") ) }}
{{- $dbg := printf "%s[%s]" (replaceRE `.*?((?:[^/]+/){,2})$` `$1` $page.RelPermalink) (replaceRE `.*?([^/]+)$` `$1` $template) }}

{{- $parsedArgs := merge . (dict
  "Page" nil
  "Debug" $debug
) -}}

{{- $defaultVariantName := "default" }}
{{- with $sources := .sources }}
  {{- if and false $debug }}
    {{- warnf "%s rendering sources:\n%v"
        $dbg (jsonify (dict "indent" "  ") . ) }}
  {{- end }}

  {{- $styleAttr := false }}
  {{- with $parsedArgs.image.position }}
    {{- $styleAttr = printf "object-fit: cover; object-position: %s" . }}
  {{- end }}

  {{- /* Determine if there are multiple variants or multiple formats
      If so, use a `picture` element, otherwise, we only need an `img` */ -}}
  {{- $singleSrcSet  := false }}
  {{- with index (where $sources "variant" "eq" $defaultVariantName) 0 }}
    {{- /* The last format is the default format, which is placed into the `img` element */ -}}
    {{- with $formatSrcSets := .formatsrcsets.formats }}
      {{- if eq (len . ) 1 }}
        {{- with $singleSrcSet = last 1 . }}
          {{- if $debug }}
            {{- warnf "%s singleSrcSet:\n%v" $dbg
                (jsonify (dict "indent" "  ") (index . 0) ) }}
          {{- end }}
        {{- end }}
      {{- end }}
    {{- end }}
  {{- end }}

  {{- $defaultVariant     := index (where $sources "variant" "eq" $defaultVariantName) 0 }}
  {{- $nonDefaultVariants := where $sources "variant" "ne" $defaultVariantName }}
  {{- $multiVariant := (not (not $nonDefaultVariants) ) }}

  {{- $figureClass := union $parsedArgs.container.containerclass $parsedArgs.container.figureclass }}
  {{- $pictureClass := cond (not $figureClass) $parsedArgs.container.containerclass slice }}

  {{- with $figureClass }}
  <figure class="{{ safeHTMLAttr (delimit . ` ` ) }}">
  {{- end }}

  <picture{{ with $pictureClass }} class="{{ safeHTMLAttr (delimit . ` ` ) }}"{{ end }}>

  {{- range $nonDefaultVariants }}
    {{- partial "claris/_components/render-picture-source" (merge $parsedArgs . ) }}
  {{- end }}

  {{- with $defaultVariant }}
    {{- $lastSourceIdx := sub (len .formatsrcsets.formats) 1 }}
    {{- $childElement := "source" }}
    {{- if and false $debug }}
      {{- warnf "%s rendering defaultVariant=%v:\n%v" $dbg .variant (jsonify (dict "indent" "  ") . ) }}
    {{- end }}
    {{- range $formatIdx, $formatSpec := .formatsrcsets.formats }}
      {{- if eq $formatIdx $lastSourceIdx }}
        {{- $childElement = "img" }}
      {{- end }}
      {{- with merge $parsedArgs.image $defaultVariant . }}
        {{- if $debug }}
          {{- warnf "%s rendering formatSrcSet at idx=%d as %q:\n%v" $dbg
              $formatIdx $childElement (jsonify (dict "indent" "  ") . ) }}
        {{- end }}
        {{- partial "claris/_components/render-picture-child" (merge . (dict
            "elementname" $childElement "Page" $page
        ) ) }}
      {{- end }}
    {{- end }}
  {{- end }}
  </picture>
  {{- with $figureClass }}
    {{- with $parsedArgs.container.caption -}}
      <figcaption>
        {{- . | $page.RenderString -}}
      </figcaption>
    {{- end }}
  </figure>
  {{- end }}

{{- end }}
