{{- $template := "claris/_components/render-picture-source" }}
{{- $page := default page .Page }}
{{- $debug := and false (or .Debug ($page.Param "clarisdebug") ) }}
{{- $dbg := printf "%s[%s]" (replaceRE `.*?((?:[^/]+/){,2})$` `$1` $page.RelPermalink) (replaceRE `.*?([^/]+)$` `$1` $template) }}

{{- $parsedArgs := merge . (dict
  "Page" nil
  "Debug" $debug
) -}}

{{- if $debug }}
  {{- warnf "%s media=%v: parsedArgs:\n%v"
      $dbg .media (jsonify (dict "indent" "  ") $parsedArgs ) }}
{{- end }}

{{- with $parsedArgs }}
  {{- if $debug }}
    {{- warnf "%s Add source with args:\n%v"
        $dbg (jsonify (dict "indent" "  ") . ) }}
  {{- end }}
  <source type="{{ safeHTMLAttr .resource.MediaType }}"
  {{- with .media }}
      media="{{ safeCSS . }}"
  {{- end }}
  {{- if .srcset }}
      srcset="{{ safeHTMLAttr .srcset }}"
      sizes="{{ safeHTMLAttr .sizes }}"
  {{- end }}
  >
{{- end }}
