{{- $template := "claris/_components/render-image" }}
{{- $page := default page .Page }}
{{- $meta := page.Scratch.Get "clarismeta" }}
{{- $debug := and false (or .Debug ($page.Param "clarisdebug") ) }}
{{- $dbg := printf "%s[%s]" (replaceRE `.*?((?:[^/]+/){,2})$` `$1` $page.RelPermalink) (replaceRE `.*?([^/]+)$` `$1` $template) }}

{{- $defaultVariantName := "default" }}

{{- $parsedArgs := dict }}
{{- with $parsedArgs = partial "claris/_functions/resources/images/parse-args" (merge . (dict "structured" true "Page" $page) ) -}}
  {{- $parsedArgs = merge $parsedArgs (dict
    "Debug" $debug
  ) -}}

{{- end }}

{{- $variants := (dict
  $defaultVariantName $parsedArgs
) }}

{{- $pictureResources := slice }}
{{- range $variantName, $variantMeta := $variants }}

  {{- $imgArgNames := slice "alt" "imgclass" "lazy" "sizes" }}
  {{- $variantImgArgs := dict "variant" $variantName }}
  {{- range $k, $v := $parsedArgs }}
    {{- if in $imgArgNames $k }}
      {{- $variantImgArgs = merge $variantImgArgs (dict $k .) }}
    {{- end }}
  {{- end }}

  {{- $variantSrcSetArgs := merge $parsedArgs.image $parsedArgs.processing }}
  {{- with $variantFormatSrcSets := partial "claris/_functions/resources/images/image-srcset"
      $variantSrcSetArgs $variantSrcSetArgs }}
    {{- if and false $debug }}
      {{- warnf "%s image-srcset with parsedArgs:\n%v\nreturned variantFormatSrcSets:\n%v" $dbg
          (jsonify (dict "indent" "  ") (merge $parsedArgs
            (dict "resource" (printf "%s [%s]" $parsedArgs.resource.Name
              $parsedArgs.resource.MediaType))))
          (jsonify (dict "indent" "  ") $variantFormatSrcSets) }}
    {{- end }}

    {{- $pictureResources = append (merge $variantImgArgs (dict
      "formatsrcsets" $variantFormatSrcSets
    ) ) $pictureResources }}
  {{- else }}
    {{- if not (or .src .resource) }}
      {{- errorf "%s missing image resource=%#v.\n\nDid you pass the path to an image resource with the argument src=%v?\n\nParsed arguments for variant=%v:\n%v" $dbg
          .resource .src $variantName (jsonify (dict "indent" "  ") $variantSrcSetArgs) -}}
    {{- else }}
      {{- errorf "%s failed to get srcSet with variantSrcSetArgs:\n%v" $dbg
          (jsonify (dict "indent" "  ") $variantSrcSetArgs) -}}
    {{- end }}
  {{- end }}

{{- end }}

{{- with $pictureResources }}
  {{- $renderPictureArgs := merge $parsedArgs (dict "sources" $pictureResources) }}
  {{- partialCached "claris/_components/render-picture"
      (merge $renderPictureArgs (dict "Page" $page)) $renderPictureArgs }}
{{- end }}
