{{- $template := "claris/_components/render-img" }}
{{- $page := default page .Page }}
{{- $debug := and false (or .Debug ($page.Param "clarisdebug") ) }}
{{- $dbg := printf "%s[%s]" (replaceRE `.*?((?:[^/]+/){,2})$` `$1` $page.RelPermalink) (replaceRE `.*?([^/]+)$` `$1` $template) }}

{{- $parsedArgs := merge . (dict
  "Page" nil
  "Debug" $debug
) -}}

{{- if $debug }}
  {{- warnf "%s media=%v: parsedArgs:\n%v"
      $dbg .media (jsonify (dict "indent" "  ") $parsedArgs ) }}
{{- end }}

{{- with $parsedArgs }}
  {{ $elementName := default "img" (trim .elementname " " | lower) }}
  {{- if $debug }}
    {{- warnf "%s Add elementname=%q with args:\n%v"
        $dbg $elementName (jsonify (dict "indent" "  ") . ) }}
  {{- end }}

  {{- /* The partial "claris/_functions/resources/images/image-srcset"
      stores a reference to the last image resource in `.resource`.
      Hence this is the last image of the srcset and its
      `.RelPermalink` attribute can be used as the `src` attribute
      of the `img` element */ -}}
  {{- printf "<%s" $elementName | safeHTML }}
    {{- with .resource }}
      {{- with and (eq $elementName "img") .RelPermalink }}
          src="{{ safeHTMLAttr . }}"
      {{- end }}
      {{- with and (eq $elementName "source") . }}
         type="{{ safeHTMLAttr .MediaType }}"
      {{- end }}
      {{- with .Width }} width="{{ safeHTMLAttr . }}"{{ end }}
      {{- with .Height }} height="{{ safeHTMLAttr . }}"{{ end }}
    {{- end }}
    {{- if .srcset }}
      {{- with .srcset }}
       srcset="{{ safeHTMLAttr . }}"
      {{- end }}
      {{- with .sizes }}
        sizes="{{ safeCSS . }}"
      {{- else }}
        {{- errorf "%s when passing `srcset`, `sizes` attribute is mandatory" $dbg }}
      {{- end }}
    {{- end }}
    {{- with .imgclass }}
        class="{{ safeHTMLAttr (delimit . ` ` ) }}"
    {{- end }}
    {{- with .media }}
        media="{{ safeCSS . }}"
    {{- end }}
    {{- with .style }}
        style="{{ safeCSS . }}"
    {{- end }}
    {{- if eq $elementName "img" }}
      {{- with .title }}
        title="{{ safeHTMLAttr . }}"
      {{- end }}
      {{- with .alt }}
          alt="{{ safeHTMLAttr . }}"
      {{- end }}
      {{- with .lightbox }}
data-zoomable="{{ "true" | safeHTMLAttr }}"
      {{- end }}
    {{- end }}
  >
{{- end }}
