{{- $page := false }}
{{- $subjectPage := . }}
{{- $taxonomy := default "tags" .Taxonomy }}
{{- if reflect.IsMap . }}
  {{- $page = .Page }}
  {{- $subjectPage = .SubjectPage }}
{{- end }}
{{- with $subjectPage -}}
{{ if .Param $taxonomy }}
  {{ range $index, $value := (.GetTerms $taxonomy) }}
    {{- $linkTitle := default .LinkTitle (T .LinkTitle) }}
    <a href="{{ .RelPermalink }}" title="{{ $linkTitle }}" class="article_meta_tag button button_translucent">
      {{- $linkTitle -}}
    </a>
  {{ end }}
{{ end }}
{{ end }}
