{{- $page := .Page }}
{{- $template := "claris/_components/taxonomy" }}
{{- $headingLevel := default 3 .HeadingLevel }}
{{- $tagsLimit := (default 100 site.Params.numberOfTagsShown) }}
{{- $taxonomyMaxYears := (default 10 site.Params.taxonomyMaxYears) }}
{{- $sidebarTaxonomies := site.Taxonomies }}
{{- with site.Params.sidebarTaxonomies }}
  {{- $sidebarTaxonomies = . }}
{{- end }}
{{- $section := lower $page.Section }}
{{- range $taxonomyID, $taxonomy := site.Taxonomies }}
  {{- if in $sidebarTaxonomies $taxonomyID }}
    {{- $recentTagsScratch := newScratch }}
    {{- $taxonomyListComplete := true }}
    {{- range $term := $taxonomy.Alphabetical }}
      {{- $taxonomyListComplete := true }}
      {{- $recentPages := where (where .Pages "Section" "eq" $section) "Lastmod" "ge" (now.AddDate (int (sub 0 $taxonomyMaxYears)) 0 0) }}
      {{- $recentTagsScratch.Set "recentTagCounter" 0 }}
      {{- $recentTagsScratch.Set "lastArticleDate" ("2006-05-04" | time) }}
      {{- range $recentPages }}
        {{- $recentTagsScratch.Add "recentTagCounter" 1 }}
        {{- if gt .PublishDate ($recentTagsScratch.Get "lastArticleDate")}}
        {{- $recentTagsScratch.Set "lastArticleDate" .PublishDate }}
        {{- end }}
      {{- end }}
      {{- if gt ($recentTagsScratch.Get "recentTagCounter") 0 }}
        {{- $recentCount := ($recentTagsScratch.Get "recentTagCounter") }}
        {{- $lastArticleDate := ($recentTagsScratch.Get "lastArticleDate") }}
        {{- $recentTagsScratch.SetInMap "tagsInfo" $term.Name (dict "tagName" $term.Name "lastArticleDate" $lastArticleDate "recentCount" $recentCount "term" $term) }}
      {{- else }}
        {{- $taxonomyListComplete = false }}
      {{- end }}
    {{- end }}
    {{- $recentTagsInfo := $recentTagsScratch.Get "tagsInfo" }}
    {{- if gt $recentTagsInfo 0 }}
        <div class="sidebar_item">
          {{ printf "<h%v class=\"taxonomy\" id=\"%s-section\">" $headingLevel $taxonomyID | safeHTML }}{{ default $taxonomyID (T $taxonomyID) | strings.FirstUpper }}{{ printf "</h%v>" $headingLevel | safeHTML }}
          <nav class="taxonomy-overlay_nav">
          {{- $slicedTags := sort (sort (sort $recentTagsInfo "lastArticleDate" "desc") "recentCount" "desc") "tagName" "desc" | first $tagsLimit }}
          {{- $taxonomyPageURL := relLangURL $taxonomyID -}}
          {{- range $slicedTags }}
            {{- $recentCount := .recentCount }}
            {{- $term := .term }}
            {{- $titleMap := partial "partials/claris/_components/taxonomy/title.html" (dict "taxonomy" $taxonomyID "term" $term) }}
            <a href='{{ $taxonomyPageURL }}/{{ (replace $term.Name "#" "%23") | urlize }}/' class="article_meta_tag button button_translucent" title="{{ $titleMap.link }}">
              {{- $titleMap.term }}
              <span class="button_tally">{{ $term.Count }}</span>
            </a>
          {{- end }}
          {{- if (or $taxonomyListComplete (gt (len $taxonomy.ByCount) $tagsLimit) ) }}
            <br>
            <div class="taxonomy-overlay_toggle button button_translucent">{{ T (printf "all_%s" (lower $taxonomyID)) }}</div>
          {{- $tagsInfo := newScratch }}
            <div class="taxonomy-overlay_container">
              <div class="taxonomy-overlay_list">
              {{- range $term := $taxonomy.Alphabetical }}
                {{- $tagsInfo.Add "tagsInfo" (slice .Name .Count)}}
                {{- $titleMap := partial "partials/claris/_components/taxonomy/title.html" (dict "taxonomy" $taxonomyID "term" $term) }}
                <a href="{{ $taxonomyPageURL }}/{{ (replace .Name `#` `%23`) | urlize }}/" class="article_meta_tag button button_translucent" data-position="{{ .Count }}" title="{{ $titleMap.link }}">
                  {{- $titleMap.term -}}
                  <span class="button_tally">{{ .Count }}</span>
                </a>
              {{- end }}
                <div class="taxonomy-overlay_sort">
                  <span class="taxonomy-overlay_sort_button taxonomy-overlay_sort_button_alphabetically" title="{{ T `taxonomy-overlay_sort_alphabetically` }}">{{ T `taxonomy-overlay_sort_alphabetically` }}</span>
                  <span class="taxonomy-overlay_sort_button taxonomy-overlay_sort_button_frequency" title="{{ T `taxonomy-overlay_sort_frequency` }}">{{ T `taxonomy-overlay_sort_frequency` }}</span>
                </div>
                <span class="taxonomy-overlay_hide"><svg class="icon">
                  <use xlink:href="#icon-close"></use>
                </svg></span>
              </div>
            </div>
          </nav>
        </div>
      {{- end }}
    {{- end }}
  {{- end }}
{{- end -}}

{{ define "partials/claris/_components/taxonomy/title.html" }}
  {{ $template := "claris/_components/taxonomy/title" }}
  {{ $dbg := printf "%s%v [%s]" (replaceRE `.*?((?:[^/]+/){,2})$` `$1` page.RelPermalink)
    (replaceRE `.*?([^/]+)$` `$1` $template) }}
  {{ $titleMap := dict }}

  {{ $taxonomy := $.taxonomy }}
  {{ $tagTitle := $.term.Page.Title }}

  {{/* `$term.Page.Title` returns a capitalized version of the tag.
      Therefore, we need to lowercase it when looking up its translation */}}
  {{ with T (lower $tagTitle) }}
    {{- $tagTitle = . }}
  {{ else }}
    {{- $tagTitle = strings.FirstUpper $tagTitle }}
  {{ end }}
  {{ $linkTitle := $tagTitle }}
  {{ with T "articles_with_taxonomy" }}
    {{- $linkTitle = printf "%s %s '%s'" (strings.FirstUpper .) (T $taxonomy (dict "Count" 1) ) $tagTitle }}
  {{ end }}
  {{ $titleMap = (dict "term" $tagTitle "link" $linkTitle) }}
  {{ return $titleMap }}
{{ end }}
