<div class="terms-of-use">
      <div class="terms-of-use__surface">
        <output class="terms-of-use__label">
          We serve cookies on this site to analyze traffic, remember your preferences, and optimize your experience.
        </output>
        <div class="terms-of-use__actions">
          <a href="https://policies.google.com/technologies/cookies" class="button button_translucent">More details</a>
          <a class="button button_translucent">OK</a>
        </div>
      </div>
    </div>
