{{- $meta := page.Scratch.Get "clarismeta" }}
{{- $template := "claris/_components/title" }}
{{- $title := default page.Title $meta.Single.Data.Title }}
{{- $headingLevel := 1 }}
{{- $subtitle := default page.Params.subtitle $meta.Single.Data.Subrtitle }}
{{- $supertitle := default page.Params.supertitle $meta.Single.Data.Supertitle }}
{{- $titleClass := "content-title" }}

{{- if reflect.IsMap . }}
  {{- with .Supertitle }}
    {{- $supertitle = . }}
  {{- end }}
  {{- with .Subtitle }}
    {{- $subtitle = . }}
  {{- end }}
  {{- with .TitleClass }}
    {{- $titleClass = . }}
  {{- end }}
  {{- $headingLevel = default $headingLevel .HeadingLevel }}
{{- end }}

{{- $supertitlePlain := default "" ($supertitle | partial `claris/_functions/sanitize`) }}
{{- $subtitlePlain := default "" ($subtitle | partial `claris/_functions/sanitize`) }}

{{- $supertitleOutside := $supertitle }}
{{- $subtitleOutside := $subtitle }}
{{- $supertitleInside := "" }}
{{- $subtitleInside := "" }}

{{- if or $supertitlePlain $subtitlePlain }}
  {{- $min := default 10 (index (page.Param "meta.headline.targetlength") 0) }}
  {{- $max := default 60 (index (page.Param "meta.headline.targetlength") 1) }}
  {{- if le (len $title) $max }}
    {{- if and $supertitlePlain (le (add (len $title) (len $supertitlePlain) 2) $max) }}
      {{- $supertitleInside = $supertitleOutside }}
      {{- $supertitleOutside = "" }}
      {{- if and $subtitlePlain (le (add (len $title) (len $supertitlePlain) (len $subtitlePlain) 5) $max) }}
        {{- $subtitleInside = $subtitleOutside }}
        {{- $subtitleOutside = "" }}
      {{- end }}
    {{- else }}
      {{- if and $subtitlePlain (le (add (len $title) (len $subtitlePlain) 2) $max) }}
        {{- $subtitleInside = $subtitleOutside }}
        {{- $subtitleOutside = "" }}
      {{- end }}
    {{- end }}
  {{- else }}
    {{- warnf "%s[%s]: Title=%v [%d characters] > targetlength=%d: %v"
        page $template $title (len $title) $max (substr $title 0 $max) }}
  {{- end }}
{{- end }}

{{- with page -}}<!-- Restore "." to refer to page context from which the partial was called -->
  {{- /* with $meta.Single.Data }}
    {{- partial "html-comment" (printf "[%s]: BEGIN: Kind=%v $meta.Single.Title=%v .Supertitle=%v .Subtitle=%v .Tagline=%v"
        $template page.Kind .Title .Supertitle .Subtitle .Tagline ) }}
  {{- end */ -}}

  {{- if $title }}
          <div{{- with $titleClass }} class="{{ . }}"{{ end }}>
    {{- with $supertitleOutside -}}
           <span class="supertitle">{{. | page.RenderString }}<span class="visually-hidden">: </span></span>
    {{- end -}}
          <h{{ $headingLevel }} id="articleTop">
    {{- with $supertitleInside -}}
           <span class="supertitle">{{. | page.RenderString }}<span class="visually-hidden">: </span></span>
    {{- end -}}

    <span class="title">{{- $title | page.RenderString -}}</span>

    {{- with $subtitleInside -}}
            <span class="subtitle"><span class="visually-hidden"> – </span>{{. | page.RenderString }}</span>
    {{- end -}}
         </h{{ $headingLevel }}>
    {{- with $subtitleOutside -}}
            <span class="subtitle"><span class="visually-hidden"> – </span>{{. | page.RenderString }}</span>
    {{- end -}}
        </div>
  {{- end }}
{{- end }}
{{- /* partial "html-comment" (printf "[%s]:   END" $template) */ -}}
