{{- $page := .Page }}
{{- $meta := .Meta }}
{{- $template := "claris/_components/title" }}
{{- $title := default .Page.Title .Meta.Single.Data.Title }}
{{- $subTitle := $page.Params.subtitle }}
{{- $superTitle := $page.Params.supertitle }}
{{- $titleClass := "content-title" }}

{{- with .SuperTitle }}
  {{- $superTitle = . }}
{{- end }}
{{- with .SubTitle }}
  {{- $subTitle = . }}
{{- end }}

{{- with .TitleClass }}
  {{- $titleClass = . }}
{{- end }}

{{- with $page -}}<!-- Restore "." to refer to page context from which the partial was called -->
  {{/* {{- partial "html-comment" (printf "[%s]: BEGIN: Kind:%v .Params:%v" $template .Kind .Params) }} */}}

  {{- if $title }}
          <h1  id="articleTop"{{- with $titleClass }} class="{{ . }}" {{ end -}}>
  {{- with $superTitle }}
           <span class="supertitle">{{. | $page.RenderString }}</span>
  {{- end -}}
  {{ $title | $page.RenderString }}
  {{- with $subTitle }}
            <span class="subtitle">{{. | $page.RenderString }}</span>
  {{- end -}}
         </h1>
  {{- end -}}
{{- end -}}
{{/* {{- partial "html-comment" (printf "[%s]:   END" $template) }} */}}
