{{- $meta := page.Scratch.Get "clarismeta" }}
{{- $template := "claris/_components/title" }}
{{- $headingLevel := 1 }}
{{- $titleClass := "content-title role-display" }}

{{- /* Use the `formatted` version of the title, subtitle and supertitle from meta data */ -}}

{{- with $meta.Single.Formatted }}
  {{- partial "html-comment" (printf "[%s]: BEGIN: Kind=%v $meta.Single.Formatted.Title=%v .Supertitle=%v .Subtitle=%v .Tagline=%v"
      $template page.Kind .Title .Supertitle .Subtitle .Tagline ) }}
{{- end -}}

{{- $title := $meta.Single.Formatted.Title }}

{{- $supertitle := $meta.Single.Formatted.Supertitle }}
{{- $supertitleOutside := $meta.Single.Formatted.SupertitleOutside }}
{{- $supertitleInside := $meta.Single.Formatted.SupertitleInside }}

{{- $subtitle := $meta.Single.Formatted.Subtitle }}
{{- $subtitleInside := $meta.Single.Formatted.SubtitleInside }}
{{- $subtitleOutside := $meta.Single.Formatted.SubtitleOutside }}

{{- if $title }}
        <div{{- with $titleClass }} class="{{ . }}"{{ end }}>
  {{- with $supertitleOutside -}}
          <strong class="supertitle variant-small-caps">{{. }}<span class="visually-hidden">: </span></strong>
  {{- end -}}
        <h{{ $headingLevel }} id="articleTop">
  {{- with $supertitleInside -}}
          <strong class="supertitle variant-small-caps">{{. }}<span class="visually-hidden">: </span></strong>
  {{- end -}}

  <span class="title">{{- $title -}}</span>

  {{- with $subtitleInside -}}
          <span class="subtitle"><span class="visually-hidden"> – </span>{{. }}</span>
  {{- end -}}
        </h{{ $headingLevel }}>
  {{- with $subtitleOutside -}}
          <span class="subtitle"><span class="visually-hidden"> – </span>{{. }}</span>
  {{- end -}}
      </div>
{{- end }}

{{- partial "html-comment" (printf "[%s]:   END" $template) -}}
