{{ $scriptBundles := dict }}
{{ $page := .Page }}
{{ $template := "claris/_functions/assets/scripts/script-bundles" }}
{{ $debug := and false ($page.Param "clarisdebug") }}
{{ $dbg := printf "%s[%s]" (replaceRE `.*?((?:[^/]+/){,2})$` `$1` $page.RelPermalink) (replaceRE `.*?([^/]+)$` `$1` $template) }}

{{ $assetVariant := .AssetVariant }}
{{ $mediaTypeList := $assetVariant.MediaTypeList }}
{{ $contentTypeList := $assetVariant.ContentTypeList }}
{{ $contentTypeListID := $assetVariant.ContentTypeListID }}

{{ if $debug }}
  {{ warnf "%s ContentTypeListID=%s CoalesceLanguageKey=%s"
      $dbg $assetVariant.ContentTypeListID $assetVariant.CoalesceLanguageKey }}
{{ end }}

{{ $bundleMap := (slice
    (dict "base"     (dict "target" "body" "type" "inline") )
    (dict "enhanced" (dict "target" "body" "type" "defer" "priority" "auto") )
    (dict "optional" (dict "target" "body" "type" "defer" "priority" "low") )
) }}
{{ with $page.Param "assets.scripts.bundles" }}
  {{ if and false $debug }}
    {{ warnf "%s Replace default bundleMap:\n%v\n with param assets.scripts.bundles:\n%v"
        $dbg (jsonify (dict "indent" "  ") $bundleMap)
        (jsonify (dict "indent" "  ") . ) }}
  {{ end }}
  {{ $bundleMap = . }}
{{ end }}

{{ range $idx, $mountParams := $bundleMap }}
  {{ range $bundleName, $mountParams := $mountParams }}
    {{ if $debug }}
    {{ warnf "%s creating bundleName=%v with mountParams:\n%v"
        $dbg $bundleName (jsonify (dict "indent" "  ") $mountParams) }}
    {{ end }}
    {{ $mediaType := default "all" $mountParams.media }}
    {{ if (in $mediaTypeList $mediaType) }}

      {{ $bundleParams := merge $ (dict
          "MediaType" $mediaType
          "BundleName" $bundleName
      ) }}

      {{/* Get the script bundle */}}
      {{ with $bundleResource := partial "claris/_functions/assets/scripts/bundle-scripts" $bundleParams }}
        {{ $scriptBundle := merge $mountParams (dict
          "media" $mediaType
          "name" $bundleName
          "resource" $bundleResource
        ) }}
        {{ $targetTypeBundles := index $scriptBundles $mountParams.target $mountParams.type | default slice }}
        {{ $targetTypeBundles = append $scriptBundle $targetTypeBundles }}
        {{ $scriptBundles = merge $scriptBundles (dict $mountParams.target (dict $mountParams.type $targetTypeBundles) ) }}
        {{ if $debug }}
          {{ warnf "%s contentTypeListID=%s bundleName=%s bundle: Added script bundle to scriptBundles:\n%v"
              $dbg $contentTypeListID $bundleName $scriptBundles }}
        {{ end }}
      {{ else }}
        {{ if and true $debug }}
          {{ warnf "%s contentTypeListID=%s bundleName=%s bundle: No script bundle from bundleParams:\n%v"
              $dbg $contentTypeListID $bundleName (jsonify (dict "indent" "  ") $bundleParams) }}
        {{ end }}
      {{ end }}

    {{ else }}

      {{ if $debug }}
        {{ warnf "%s contentTypeListID=%s: Not generating script bundle for MediaType=%s: not in MediaTypeList=%v"
            $dbg $contentTypeListID $mediaType $mediaTypeList }}
      {{ end }}
    {{ end }}

  {{ end }}
{{ end }}

{{ if $debug }}
  {{ warnf "%s returning scriptBundles:" $dbg }}
  {{ range $target, $type := $scriptBundles }}
    {{ range $typeID, $bundles := $type }}
      {{ range $idx, $bundle := $bundles }}
        {{ $resourceStr := printf "%s at %s [%s] (%d bytes)" .resource.Name  .resource.RelPermalink .resource.MediaType.Type (len .resource.Content) }}
        {{ $bundleRepr := merge $bundle (dict "resource" $resourceStr) }}
        {{ warnf "%s target=%s type=%s idx=%d %s" $dbg $target $typeID $idx (jsonify (dict "indent" "  ") $bundleRepr) }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}
{{ return $scriptBundles }}
