{{ $entities := .Entities }}
{{ $page := .Page }}
{{ $meta := default ($page.Scratch.Get "clarismeta") .Meta }}
{{ $template := "claris/_functions/schema-org/_entities/author" }}
{{ $debug := and false ($page.Param "clarisdebug") (and .Debug (eq site.LanguagePrefix "") ) }}
{{ $dbg := printf "%s [%s->%s]" (replaceRE `.*?((?:[^/]+/){,2})$` `$1` $page.RelPermalink) .Template (replaceRE `.*?([^/]+(?:/[^/]+)?)$` `$1` $template) }}

<!-- [Schema.org entity Author](https://schema.org/Author) -->

{{ $socialProfileURLs := slice }}
{{ range $site := $meta.Site.Data.Author.Social }}
  {{ $socialProfileURLs = append (slice .Profile.URL) $socialProfileURLs }}
{{ end }}

{{ $siteAuthorEntity := false }}
{{ $pageAuthorEntity := false }}

{{ with $meta.Site.Data.Author }}
  {{ $siteAuthorEntity = (dict
    "Entity" (dict
      "@type" "Person"
      "@id" .EntityID
      "name" .Name
      "url" .CanonicalURL
      "description" .Description
      "sameAs" $socialProfileURLs
    )
    "Reference" (dict
      "@id" .EntityID
    )
    "URL" .CanonicalURL
  ) }}
  {{ if $debug }}
    {{ warnf "%s SiteAuthor=%v from $meta.Site.Data.Author=%v" $dbg
    (jsonify (dict "indent" "  ") $siteAuthorEntity)
    (jsonify (dict "indent" "  ") $meta.Site.Data.Author) }}
  {{ end }}
{{ else }}
  {{ errorf "%s Missing .Scratch for .Site.Data.Author: .Page.RelPermalink=%v[%T]" $dbg
      $.Page.RelPermalink $.Page }}
{{ end }}
{{ with $meta.Single.Data.Author }}
  {{ $pageAuthorEntity = (dict
    "Entity" (dict
      "@type" "Person"
      "@id" .EntityID
      "name" .Name
      "url" .CanonicalURL
      "description" .Description
      "sameAs" $socialProfileURLs
    )
    "Reference" (dict
      "@id" .EntityID
    )
    "URL" .CanonicalURL
  ) }}
{{ else }}
  {{ errorf "%s Missing .Scratch for .Single.Data.Author: .Page.RelPermalink=%v[%T]" $dbg
      $.Page.RelPermalink $.Page }}
{{ end }}

{{ with and $siteAuthorEntity $pageAuthorEntity }}
  {{ $entities = merge $entities (dict
    "Entities" (dict
      "SiteAuthor" $siteAuthorEntity
      "PageAuthor" $pageAuthorEntity
    )
  ) }}
{{ else }}
  {{ errorf "%s Missing entries in .Entities:\n%v" $dbg
      (jsonify (dict "indent" "  ") $.Entities) }}
{{ end }}

{{ if $debug }}
  {{ warnf "%s returning %v" $dbg
      (jsonify (dict "indent" "  ") $entities) }}
{{ end }}
{{ return $entities }}
