{{ $authorEntities := .Entities }}
{{ $page := .Page }}
{{ $meta := default ($page.Scratch.Get "clarismeta") .Meta }}
{{ $template := "claris/_functions/schema-org/_entities/author" }}
{{ $debug := and false ($page.Param "clarisdebug") (and .Debug (eq site.LanguagePrefix "") ) }}
{{ $dbg := printf "%s [%s->%s]" (replaceRE `.*?((?:[^/]+/){,2})$` `$1` $page.RelPermalink) .Template (replaceRE `.*?([^/]+(?:/[^/]+)?)$` `$1` $template) }}

<!-- [Schema.org entity Author](https://schema.org/Author) -->

{{ $siteAuthorEntity := false }}
{{ $pageAuthorEntity := false }}

{{ $authorMeta := dict }}
{{ with $meta.Site.Data.Author }}
  {{ $authorMeta = merge $authorMeta (dict
  "SiteAuthor" .
  ) }}
{{ else }}
  {{ errorf "%s Missing .Scratch for .Site.Data.Author: .Page.RelPermalink=%v[%T]" $dbg
      $.Page.RelPermalink $.Page }}
{{ end }}

{{ with $meta.Single.Data.Author }}
  {{ $authorMeta = merge $authorMeta (dict
  "PageAuthor" .
  ) }}
{{ else }}
  {{ errorf "%s Missing .Scratch for .Single.Data.Author: .Page.RelPermalink=%v[%T]" $dbg
      $.Page.RelPermalink $.Page }}
{{ end }}

{{ range $entityName, $entityMeta := $authorMeta }}
  {{ $entity := (dict
    "Entity" (dict
      "@type" "Person"
      "@id" .EntityID
      "name" .Name
    )
    "Reference" (dict "@id" .EntityID)
  ) }}
  {{ with .CanonicalURL}}
    {{ $entity = merge $entity (dict
      "Entity" (dict
        "url" .
      )
      "URL" .
    ) }}
  {{ end }}
  {{ with .Description }}
    {{ $entity = merge $entity (dict
      "Entity" (dict
        "description" .
      )
    ) }}
  {{ end }}
  {{ with .Social }}
    {{ $socialProfileURLs := slice }}
    {{ range . }}
      {{ $socialProfileURLs = append (slice .Profile.URL) $socialProfileURLs }}
    {{ end }}

    {{ with $socialProfileURLs }}
      {{ $entity = merge $entity (dict
        "Entity" (dict
          "sameAs" .
        )
      ) }}
    {{ end }}
  {{ end }}
  {{ with $entity }}
    {{ $authorEntities = merge $authorEntities (dict
      "Entities" (dict $entityName . ) ) }}
  {{ end }}
{{ end }}

{{ if $debug }}
  {{ warnf "%s returning authorEntities:\n%v" $dbg
      (jsonify (dict "indent" "  ") $authorEntities) }}
{{ end }}
{{ return $authorEntities }}
