{{- $page := .Page }}
{{- $meta := page.Scratch.Get "clarismeta" }}
{{- $template := "claris/main/index" }}
{{- $itemType := "article" }}
{{- $type := "claris" }}
{{- with $page }}
  {{- $mainKind := (.Scratch.Get "claris.render.main.kind") }}
  {{- $mainInnerClassList := (slice "main_inner" "grid-main") }}
  {{- if eq $mainKind "page" }}
    {{- if in ($page.Param "mainSections") .Section }}
      {{- $mainInnerClassList = append (slice "section_main-section") $mainInnerClassList }}
    {{- end }}
  {{- end }}

  {{- $featureImageClassList := false }}
  {{- with $featureImageParams := $page.Param "image.feature" }}
    {{- if reflect.IsSlice $featureImageParams }}
      {{- $featureImageParams = index $featureImageParams 0 }}
    {{- end }}
    {{- $featureImageStyle := default "wide" ($page.Param "image.feature.style") }}
    {{- $featureImageClassList = slice (printf "feature-image_style-%s" $featureImageStyle ) }}
    {{- if reflect.IsMap $featureImageParams }}
      {{- range $param := (slice "overlay") }}
        {{- range $key, $value :=  (index $featureImageParams $param) }}
          {{- $featureImageClassList = append (slice (printf "feature-image_%s_%s-%s" $param $key $value) ) $featureImageClassList }}
        {{- end }}
      {{- end }}
    {{- end }}
  {{- end }}

  {{- $componentParams := merge $ (dict
    "Page" $page
    "Template" (printf "%s->%s" $.Template $template)
    "Meta" $meta
    "ItemType" $itemType
    "HeadingLevel" 1
  ) -}}

  {{- $sidebar := default false ($page.Param "sidebar") }}
  {{- if (in (slice "page") $mainKind) }}
    {{- $sidebar = default true ($page.Param "sidebar") }}
  {{- end -}}
  {{ partial "html-comment" (printf "[%s]: BEGIN" $template) }}
  {{- $mainHeaderClassList := slice "main_header" "grid-main" }}
  {{- with $featureImageClassList }}
    {{- $mainHeaderClassList = append $featureImageClassList $mainHeaderClassList }}
  {{- end }}
  <header class="{{ delimit $mainHeaderClassList ` ` }}">
    {{- partial "claris/_components/feature-image" . }}
    {{- partial "claris/_components/title" . }}
  </header>
  <div class="{{ delimit $mainInnerClassList ` ` }}" id="contentContainer">
    {{- $mainPartial := printf "%s/main/%s" $type $mainKind }}
    {{- partial $mainPartial $componentParams }}
    {{- if $sidebar }}
      {{- partial "claris/_components/sidebar" (merge $componentParams (dict
        "HeadingLevel" 2
      ) ) -}}
    {{- end -}}
  </div>
  {{ partial "html-comment" (printf "[%s]: END" $template) }}
{{- end -}}
