{{- $page := .Page }}
{{- $template := "partials/claris/main/section" }}
{{- $headingLevel := default 1 .HeadingLevel }}
{{- $itemType := "article" }}

{{- with $page }}
  {{ partial "html-comment" (printf "[%s]: BEGIN" $template) }}
  {{- $items := .Pages.ByLastmod.Reverse }}
  {{- if eq .Kind "section" }}
    {{- $itemType = "section" }}
  {{- end }}
  {{- with $page.Param "sectionsToList" }}
    {{- $items = sort (where $page.Pages "Section" "IN" .) "Weight" }}
    {{- $itemType = "section" }}
    {{/* {{- partial "html-comment" (printf "[%s]: listing sectionsToList: %v" $template $items) }} */}}
    {{/* {{- warnf "%s[%s]: listing sectionsToList: %v" $page $template $items }} */}}
  {{- else  }}
    {{- if in ($page.Param "mainSections") .Section }}
      {{- $items = partialCached "claris/_functions/fresh-content" (dict "Page" . "Section" .Section) . }}
      {{/* {{- partial "html-comment" (printf "[%s]: listing fresh-content: %v" $template $items) }} */}}
    {{/* {{- warnf "%s[%s]: listing fresh-content: %v" $page $template $items }} */}}
    {{- end }}
  {{- end }}

  {{- with .Content }}
    {{ partial "claris/_components/content" (dict "Page" $page "HeadingLevel" $headingLevel) }}
    {{- $headingLevel = sub $headingLevel 1 }}
  {{- else }}
    {{- with .Title }}
      {{ partial "claris/_components/title" (dict "Page" $page "HeadingLevel" $headingLevel) }}
    {{- end }}
  {{- end }}

  {{ partial "claris/_components/list" (dict
      "Page" $page
      "Items" $items
      "ItemType" $itemType
      "HeadingLevel" $headingLevel) }}

  {{ partial "html-comment" (printf "[%s]:   END" $template) }}
{{- end }}