{{- $page := .Page }}
{{- $meta := page.Scratch.Get "clarismeta" }}
{{- $template := "partials/claris/main/section" }}
{{- $itemType := "article" }}

{{- if eq $page.Kind "section" }}
  {{- $itemType = "section" }}
{{- end }}

{{- $debug := false }}
{{- /* {{- $debug = page.Scratch.Get "clarisdebug" }} */ -}}
{{/* {{- $debug = or $debug (not (not (findRE `/index` $page.RelPermalink) ) ) }} */}}

{{ partial "html-comment" (printf "[%s]: BEGIN" $template) }}

{{- if $page.Content }}
  {{ partial "claris/main/content/index" . }}
{{- end }}
{{- if (default (not $page.Content) ($page.Param "list")) }}
  {{- partial "claris/main/list/index" (merge . (dict "HeadingLevel" (sub .HeadingLevel 1))) }}
{{- end }}

{{ partial "html-comment" (printf "[%s]:   END" $template) }}
