{{- $page := .Page }}
{{- $meta := page.Scratch.Get "clarismeta" }}
{{- $template := "claris/main/section" }}
{{- $debug := false }}

{{- $itemType := "article" }}

{{- if eq $page.Kind "section" }}
  {{- $itemType = "section" }}
{{- end }}

{{ partial "html-comment" (printf "[%s]: BEGIN" $template) }}

{{- if $page.Content }}
  {{- $contentParams := merge $ (dict "Template" (printf "%s->%s" $.Template $template) ) }}
  {{ partial "claris/main/content/index" $contentParams }}
{{- end }}
{{- if (default (not $page.Content) ($page.Param "list")) }}
  {{- $listParams := merge $ (dict "Template" (printf "%s->%s" $.Template $template) "HeadingLevel" (sub $.HeadingLevel 1)) }}
  {{- partial "claris/main/list/index" $listParams }}
{{- end }}

{{ partial "html-comment" (printf "[%s]:   END" $template) }}
