{{- $page := .Page }}
{{- $template := "shortcodes/render-image" }}
{{- $args := (dict
  "Page" $.Page
  "src" (.Get "src")

  "imgclass" (printf "shortcode_responsive-figure_img %s" (default "" (.Get "img_class")) )
  "figureclass" (printf "shortcode_responsive-figure shortcode_responsive-figure_image %s" (default "" (.Get "figure_class")) )
  "caption" (.Get "caption")
  "title" (.Get "title")
  "alt" (.Get "alt")

  "width" (.Get "width")
  "height" (.Get "height")
  "minwidth" (.Get "min-width")
  "maxwidth" (.Get "max-width")
  "minheight" (.Get "min-height")
  "maxheight" (.Get "max-height")
  "aspect" (.Get "aspect")
  "ratio" (.Get "ratio")
  "aspectratio" (.Get "aspect-ratio")
  "position" (.Get "position")

  "float" (.Get "float")
  "shape" (.Get "shape")
  "relativewidth" (.Get "relative-width")
  "background" (.Get "background")
  "borderradius" (.Get "border-radius")

  "fetchpriority" (.Get "fetchpriority")
  "lightbox" (.Get "lightbox")
  "lazy" (default true (.Get "lazy") )
  "format" (.Get "format")
  "quality" (.Get "quality")
) -}}
{{- $parsedArgs := dict }}
{{- range $k, $v := $args }}
  {{- if eq (printf "%T" $v) "string" }}
    {{- if ne $v "" }}
      {{- $parsedArgs = merge $parsedArgs (dict $k $v) }}
    {{- end }}
  {{- else }}
    {{- $parsedArgs = merge $parsedArgs (dict $k $v) }}
  {{- end }}
{{- end }}
{{- /* warnf "%s[%s]: %#v" $page $template $args */ -}}
{{- partialCached "claris/_components/render-image" $parsedArgs $parsedArgs }}
