{{- $page := .Page }}
{{- $template := "shortcodes/render-meta-images" }}
{{- $args := (dict
  "Page" $.Page
  "kind" (.Get "kind")
  "variant" (.Get "variant")
  "version" (.Get "version")
  "aspect" (.Get "aspect")
  "ratio" (.Get "ratio")
  "aspectratio" (.Get "aspect-ratio")
  "maxwidth"    (.Get "max-width")
  "maxheight"   (.Get "max-height")
  "lazy" (default true (.Get "lazy") )
  "format" (.Get "format")
  "quality" (.Get "quality")
) }}
{{- /* warnf "%s[%s]: %#v" $page $template $args */ -}}
{{- $parsedArgs := dict }}
{{- range $k, $v := $args }}
  {{- if eq (printf "%T" $v) "string" }}
    {{- if ne $v "" }}
      {{- $parsedArgs = merge $parsedArgs (dict $k $v) }}
    {{- end }}
  {{- else }}
    {{- $parsedArgs = merge $parsedArgs (dict $k $v) }}
  {{- end }}
{{- end }}

{{- partialCached "claris/_components/render-meta-images" $parsedArgs $parsedArgs }}
