{{- define "main" }}
{{- $s := site.Params }}
{{- $p := .Params }}
<div class="never inner_horizontal">
  {{- $t := .Title }}
  <h1>{{ $t | markdownify }}</h1>
  {{- .Content }}
  <a href="{{ absLangURL "/" }}" title="{{ T "go_back" }}">
    <div class="button mt-1 mb-2 btn_back">{{ T "go_back" }}</div>
  </a>
  <div class="gears">
    <div class="gear one">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
    <div class="gear two">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
    <div class="gear three">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
  </div>
</div>
{{- end }}
