{{- define "main" }}
<div class="error inner_horizontal">
  <h1>{{ .Page.RenderString .Title }}</h1>
  {{- .Content }}
  <a href="{{ relLangURL `` }}" title="{{ T `go_back` }}">
    <div class="button error_back-button">{{ T "go_back" }}</div>
  </a>
  <div class="gears">
    <div class="gear one">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
    <div class="gear two">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
    <div class="gear three">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
  </div>
</div>
{{- end }}
