:root {
  --main-color: hsla(200, 10%, 90%);
  --stroke-color: hsla(200, 10%, 50%);
  --unit: 5px;
  --border-width: var(--unit);
  --bar-border-radius: var(--unit);

  --gear-one-left: calc(var(--unit) * -26);
  --gear-two-top: calc(var(--unit) * -15);
  --gear-three-top: calc(var(--unit) * -47);
  --gear-three-left: calc(var(--unit) * 26);

  --gear-width: calc(var(--unit) * 24);
  --gear-height: var(--gear-width);

  --gear-after-width: calc(var(--unit) * 14);
  --gear-after-height: var(--gear-after-width);
  --gear-after-pos: calc(var(--unit) * 5);

  --bar-width: calc(var(--unit) * 30);
  --bar-height: calc(var(--bar-width) / 5);
  --bar-margin-top: var(--bar-pos-left);

  --gear-before-pos: calc(var(--unit));
  --bar-before-pos: var(--gear-before-pos);
  --bar-pos-left: calc(var(--unit) * -3);
}

// Error pages
.error {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  &_back-button {
    margin: 0.5em;
    font-size: 1.25em;
    font-weight: bold;
  }
}

h1 {
  font-size: 300%;
  margin: 0;
  padding: 0.5em;
}

h2 {
  font-size: 200%;
  margin: 0;
  padding: 0.25em;
}

@media screen and (max-width: 20em) {
  :root {
    --unit: 2px;
  }
  h1 {
    font-size: 200%;
  }
  h2 {
    font-size: 125%;
  }
}

@media screen and (max-width: 36em) {
  :root {
    --unit: 3px;
  }
  h1 {
    font-size: 200%;
  }
  h2 {
    font-size: 125%;
  }
}

@media screen and (max-height: 42em) {
  :root {
    --unit: 3px;
  }
  h1 {
    font-size: 250%;
  }
  h2 {
    font-size: 150%;
  }
}

@media screen and (max-height: 36em) {
  :root {
    --unit: 2px;
  }
  h1 {
    font-size: 200%;
  }
  h2 {
    font-size: 125%;
  }
}

@media screen and (max-height: 32em) {
  :root {
    --unit: 2px;
  }
  h1 {
    font-size: 150%;
  }
  h2 {
    font-size: 100%;
  }
}

body {
  background: var(--bg);
}
/*
h1 {
  margin: auto auto auto auto;
  color: var(--text);
}
h2 {
  margin: 20px auto 30px auto;
  font-size: 1.5rem;
  font-weight: 200;
  text-align: center;
}
*/
h1, h2 {
  -webkit-transition: opacity 0.5s linear, margin-top 0.5s linear; /* Safari */
  transition: opacity 0.5s linear, margin-top 0.5s linear;
}
.loading h1, .loading h2 {
  margin-top: 0;
  opacity: 0;
}

.error_back-button {

}
.gears {
  position: relative;
  // margin: auto;
  // width: auto;
  height: calc(var(--unit) * 35);
}
.gear {
  position: relative;
  z-index: 0;
  width: var(--gear-width);
  height: var(--gear-height);
  margin: 0 auto;
  border-radius: 50%;
  background: var(--stroke-color);
  padding: 0;
}
.gear::before{
  position: absolute;
  left: var(--gear-before-pos);
  top: var(--gear-before-pos);
  right: var(--gear-before-pos);
  bottom: var(--gear-before-pos);
  z-index: 2;
  content: "";
  border-radius: 50%;
  background: var(--main-color);
}
.gear::after {
  position: absolute;
  left: var(--gear-after-pos);
  top: var(--gear-after-pos);
  z-index: 3;
  content: "";
  width: var(--gear-after-width);
  height: var(--gear-after-height);
  border-radius: 50%;
  border: var(--border-width) solid var(--stroke-color);
  box-sizing: border-box;
  background: var(--main-color);
}
.gear.one {
  left: var(--gear-one-left);
}
.gear.two {
  top: var(--gear-two-top);
}
.gear.three {
  top: var(--gear-three-top);
  left: var(--gear-three-left);
}
.gear .bar {
  position: absolute; left: var(--bar-pos-left); top: 50%;
  z-index: 0;
  width: var(--bar-width);
  height: var(--bar-height);
  margin-top: var(--bar-margin-top);
  border-radius: var(--bar-border-radius);
  background: var(--stroke-color);
}
.gear .bar::before {
  position: absolute;
  left: var(--bar-before-pos);
  top: var(--bar-before-pos);
  right: var(--bar-before-pos);
  bottom: var(--bar-before-pos);
  z-index: 1;
  content: "";
  border-radius: 2px;
  background: var(--main-color);
}
.gear .bar:nth-child(2) {
  transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
}
.gear .bar:nth-child(3) {
  transform: rotate(120deg);
  -webkit-transform: rotate(120deg);
}
@-webkit-keyframes clockwise {
  0% { -webkit-transform: rotate(0deg);}
  100% { -webkit-transform: rotate(360deg);}
}
@-webkit-keyframes anticlockwise {
  0% { -webkit-transform: rotate(360deg);}
  100% { -webkit-transform: rotate(0deg);}
}
@-webkit-keyframes clockwiseError {
  0% { -webkit-transform: rotate(0deg);}
  20% { -webkit-transform: rotate(30deg);}
  40% { -webkit-transform: rotate(25deg);}
  60% { -webkit-transform: rotate(30deg);}
  100% { -webkit-transform: rotate(0deg);}
}
@-webkit-keyframes anticlockwiseErrorStop {
  0% { -webkit-transform: rotate(0deg);}
  20% { -webkit-transform: rotate(-30deg);}
  60% { -webkit-transform: rotate(-30deg);}
  100% { -webkit-transform: rotate(0deg);}
}
@-webkit-keyframes anticlockwiseError {
  0% { -webkit-transform: rotate(0deg);}
  20% { -webkit-transform: rotate(-30deg);}
  40% { -webkit-transform: rotate(-25deg);}
  60% { -webkit-transform: rotate(-30deg);}
  100% { -webkit-transform: rotate(0deg);}
}
.gear.one {
  -webkit-animation: anticlockwiseErrorStop 2s linear infinite;
}
.gear.two {
  -webkit-animation: anticlockwiseError 2s linear infinite;
}
.gear.three {
  -webkit-animation: clockwiseError 2s linear infinite;
}
.loading .gear.one, .loading .gear.three {
  -webkit-animation: clockwise 3s linear infinite;
}
.loading .gear.two {
  -webkit-animation: anticlockwise 3s linear infinite;
}
