{{ $page := .Page }}
{{ $template := "claris/_functions/font-spec" }}
{{ $debug := and false (page.Param "clarisdebug") }}
{{ $dbg := printf "%s[%s] ID=%s" (replaceRE `.*?((?:[^/]+/){,2})$` `$1` $page.RelPermalink) (replaceRE `.*?([^/]+)$` `$1` $template) .FontFamilyID }}

{{ $assetVariant := .AssetVariant }}
{{ $resourcePathBase := .ResourcePathBase }}
{{ $sourceExt := .SourceExt }}
{{ $executedSourceSuffix := .ExecutedSourceSuffix }}

{{ $fontFamily := .FontFamilyName }}
{{ $fontFamilyID := .FontFamilyID }}
{{ $fontType := .FontType }}
{{ $defaultFallbackStack := .DefaultFallbackStack}}
{{ $useFamilyAs := .UseFamilyAs }}

{{/* Path to the font spec files of this module: /assets/styles/claris/fonts/{specs | hosted} */}}
{{ $assetStyleRoot := "styles" }}
{{ $styleFontsRelative := printf "claris/fonts" }}
{{ $fontAssetsPath := printf "%s/%s" $assetStyleRoot $styleFontsRelative }}
{{ $fontSpecPath := printf "%s/specs" $fontAssetsPath }}
{{ $hostedFontUrlsFilePath := printf "%s/hosted" $fontAssetsPath }}

{{/* Base URL path for hosted font files */}}
{{ $hostedFontPath := default (relURL "fonts") ($page.Param "hostedFontPath") }}

{{ $concatFontSpecResource  := false }}
{{ $executedHostedFontUrlsResource := false }}

{{ $fontSpecParams := (dict
    "FontFamilyName" $fontFamily
    "FontFamilyID" $fontFamilyID
    "FontType" $fontType
    "UseFamilyAs" $useFamilyAs
    "HostedFontUrlsFilePath" $hostedFontUrlsFilePath
    "HostedFontPath" $hostedFontPath
) }}

{{ $fontSpecResources := slice }}
{{ $fontSpecFile := printf "%s/%s.%s" $fontSpecPath $fontFamilyID $sourceExt }}
{{ $fontSpecResource := resources.Get $fontSpecFile }}
{{ with $fontSpecResource }}
  {{ $executedFontSpecFile := printf "%s/%s%s.%s" $fontSpecPath $fontFamilyID $executedSourceSuffix $sourceExt}}
  {{ if and false $debug }}
    {{ warnf "%s executing font spec file '%v' [type=%T] to executedFontSpecFile=%v with $fontSpecParams:\n%v"
      $dbg $fontSpecResource $fontSpecResource
      $executedFontSpecFile (jsonify (dict "indent" "  ") $fontSpecParams) }}
  {{ end }}
  {{ $executedFontSpecResource := resources.ExecuteAsTemplate $executedFontSpecFile $fontSpecParams $fontSpecResource }}
  {{ $fontSpecResources = append $executedFontSpecResource $fontSpecResources }}
  {{ if and true $debug }}
    {{ warnf "%s executed font spec file '%v': \n%v"
      $dbg $fontSpecResource $executedFontSpecResource.Content }}
  {{ end -}}
{{ else }}
  {{ if and true $debug }}
    {{ warnf "%s no font spec file found matching '%v'" $dbg $fontSpecFile }}
  {{ end }}
  {{ $fallbackStr := partial "claris/_functions/font-spec_quote-font-stack" $defaultFallbackStack }}
  {{ $fontSpecRule := printf "// Generated minimal font spec for '%s' [%s]\n$fontFamilySpec: (\n  name: \"%s\",\n  fallback: (%s)\n);\n"
    $fontFamily $fontFamilyID $fontFamily $fallbackStr -}}
  {{ if and true $debug }}
    {{ warnf "%v generated font spec for %s [%s]: '%s'" $dbg $fontFamily $fontFamilyID $fontSpecRule }}
  {{ end }}
  {{ $defineFontSpecFile := printf "%s/%s_define-font-spec.%s" $fontSpecPath $fontFamilyID $sourceExt }}
  {{ $fontSpecResource := resources.FromString $defineFontSpecFile $fontSpecRule }}
  {{ if and true $debug }}
    {{ warnf "%v generated font spec resource '%v'.Content:\n%v" $dbg
        $fontSpecResource.Name $fontSpecResource.Content }}
  {{ end }}
  {{ $fontSpecResources = append $fontSpecResource $fontSpecResources }}
{{ end }}

{{ $defineFontStylesRule := printf "// Define font styles for '%s' [%s]\n@include fonts.defineFontUtilityClasses($fontFamilySpec, $useAs: %s);\n"
  $fontFamily $fontFamilyID $useFamilyAs -}}
{{ if and true $debug }}
  {{ warnf "%v defineFontStylesRule for %s [%s]: '%s'" $dbg $fontFamily $fontFamilyID $defineFontStylesRule }}
{{ end }}
{{ $defineFontStylesFile := printf "%s/%s_define-font-styles.%s" $fontSpecPath $fontFamilyID $sourceExt }}
{{ $defineFontStylesResource := resources.FromString $defineFontStylesFile $defineFontStylesRule }}
{{ if and false $debug }}
  {{ warnf "%v Final defineFontStylesResource '%v'.Content:\n%v" $dbg
      $defineFontStylesResource.Name $defineFontStylesResource.Content }}
{{ end }}
{{ $fontSpecResources = append $defineFontStylesResource $fontSpecResources }}

{{/* Concatenate the SCSS resources for this font spec */}}
{{ $concatFontSpecFile := printf "%s/%s_font-spec.%s" $fontSpecPath $fontFamilyID $sourceExt }}
{{ $concatFontSpecResource = $fontSpecResources | resources.Concat $concatFontSpecFile }}

{{ if and true $debug }}
  {{ warnf "%v Final concatFontSpecResource '%s'.Content:\n%v"
      $dbg $concatFontSpecResource $concatFontSpecResource.Content }}
{{ end }}

{{ $hostedfontUrlsFile := printf "%s/%s.%s" $hostedFontUrlsFilePath $fontFamilyID $sourceExt }}
{{ with $hostedfontUrlsResource := resources.Get $hostedfontUrlsFile }}
  {{ $fontBasename := path.Join (path.Dir $hostedfontUrlsResource.Name) (path.BaseName $hostedfontUrlsResource.Name) }}
  {{ $executedHostedFontUrlsFile := printf "%s%s.%s" $fontBasename $executedSourceSuffix $sourceExt}}
  {{ if and false $debug }}
    {{ warnf "%s executing hosted font URLs file '%v' [type=%T] to executedHostedFontUrlsFile=%v with $fontSpecParams:\n%v"
      $dbg $hostedfontUrlsResource $hostedfontUrlsResource
      $executedHostedFontUrlsFile (jsonify (dict "indent" "  ") $fontSpecParams) }}
  {{ end }}
  {{ $executedHostedFontUrlsResource = resources.ExecuteAsTemplate $executedHostedFontUrlsFile $fontSpecParams $hostedfontUrlsResource }}
  {{ if and true $debug }}
    {{ warnf "%s executed hosted font URLs file '%v': \n%v"
      $dbg $hostedfontUrlsResource $executedHostedFontUrlsResource.Content }}
  {{ end }}
{{ else }}
  {{ if and true $debug }}
    {{ warnf "%s no hosted font URLs file found matching '%v'" $dbg $hostedfontUrlsFile }}
  {{ end }}
{{ end }}

{{ return (dict
  "SpecResource" $concatFontSpecResource
  "HostedFontUrlsResource" $executedHostedFontUrlsResource
) }}

{{ define "partials/claris/_functions/font-spec_quote-font-stack" }}
  {{ $template := "claris/_functions/font-spec_quote-font-stack" }}
  {{ $quotedFontStack := slice }}

  {{ range . }}
    {{ if findRE `\s` . }}
      {{ $quotedFontStack = append (printf "%q" . ) $quotedFontStack }}
    {{ else }}
      {{ $quotedFontStack = append . $quotedFontStack }}
    {{ end }}
  {{ end }}

  {{ $quotedFontStackString := delimit $quotedFontStack ", " }}
  {{ if and false }}
    {{ warnf "%s: quotedFontStackString: '%s'" $template $quotedFontStackString }}
  {{ end }}

  {{ return $quotedFontStackString }}
{{ end }}
