{{ $page := .Page }}
{{ $template := "claris/_functions/font-spec" }}
{{ $debug := or false (page.Param "clarisdebug") }}
{{ $dbg := printf "%s[%s] ID=%s" (replaceRE `.*?((?:[^/]+/){,2})$` `$1` $page.RelPermalink) (replaceRE `.*?([^/]+)$` `$1` $template) .FontFamilyID }}

{{ $assetVariant := .AssetVariant }}
{{ $resourcePathBase := .ResourcePathBase }}
{{ $sourceExt := .SourceExt }}
{{ $executedSourceSuffix := .ExecutedSourceSuffix }}

{{ $fontFamily := .FontFamilyName }}
{{ $fontFamilyID := .FontFamilyID }}
{{ $fontType := .FontType }}
{{ $defaultFallbackStack := .DefaultFallbackStack }}
{{ $useFamilyAs := .UseFamilyAs }}

{{/* Path to the font spec files of this module: /assets/styles/claris/fonts/{specs | hosted} */}}
{{ $assetStyleRoot := "styles" }}
{{ $styleFontsRelative := printf "claris/fonts" }}
{{ $fontAssetsPath := printf "%s/%s" $assetStyleRoot $styleFontsRelative }}
{{ $fontSpecPath := printf "%s/specs" $fontAssetsPath }}
{{ $fallbackFontPath := printf "%s/fallback" $fontAssetsPath }}
{{ $hostedFontUrlsFilePath := printf "%s/hosted" $fontAssetsPath }}

{{/* Base URL path for hosted font files */}}
{{ $hostedFontPath := default (relURL "fonts") ($page.Param "hostedFontPath") }}

{{ $concatFontSpecResource  := false }}
{{ $executedHostedFontUrlsResource := false }}
{{ $fallbackSpecResource := false }}
{{ $fallbackStack := slice }}

{{ $fallbackFontResource := false }}
{{ $fallbackFontSpecGlob := printf "%s/%s.*" $fallbackFontPath $fontFamilyID }}
{{ with $fallbackFontResource = resources.GetMatch $fallbackFontSpecGlob }}
  {{ if and false $debug }}
    {{ warnf "%s fallback font spec found: examining fallback font file '%v' [type=%T] matching '%v'"
      $dbg $fallbackFontResource $fallbackFontResource $fallbackFontSpecGlob }}
  {{ end }}
  {{/* Add the fallback font spec SCSS file to the main SCSS file */}}
  {{ $fallbackSpecResource = $fallbackFontResource }}
  {{ range $fallbackFontSuffix := (slice "fallback" "fallback-android") }}
    {{ $fallbackFamilyID := printf "%s-%s" $fontFamilyID $fallbackFontSuffix }}
    {{ $fallbackFontFamilyRegex := printf `(?i)font-family:\s*['"]?%s['"]?` $fallbackFamilyID }}
    {{ with $fallbackMatch := findRE $fallbackFontFamilyRegex $fallbackFontResource.Content }}
      {{ $fallbackStack = append $fallbackFamilyID $fallbackStack }}
      {{ if and true $debug }}
        {{ $fallbackMatch = index $fallbackMatch 0 }}
        {{ warnf "%s fallbackMatch='%v' matching '%v'. Added fallbackFamilyID=%v to fallbackStack=%v"
          $dbg $fallbackMatch $fallbackFontFamilyRegex $fallbackFamilyID $fallbackStack }}
      {{ end }}
    {{ else }}
      {{ if and true $debug }}
        {{ warnf "%s no match for '%v'"
          $dbg $fallbackFontFamilyRegex }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ else }}
  {{ $fallbackStack = $defaultFallbackStack }}
  {{ if and true $debug }}
    {{ warnf "%s no fallback font spec found matching '%v': using fallbackStack=%v" $dbg
        $fallbackFontSpecGlob $fallbackStack }}
  {{ end }}
{{ end }}

{{ $fallbackStackCSS := cond (gt (len $fallbackStack) 1)
    (printf `("%s")` (delimit $fallbackStack `", "`) )
    (printf `"%s"` (index $fallbackStack 0) ) }}
{{ $fontSpecParams := merge . (dict
    "Page" nil
    "FallbackFontStack" $fallbackStackCSS
    "HostedFontUrlsFilePath" $hostedFontUrlsFilePath
    "HostedFontPath" $hostedFontPath
) }}

{{ $fontSpecFile := printf "%s/%s.%s" $fontSpecPath $fontFamilyID $sourceExt }}
{{ with $fontSpecResource := resources.Get $fontSpecFile }}
  {{ $executedFontSpecFile := printf "%s/%s%s.%s" $fontSpecPath $fontFamilyID $executedSourceSuffix $sourceExt}}
  {{ if and false $debug }}
    {{ warnf "%s executing font spec file '%v' [type=%T] to executedFontSpecFile=%v with $fontSpecParams:\n%v"
      $dbg $fontSpecResource $fontSpecResource
      $executedFontSpecFile (jsonify (dict "indent" "  ") $fontSpecParams) }}
  {{ end }}
  {{ $executedFontSpecResource := resources.ExecuteAsTemplate $executedFontSpecFile $fontSpecParams $fontSpecResource }}
  {{ if and false $debug }}
    {{ warnf "%s executed font spec file '%v': \n%v"
      $dbg $fontSpecResource $executedFontSpecResource.Content }}
  {{ end -}}
{{- $defineFontStylesRule := printf "// Define font styles for '%s' [%s]\n@include fonts.defineFontUtilityClasses($fontFamilySpec, $useAs: %s);\n"
    $fontFamily $fontFamilyID $useFamilyAs -}}
  {{ if and false $debug }}
    {{ warnf "%v defineFontStylesRule for %s [%s]: '%s'" $dbg $defineFontStylesRule }}
  {{ end }}
  {{ $defineFontStylesFile := printf "%s/%s_define-font-styles.%s" $fontSpecPath $fontFamilyID $sourceExt }}
  {{ $defineFontStylesResource := resources.FromString $defineFontStylesFile $defineFontStylesRule }}
  {{ if and false $debug }}
    {{ warnf "%v Final defineFontStylesResource '%v'.Content:\n%v" $dbg
        $defineFontStylesResource.Name $defineFontStylesResource.Content }}
  {{ end }}
  {{ $concatFontSpecFile := printf "%s/%s_font-spec.%s" $fontSpecPath $fontFamilyID $sourceExt }}
  {{ $concatFontSpecResource = slice $executedFontSpecResource $defineFontStylesResource | resources.Concat $concatFontSpecFile }}

  {{ if and true $debug }}
    {{ warnf "%v Final concatFontSpecResource '%s'.Content:\n%v"
        $dbg $concatFontSpecResource $concatFontSpecResource.Content }}
  {{ end }}
{{ else }}
  {{ if and true $debug }}
    {{ warnf "%s no font spec file found matching '%v'" $dbg $fontSpecFile }}
  {{ end }}
{{ end }}

{{ $hostedfontUrlsFile := printf "%s/%s.%s" $hostedFontUrlsFilePath $fontFamilyID $sourceExt }}
{{ with $hostedfontUrlsResource := resources.Get $hostedfontUrlsFile }}
  {{ $fontBasename := path.Join (path.Dir $hostedfontUrlsResource.Name) (path.BaseName $hostedfontUrlsResource.Name) }}
  {{ $executedHostedFontUrlsFile := printf "%s%s.%s" $fontBasename $executedSourceSuffix $sourceExt}}
  {{ if and false $debug }}
    {{ warnf "%s executing hosted font URLs file '%v' [type=%T] to executedHostedFontUrlsFile=%v with $fontSpecParams:\n%v"
      $dbg $hostedfontUrlsResource $hostedfontUrlsResource
      $executedHostedFontUrlsFile (jsonify (dict "indent" "  ") $fontSpecParams) }}
  {{ end }}
  {{ $executedHostedFontUrlsResource = resources.ExecuteAsTemplate $executedHostedFontUrlsFile $fontSpecParams $hostedfontUrlsResource }}
  {{ if and true $debug }}
    {{ warnf "%s executed hosted font URLs file '%v': \n%v"
      $dbg $hostedfontUrlsResource $executedHostedFontUrlsResource.Content }}
  {{ end }}
{{ else }}
  {{ if and true $debug }}
    {{ warnf "%s no hosted font URLs file found matching '%v'" $dbg $hostedfontUrlsFile }}
  {{ end }}
{{ end }}

{{ return (dict
  "SpecResource" $concatFontSpecResource
  "HostedFontUrlsResource" $executedHostedFontUrlsResource
  "FallbackSpecResource" $fallbackSpecResource
  "FallbackStack" $fallbackStack
) }}
