{{ $imageMeta := dict }}
{{ $page := default page .Page }}
{{ $template := "claris/_functions/meta/images/get-image" }}
{{ $debug := and false (or .Debug ($page.Param "clarisdebug") ) }}
{{ $dbg := printf "%s[%s]" (replaceRE `.*?((?:[^/]+/){,2})$` `$1` $page.RelPermalink) (replaceRE `.*?([^/]+)$` `$1` $template) }}

{{ $meta := page.Scratch.Get "clarismeta" }}
{{ $defaultKey := "default" }}
{{ $imageKind := default $defaultKey .kind }}
{{ $imageVariant := default $defaultKey .variant }}
{{ $imageVersion := .version }}
{{ $imageAspect := .aspect }}
{{ $imageRatio := .ratio }}
{{ $imageWidth := .width }}
{{ $imageHeight := .height }}
{{ $return := default false (lower .return) }}

{{ if and (or $imageWidth $imageHeight) (not (and $imageWidth $imageHeight) ) }}
  {{ errorf "%s invalid value for .width=%v and .height%v: either none must be set or both" $dbg $imageWidth $imageHeight }}
{{ end }}

{{- $getImageParams := . }}
{{ if $debug }}
  {{- $getImageParams = merge . (dict "Page" "omitted")}}
  {{ warnf "%s lang=%v key=.Data.Images.%v.variant.%v.version.%v with imageAspect=%v imageRatio=%v based on arguments\n%v"
      $dbg site.Language.Lang $imageKind $imageVariant $imageVersion $imageAspect $imageRatio
      (jsonify (dict "indent" "  ") $getImageParams) }}
{{ end }}

{{ $result := false }}
{{ $results := false }}
{{ $variantMeta := false }}
{{ $mergedMeta := merge $meta.Site.Data.Images $meta.Single.Data.Images }}
{{ with $mergedMeta }}
  {{ with default (index . $defaultKey) (index . $imageKind)  }}
    {{ with .variant }}
      {{ with $variantMeta = default (index . $defaultKey) (index . $imageVariant) }}
        {{ with .version }}
          {{ if $imageVersion }}
            {{ with $versionMeta := default (index . $defaultKey) (index . $imageVersion) }}
              {{ $result = . }}
            {{ else }}
              {{ warnf `%s cannot find any meta for lang=%v matching key=".Data.Images.%v.variant.%v.version.%v" nor ".%v":\n%v`
                  $dbg site.Language.Lang $imageKind $imageVariant $imageVersion $defaultKey (jsonify (dict "indent" "  ") . ) }}
            {{ end }}
          {{ else if and $imageWidth $imageHeight }}
            {{ with $bestMatchVersion := partial "claris/_functions/resources/images/closest-aspect" (dict
                "Page" $page
                "width" $imageWidth
                "height" $imageHeight
                "version" .
                "Debug" $debug
              ) }}
              {{ $result = .meta }}
              {{ if $debug }}
                {{ warnf "%s using closest match for width=%v height=%v:\n%v"
                    $dbg $imageWidth $imageHeight (jsonify (dict "indent" "  ") $result ) }}
              {{ end }}
            {{ end }}
          {{ else if $imageAspect }}
            {{ with $bestMatchVersion := partial "claris/_functions/resources/images/closest-aspect" (dict
                "Page" $page
                "aspect" $imageAspect
                "version" .
                "Debug" $debug
              ) }}
              {{ $result = .meta }}
              {{ if $debug }}
                {{ warnf "%s using closest match for aspect=%v:\n%v"
                    $dbg $imageAspect (jsonify (dict "indent" "  ") $result ) }}
              {{ end }}
            {{ end }}
          {{ else if $imageRatio }}
            {{ with $bestMatchVersion := partial "claris/_functions/resources/images/closest-aspect" (dict
                "Page" $page
                "ratio" $imageRatio
                "version" .
                "Debug" $debug
              ) }}
              {{ $result = .meta }}
              {{ if $debug }}
                {{ warnf "%s using closest match for ratio=%v:\n%v"
                    $dbg $imageRatio (jsonify (dict "indent" "  ") $result ) }}
              {{ end }}
            {{ end }}
          {{ else }}
            {{ $results = . }}
          {{ end }}
        {{ else }}
          {{ warnf `%s cannot find any meta for lang=%v matching key=".Data.Images.%v.variant.%v.version" nor ".%v.version":\n%v`
              $dbg site.Language.Lang $imageKind $imageVariant $defaultKey (jsonify (dict "indent" "  ") . ) }}
        {{ end }}
      {{ else }}
        {{ warnf `%s cannot find any meta for lang=%v matching key=".Data.Images.%v.variant.%v" nor ".%v":\n%v`
            $dbg site.Language.Lang $imageKind $imageVariant $defaultKey (jsonify (dict "indent" "  ") . ) }}
      {{ end }}
    {{ else }}
      {{ warnf `%s cannot find any meta for lang=%v matching key ".Data.Images.%v.variant" nor ".%v.variant":\n%v`
          $dbg site.Language.Lang $imageKind $defaultKey (jsonify (dict "indent" "  ") . ) }}
    {{ end }}
  {{ else }}
    {{ warnf `%s cannot find any meta for lang=%v matching key=".Data.Images.%v" nor ".%v":\n%v`
        $dbg site.Language.Lang $imageKind $defaultKey (jsonify (dict "indent" "  ") . ) }}
  {{ end }}
{{ end }}
{{- if or $result $results}}
  {{ with $return }}
    {{ if in (slice "urls" "canonicalurls") . }}
      {{ $imageMeta = slice }}
      {{ if not $results }}
        {{ $results = slice $result }}
      {{ end }}
      {{ $urlTypeString := "" }}
      {{ if in (slice "canonicalurls") . }}
        {{ $urlTypeString = "canonical " }}
        {{ range $results }}
          {{ $imageMeta = append (partial "claris/_functions/canonical-url" .resource) $imageMeta }}
        {{ end }}
      {{ else }}
        {{ $imageMeta = $results }}
      {{ end }}
      {{ if $debug }}
        {{ warnf "%s returning list of %vURLs for lang=%v matching kind=%v variant=%v version=%v:\n%v"
            $dbg $urlTypeString site.Language.Lang $imageKind $imageVariant $imageVersion
            (jsonify (dict "indent" "  ") $imageMeta) }}
      {{ end }}
    {{ else }}
      {{ errorf "%s invalid value for .return: '%v'" $dbg . }}
    {{ end }}
  {{ else }}
    {{ if not $result }}
      {{/* $results is a map */}}
      {{ range $results }}
        {{ if not $result }}
          {{ $result = . }}
        {{ end }}
      {{ end }}
    {{ end }}
    {{ $variantMetaWithoutVersions := merge $variantMeta (dict "version" nil) }}
    {{ $imageURLs := (dict
      "url" $result.resource.RelPermalink
      "canonicalurl" (partial "claris/_functions/canonical-url" $result.resource.RelPermalink)
    ) }}
    {{ $imageMeta = merge $variantMetaWithoutVersions $imageURLs $result }}
    {{ if $debug }}
      {{ warnf "%s returning augmented imageMeta for lang=%v matching kind=%v variant=%v version=%v:\n%v"
          $dbg site.Language.Lang $imageKind $imageVariant $imageVersion
          (jsonify (dict "indent" "  ") $imageMeta)
          }}
    {{ end }}
  {{ end }}
{{- else }}
  {{- $getImageParams = merge . (dict "Page" "omitted")}}
  {{ warnf "%s cannot find any meta matching key '.Data.Images' for lang=%v:\n%v"
      $dbg site.Language.Lang (jsonify (dict "indent" "  ") $getImageParams) }}
{{- end }}
{{ return $imageMeta }}
