{{ $imgVersionMeta := false }}
{{ $template := "claris/_functions/meta/images/version-meta" }}
{{ $page := page }}
{{ $debug := false }}
{{ $debug := and false (or .Debug ($page.Param "clarisdebug") ) }}
{{ $dbg := printf "%s %q [%s]" (replaceRE `.*?((?:[^/]+/){,2})$` `$1` $page.RelPermalink) .meta.resource (replaceRE `.*?([^/]+)$` `$1` $template) }}

{{ $imgMeta := .meta }}
{{ $versionName := $imgMeta.name }}
{{ $versionResource := $imgMeta.resource }}
{{ $versionIndex := $imgMeta.index }}
{{ with partialCached "claris/_functions/resources/images/is-image" $versionResource $versionResource }}
  {{ $aspectRatio := partial "claris/_functions/resources/images/aspect-ratio" $versionResource }}

  {{ if not $versionName }}
    {{ $versionName = printf "aspect_%s" $aspectRatio.human }}
  {{ end }}
  {{ range $k, $v := $imgMeta }}
    {{ if not (in (slice "Page" "index" "name" "resource") $k) }}
      {{ $imgVersionMeta = merge $imgVersionMeta (dict $k $v) }}
    {{ end }}
  {{ end }}
  {{ $imgVersionMeta = merge $imgVersionMeta (dict "version" (dict
      $versionName (dict
        "index" $versionIndex
        "resource" $versionResource
        "aspect" $aspectRatio.human
        "ratio" $aspectRatio.float
        "format" $versionResource.MediaType.SubType
      )
    )
  ) }}
{{ else }}
  {{ errorf "%s: invalid resource=%v [type=%T]. You need to pass a valid image resource as .meta.resource. Initial args:\n%v"
      $dbg $versionResource $versionResource
      (jsonify (dict "indent" "  ") (merge $ (dict "Page" "omitted") )) }}
{{ end }}
{{ return $imgVersionMeta }}
