{{ $template := "_functions/app/webmanifest" }}
{{ $debug := and false (page.Param "clarisdebug") }}
{{ $dbg := printf "%s[%s]" (replaceRE `.*?((?:[^/]+/){,2})$` `$1` page.RelPermalink) (replaceRE `.*?([^/]+)$` `$1` $template) }}

{{ $meta := page.Scratch.Get "clarismeta" }}

{{ $siteMeta := (dict
  "Title" site.Title
  "Language" site.LanguageCode
  "Description" site.Params.description
) }}

{{ with $meta.Site.Data }}
  {{ if $debug }}
    {{ warnf "%s Using Site.Data to generate webmanifest:\n%v" $dbg (jsonify (dict "indent" "  ") . ) }}
  {{ end }}
  {{ $siteMeta = merge $siteMeta . }}
{{ end }}

{{ $manifest := dict
  "name" $siteMeta.Headline
  "short_name" $siteMeta.Name
  "lang" $siteMeta.Language
  "description" $siteMeta.Description
  "copyright" $siteMeta.Copyright
  "display" "standalone"
}}

{{ with .ThemeColor }}
  {{ $manifest = merge $manifest (dict
    "theme_color" . | default $siteMeta.ThemeColor
  ) }}
{{ end }}
{{ with .BackgroundColor }}
  {{ $manifest = merge $manifest (dict
    "background_color" . | default $siteMeta.BackgroundColor
  ) }}
{{ end }}

{{ with .Icons }}
  {{ $manifestIcons := slice }}
  {{ range . }}
    {{ $icon := (dict
      "src" .resource.RelPermalink
      "sizes" (printf "%dx%d" .resource.Width .resource.Height)
      "type" .resource.MediaType.Type
      "purpose" (default "any maskable" .purpose)
    ) }}
    {{ $manifestIcons = append $icon $manifestIcons }}
  {{ end }}
  {{ $manifest = merge $manifest (dict
    "icons" $manifestIcons
  ) }}
{{ else }}
  {{ warnf "%s No icons found for webmanifest" $dbg }}
{{ end }}

{{ if $debug }}
  {{ warnf "%s rendering \n%v" $dbg (jsonify (dict "indent" "  ") $manifest) }}
{{ end }}

{{ return $manifest }}
