// Required for meta.get-variable
@use "sass:meta";
@use "sass:string";
@use 'hugo:vars' as hugo;

// Core stylesheets that are included for all media types
@use 'claris/functions' as functions;

@use 'claris/variables';
@use 'claris/fonts';
@use 'claris/override';

// Additional stylesheets
@use 'claris/base';

// Component styles are split by media: all, screen, print
@use 'claris/components';
@use 'claris/components_screen';
@use 'claris/components_print';

@import 'claris/utils';

/*! purgecss start ignore */
@import 'claris/syntax';
/*! purgecss end ignore */
