{{ $schemaOrgMeta := dict }}
{{ $page := .Page }}
{{ $meta := page.Scratch.Get "clarismeta" }}
{{ $template := "claris/_functions/schema-org/index" }}
{{ $debug := and false ($page.Param "clarisdebug") (and .Debug (eq site.LanguagePrefix "") ) }}
{{ $dbg := printf "%s [%s->%s]" (replaceRE `.*?((?:[^/]+/){,2})$` `$1` $page.RelPermalink) .Template (replaceRE `.*?([^/]+(?:/[^/]+)?)$` `$1` $template) }}
{{ $entityParams := merge . (dict "Template" (printf "%s->%s" .Template $template) "Debug" $debug) }}

<!-- [Schema.org schemas](https://schema.org/docs/schemas.html) -->

{{/* Add site and page author entities */}}
{{ if reflect.IsMap $meta.Single.Data }}
  {{ with $author := $meta.Single.Data.Author }}
    {{ $authorName := cond (and (isset $author "Name") (ne (print $author.Name) "")) $author.Name nil }}
    {{ if $authorName }}
      {{ $authorKey := lower (urlize $authorName) }}
      {{ with partialCached "claris/_functions/schema-org/_entities/author" $entityParams $authorKey }}
        {{ $entityParams = merge $entityParams . }}
      {{ else }}
        {{ errorf "%s Failed to create author entities from $meta.Single.Data.Author:\n"
            $dbg (jsonify (dict "indent" "  ") $meta.Single.Data.Author) }}
      {{ end }}
    {{ else }}
      {{ errorf "%s Missing author name in $meta.Single.Data.Author" $dbg }}
    {{ end }}
    {{ if $debug }}
      {{ warnf "%s added authorEntities to entityParams.Entities:\n%v"
      $dbg (jsonify (dict "indent" "  ") $entityParams.Entities) }}
    {{ end }}
  {{ else }}
    {{ errorf "%s Missing .Author in $meta.Single.Data:\n%v"
        $dbg (jsonify (dict "indent" "  ") . ) }}
  {{ end }}
{{ else }}
  {{ errorf "%s Missing .Data in $meta.Single:\n%v"
      $dbg (jsonify (dict "indent" "  ") $meta.Single) }}
{{ end }}

{{/* Add website entity */}}
{{ if reflect.IsMap $meta.Site.Data }}
  {{ $webSiteEntities := partialCached "claris/_functions/schema-org/_entities/website" $entityParams }}
  {{ $entityParams = merge $entityParams $webSiteEntities }}
{{ else }}
  {{ errorf "%s Missing .Data in $meta.Site:\n%v"
      $dbg (jsonify (dict "indent" "  ") $meta.Site) }}
{{ end }}

{{/* Determine entity type */}}
{{ $entityType := false }}
{{ with $page.Params.schemaorg.entitytype }}
  {{ $entityType = . }}
{{ else }}
  {{ with $page.Kind }}
  {{ $kindToEntity := (dict
      "home" "WebSite"
      "page" "Article"
      "section" "CollectionPage"
      "term" "CollectionPage"
      "taxonomy" "CollectionPage"
    ) }}
    {{ with index $kindToEntity . }}
      {{ $entityType = . }}
      {{ if and false $debug }}
        {{ warnf "%s kind=%v: entityType=%v kindToEntity=%v" $dbg $page.Kind . $kindToEntity }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}
{{/* Lower case $entityType to facilitate matching */}}
{{ $entityType = lower $entityType }}

{{/* Dispatch to partial for selected entity type */}}
{{ $schemaOrgMeta := dict }}
{{ $entityMap := dict }}
{{ with $entityType }}
  {{ $schemaOrgPartial := printf "claris/_functions/schema-org/%s" $entityType }}
  {{ if $debug }}
    {{ warnf "%s calling %s with entityParams.Entities:\n%v"
        $dbg $schemaOrgPartial
        (jsonify (dict "indent" "  ") $entityParams.Entities) }}
  {{ end }}
  {{ $entityMap = partial $schemaOrgPartial $entityParams }}
  {{ if and false $debug }}
    {{ warnf "%s schemaOrgPartial %s returned entityMap:\n%v"
        $dbg $schemaOrgPartial
        (jsonify (dict "indent" "  ") $entityMap) }}
  {{ end }}

  {{/* Convert entity map to @graph slice */}}
  {{ $graph := slice }}
  {{ range $id, $entity := $entityMap }}
    {{ if and $debug (eq $entityType "article") }}
      {{ warnf "%s appending entity %s:\n%v"
          $dbg $id (jsonify (dict "indent" "  ") $entity) }}
    {{ end }}
    {{ with $entity }}
      {{ $graph = append . $graph }}
    {{ end }}
  {{ end }}

  {{ $schemaOrgMeta = dict "Root" (dict
    "@context" "http://schema.org"
    "@graph" $graph
  ) }}

{{ else }}
  {{ errorf "%s kind=%v: no entityType=%v" $dbg $page.Kind $entityType }}
{{ end }}

{{ if and false $debug }}
  {{ warnf "%s returning schemaOrgMeta:\n%v" $dbg (jsonify (dict "indent" "  ") $schemaOrgMeta) }}
{{ end }}

{{ return $schemaOrgMeta }}
