{{ $schemaOrgMeta := dict }}
{{ $page := .Page }}
{{ $meta := page.Scratch.Get "clarismeta" }}
{{ $template := "claris/_functions/schema-org/index" }}
{{ $debug := and false ($page.Param "clarisdebug") (and .Debug (eq site.LanguagePrefix "") ) }}
{{ $dbg := printf "%s [%s->%s]" (replaceRE `.*?((?:[^/]+/){,2})$` `$1` $page.RelPermalink) .Template (replaceRE `.*?([^/]+(?:/[^/]+)?)$` `$1` $template) }}
{{ $entityParams := merge . (dict "Template" (printf "%s->%s" .Template $template) "Debug" $debug) }}

<!-- [Schema.org schemas](https://schema.org/docs/schemas.html) -->

{{/* Add site and page author entities */}}
{{ if and (reflect.IsMap $meta.Single.Data) (reflect.IsMap $meta.Site.Data) }}
  {{ with $author := $meta.Single.Data.Author | default $meta.Site.Data.Author }}
    {{ with $authorName := $author.Name }}
      {{ $authorKey := lower (urlize $authorName) }}
      {{ with partialCached "claris/_functions/schema-org/_entities/author" $entityParams $authorKey }}
        {{ $entityParams = merge $entityParams . }}
      {{ else }}
        {{ errorf "%s Failed to create author entities from $meta.Single.Data.Author:\n"
            $dbg (jsonify (dict "indent" "  ") $meta.Single.Data.Author) }}
      {{ end }}
    {{ else }}
      {{ errorf "%s Missing author name in both $meta.Single.Data.Author and $meta.Site.Data.Author" $dbg }}
    {{ end }}
    {{ if $debug }}
      {{ warnf "%s added authorEntities to entityParams.Entities:\n%v"
      $dbg (jsonify (dict "indent" "  ") $entityParams.Entities) }}
    {{ end }}
  {{ else }}
    {{ if $debug }}
      {{ warnf "%s Missing .Author in both $meta.Single.Data and $meta.Site.Data" $dbg }}
    {{ end }}
  {{ end }}

  {{/* Add website entity */}}
  {{ with $webSiteEntity := partialCached "claris/_functions/schema-org/_entities/website" $entityParams }}
    {{ $entityParams = merge $entityParams $webSiteEntity }}
  {{ else }}
    {{ errorf "%s failed to generate Schema.org meta for website from .Site.Data:\n%v"
        $dbg (jsonify (dict "indent" "  ") (merge $meta.Site.Data
        (dict "Images" nil) ) ) }}
  {{ end }}
{{ else }}
  {{ errorf "%s cannot generate Schema.org meta without $meta.Single.Data and $meta.Site.Data" }}
{{ end }}

{{ $entityType := false }}
{{/* Only continue if we have at least SiteAuthor, PageAuthor and WebSite entities */}}
{{ with $entityParams.Entities }}
  {{ with and .WebSite .SiteAuthor .PageAuthor }}
    {{/* Determine entity type */}}
    {{ with $page.Params.schemaorg.entitytype }}
      {{ $entityType = . }}
    {{ else }}
      {{ with $page.Kind }}
      {{ $kindToEntity := (dict
          "home" "WebSite"
          "page" "Article"
          "section" "CollectionPage"
          "term" "CollectionPage"
          "taxonomy" "CollectionPage"
        ) }}
        {{ with index $kindToEntity . }}
          {{ $entityType = . }}
          {{ if and false $debug }}
            {{ warnf "%s kind=%v: entityType=%v kindToEntity=%v" $dbg $page.Kind . $kindToEntity }}
          {{ end }}
        {{ end }}
      {{ end }}
    {{ end }}

    {{ with $entityType }}
      {{/* Lower case $entityType to facilitate matching */}}
      {{ $entityType = lower $entityType }}
      {{ if and false $debug }}
        {{ warnf "%s using entityType=%v based on .Kind=%v" $dbg $entityType $page.Kind }}
      {{ end }}
    {{ else }}
      {{ errorf "%s kind=%v: no entityType=%v" $dbg $page.Kind $entityType }}
    {{ end }}

  {{ else }}
    {{ errorf "%s failed to generate required Schema.org entities %v.\nAvailable entities:\n%v"
        $dbg (delimit (cond .WebSite
            (cond .SiteAuthor
              (slice "PageAuthor")
              (cond .PageAuthor (slice "SiteAuthor") (slice "SiteAuthor" "PageAuthor") ) )
            (cond .PageAuthor (slice "WebSite" "SiteAuthor") (slice "WebSite" "SiteAuthor" "PageAuthor") )
        ) ", " )
        (jsonify (dict "indent" "  ") $entityParams.Entities) }}
  {{ end }}
{{ end }}

{{/* Dispatch to partial for selected entity type */}}
{{ with $entityType }}
  {{ $schemaOrgPartial := printf "claris/_functions/schema-org/%s" $entityType }}
  {{ if and false $debug }}
    {{ warnf "%s calling %s with entityParams.Entities:\n%v"
        $dbg $schemaOrgPartial
        (jsonify (dict "indent" "  ") $entityParams.Entities) }}
  {{ end }}
  {{ $entityMap := partial $schemaOrgPartial $entityParams }}
  {{ if and false $debug }}
    {{ warnf "%s schemaOrgPartial %s returned entityMap:\n%v"
        $dbg $schemaOrgPartial
        (jsonify (dict "indent" "  ") $entityMap) }}
  {{ end }}

  {{/* Convert entity map to @graph slice */}}
  {{ $graph := slice }}
  {{ range $id, $entity := $entityMap }}
    {{/* Check first if `.` is truthy before indexing `Entity` */}}
    {{ with and . .Entity }}
      {{ if and $debug (eq $entityType "profilepage") }}
        {{ warnf "%s appending entity %s:\n%v"
            $dbg $id (jsonify (dict "indent" "  ") $entity) }}
      {{ end }}
      {{ $graph = append . $graph }}
    {{ end }}
  {{ end }}

  {{ $schemaOrgMeta = dict "Root" (dict
    "@context" "http://schema.org"
    "@graph" $graph
  ) }}
{{ end }}

{{ if and false $debug }}
  {{ warnf "%s returning schemaOrgMeta:\n%v" $dbg (jsonify (dict "indent" "  ") $schemaOrgMeta) }}
{{ end }}

{{ return $schemaOrgMeta }}
