{{ $entities := dict }}
{{ $page := .Page }}
{{ $meta := page.Scratch.Get "clarismeta" }}
{{ $template := "claris/_functions/schema-org/profilepage" }}
{{ $debug := and false ($page.Param "clarisdebug") (and .Debug (eq site.LanguagePrefix "") ) }}
{{ $dbg := printf "%s [%s->%s]" (replaceRE `.*?((?:[^/]+/){,2})$` `$1` $page.RelPermalink) .Template (replaceRE `.*?([^/]+(?:/[^/]+)?)$` `$1` $template) }}
{{ $entityParams := merge . (dict "Template" (printf "%s->%s" .Template $template) "Debug" $debug) }}

<!-- [Schema.org entity ProfilePage](https://schema.org/ProfilePage) -->


{{ with $entities = partial "claris/_functions/schema-org/webpage" $entityParams }}
{{ else }}
  {{ errorf "%s failed to generate base WebPage entities" $dbg }}
{{ end }}

{{ $pageAuthor := index $entities "PageAuthor" }}
{{ $webPage := index $entities "WebPage" }}
{{ $webSite := index $entities "WebSite" }}

{{ if and $pageAuthor $webPage $webSite }}
  {{ $profile := merge $webPage (dict
    "@type" "ProfilePage"
    "about" (dict "@id" (index $pageAuthor "@id") )
    "mainEntity" (dict "@id" (index $pageAuthor "@id") )
    "isPartOf" (dict "@id" (index $webSite "@id") )
  ) }}

  {{/* Add `ProfilePage`-specific fields */}}
  {{ with $meta.Single.Data }}
    {{ with .CanonicalURL }}
      {{ $id := printf "%s#%s" . "profilePage" }}
      {{ $profile = merge $profile (dict "@id" $id ) }}
    {{ end }}
  {{ end }}

  {{ $entities = merge $entities (dict "WebPage" nil) (dict "ProfilePage" $profile) }}
{{ else }}
  {{ if not $webPage }}
    {{ errorf "%s missing WebPage entity to transform into ProfilePage" $dbg }}
  {{ end }}
  {{ if not $pageAuthor }}
    {{ errorf "%s missing PageAuthor entity for mainEntity of ProfilePage" $dbg }}
  {{ end }}
{{ end }}

{{ if $debug }}
  {{ warnf "%s returning ProfilePage entities:\n%v" $dbg (jsonify (dict "indent" "  ") $entities) }}
{{ end }}

{{ return $entities }}
