{{ $entities := dict }}
{{ $page := .Page }}
{{ $template := "claris/_functions/schema-org/webpage" }}
{{ $debug := and false ($page.Param "clarisdebug") (and .Debug (eq site.LanguagePrefix "") ) }}
{{ $dbg := printf "%s [%s->%s]" (replaceRE `.*?((?:[^/]+/){,2})$` `$1` $page.RelPermalink) .Template (replaceRE `.*?([^/]+(?:/[^/]+)?)$` `$1` $template) }}
{{ $entityParams := merge . (dict "Template" (printf "%s->%s" .Template $template) "Debug" $debug) }}

<!-- [Schema.org entity WebPage](https://schema.org/WebPage) -->

{{ $webSite := false }}
{{ with $webSite = .Entities.WebSite }}
  {{ $entities = merge $entities (dict "WebSite" . ) }}
{{ else }}
  {{ errorf "%s Missing .Entities.WebSite" $dbg }}
{{ end }}

{{ $pageAuthor := false }}
{{ with $pageAuthor = .Entities.PageAuthor }}
  {{ $entities = merge $entities (dict "PageAuthor" . ) }}
{{ else }}
  {{ errorf "%s Missing entity .Entities.PageAuthor" $dbg }}
{{ end }}

{{ if and $pageAuthor $webSite }}
  {{ with partialCached "claris/_functions/schema-org/_entities/webpage"
      $entityParams $page.RelPermalink }}
    {{ with .Entities.WebPage }}
      {{ $entity := merge .Entity (dict
          "@type" "WebPage"
          "isPartOf" $webSite.Reference
      ) }}
      {{ $entities = merge $entities (dict
        "WebPage" (dict
          "Entity" $entity
          "Reference" .Reference
          "URL" .URL
        )
      ) }}
    {{ else }}
      {{ errorf "%s failed to generate entity `WebPage`" $dbg }}
    {{ end }}
  {{ else }}
    {{ errorf "%s failed to generate entity `WebPage`" $dbg }}
  {{ end }}
{{ end }}

{{ if $debug }}
  {{ warnf "%s returning WebPage entity:\n%v" $dbg (jsonify (dict "indent" "  ") $entities) }}
{{ end }}

{{ return $entities }}
