{{ $entities := dict }}
{{ $page := .Page }}
{{ $template := "claris/_functions/schema-org/website" }}
{{ $debug := and false ($page.Param "clarisdebug") (and .Debug (eq site.LanguagePrefix "") ) }}
{{ $dbg := printf "%s [%s->%s]" (replaceRE `.*?((?:[^/]+/){,2})$` `$1` $page.RelPermalink) .Template (replaceRE `.*?([^/]+(?:/[^/]+)?)$` `$1` $template) }}
{{ $entityParams := merge . (dict "Template" (printf "%s->%s" .Template $template) "Debug" $debug) }}

<!-- [Schema.org entity WebSite](https://schema.org/WebSite) -->

{{ $siteAuthor := false }}
{{ with $siteAuthor = .Entities.SiteAuthor }}
  {{ $entities = merge $entities (dict "SiteAuthor" . ) }}
{{ else }}
  {{ errorf "%s Missing .Entities.SiteAuthor" $dbg }}
{{ end }}

{{/* The homepage of the WebSite is a WebPage entity */}}
{{ $webPage := false }}
{{ with partial "claris/_functions/schema-org/webpage" $entityParams }}
  {{ $webPage = .WebPage }}
{{ else }}
  {{ errorf "%s failed to generate base WebPage entities" $dbg }}
{{ end }}

{{ if and $siteAuthor $webPage }}
  {{/* Add `WebSite`-specific fields, including `mainEntityOfPage` pointing to the Person */}}
  {{ $webPageEntity := merge $webPage.Entity (dict
      "about" $siteAuthor.Reference
  ) }}
  {{ $entities = merge $entities (dict
    "WebPage" (dict
      "Entity" $webPageEntity
      "Reference" $webPage.Reference
      "URL" $webPage.URL
    )
  ) }}
{{ else }}
  {{ if not $webPage }}
    {{ errorf "%s missing WebPage entity to represent homepage of WebSite" $dbg }}
  {{ end }}
  {{ if not $siteAuthor }}
    {{ errorf "%s missing SiteAuthor entity for mainEntityOfPage of Website" $dbg }}
  {{ end }}
{{ end }}

{{ $webSite := false }}
{{ with $webSite = .Entities.WebSite }}
  {{ $entities = merge $entities (dict "WebSite" . ) }}
{{ else }}
  {{ errorf "%s Missing .Entities.WebSite" $dbg }}
{{ end }}

{{ if $debug }}
  {{ warnf "%s returning WebSite entity:\n%v"
      $dbg (jsonify (dict "indent" "  ") $entities) }}
{{ end }}

{{ return $entities }}
