{{ $page := .Page }}
{{ $meta := page.Scratch.Get "clarismeta" }}
{{ $schemaOrgMeta := .SchemaOrgMeta }}
{{ $template := "claris/_functions/schema-org/website" }}
{{ $debug := and false (or .Debug ($page.Param "clarisdebug") ) }}
{{ $dbg := printf "%s[%s->%s]" (replaceRE `.*?((?:[^/]+/){,2})$` `$1` $page.RelPermalink) .Template (replaceRE `.*?([^/]+)$` `$1` $template) }}

<!-- Get meta data for home page -->
{{/* {{ $args := merge . (dict "Page" (site.GetPage "/")) }}
{{ $schemaOrgMeta = partial "claris/_functions/schema-org/webpage" $args }} */}}

<!-- [Schema.org entity WebSite](https://schema.org/WebSite) -->

{{ with $meta.Site.Data }}
  {{ $rootMeta := (dict
      "isPartOf" (dict
        "@type" "WebSite"
        "@id" .EntityID
        "name" .Name
        "headline" .Headline
        "description" (default .Headline .Description)
        "inLanguage" .Language
        "url" .CanonicalURL
      )
    ) }}
  {{ with .License.HTML }}
    {{ $rootMeta = merge $rootMeta (dict "license" . ) }}
  {{ end }}
  {{- $shareImageURLs := slice }}
  {{ with $shareImageURLs := partial "claris/_functions/meta/images/get-image" (dict
    "Page" $page
    "kind" "share"
    "return" "canonicalurls"
    "Debug" $debug
  ) }}
    {{ $rootMeta = merge $rootMeta (dict
        "image" .
      ) }}
  {{ else }}
    {{ if $debug }}
      {{ warnf "%s[%s]: Missing share images for website in lang=%v" $page $template site.LanguagePrefix -}}
    {{ end }}
  {{ end }}

  {{ with $thumbnailImageURLs := partial "claris/_functions/meta/images/get-image" (dict
    "Page" $page
    "kind" "thumbnail"
    "return" "canonicalurls"
    "Debug" $debug
  ) }}
    {{- $thumbnailImageUniqueURLs := complement $shareImageURLs $thumbnailImageURLs }}
    {{- with $thumbnailImageUniqueURLs }}
      {{ $rootMeta = merge $rootMeta (dict
          "thumbnailUrl" .
        ) }}
    {{ else }}
      {{ if $debug }}
        {{ warnf "%s[%s]: None of the thumbnail images for website differ from share images in lang=%v" $page $template site.LanguagePrefix -}}
      {{ end }}
    {{ end }}
  {{ else }}
    {{ if $debug }}
      {{ warnf "%s[%s]: Missing thumbnail images for website in lang=%v" $page $template site.LanguagePrefix -}}
    {{ end }}
  {{ end }}

  {{ $schemaOrgMeta = merge $schemaOrgMeta (dict
    "Root" $rootMeta
  ) }}

{{ else }}
  {{ errorf "%s[%s]: Missing parameter $meta.Site.Data" $page $template }}
{{ end }}

{{ return $schemaOrgMeta }}
