{{ $entityMeta := false }}
{{ $page := .Page }}
{{ $meta := page.Scratch.Get "clarismeta" }}
{{ $template := "claris/_functions/schema-org/website" }}
{{ $debug := and false ($page.Param "clarisdebug") (and .Debug (eq site.LanguagePrefix "") ) }}
{{ $dbg := printf "%s [%s->%s]" (replaceRE `.*?((?:[^/]+/){,2})$` `$1` $page.RelPermalink) .Template (replaceRE `.*?([^/]+(?:/[^/]+)?)$` `$1` $template) }}
{{ $entityParams := merge . (dict "Template" (printf "%s->%s" .Template $template) "Debug" $debug) }}

<!-- [Schema.org entity WebSite](https://schema.org/WebSite) -->

{{ with $meta.Site.Data }}
  {{ $entityMeta = (dict
      "isPartOf" (dict "@id" .EntityID)
    ) }}
  {{ with .License.HTML }}
    {{ $entityMeta = merge $entityMeta (dict "license" . ) }}
  {{ end }}
  {{- $shareImageURLs := slice }}
  {{ with $shareImageURLs := partial "claris/_functions/meta/images/get-image" (dict
    "Page" $page
    "kind" "share"
    "return" "canonicalurls"
    "Debug" $debug
  ) }}
    {{ $entityMeta = merge $entityMeta (dict
        "image" .
      ) }}
  {{ else }}
    {{ if $debug }}
      {{ warnf "%s Missing share images for website in lang=%v" $dbg site.LanguagePrefix -}}
    {{ end }}
  {{ end }}

  {{ with $thumbnailImageURLs := partial "claris/_functions/meta/images/get-image" (dict
    "Page" $page
    "kind" "thumbnail"
    "return" "canonicalurls"
    "Debug" $debug
  ) }}
    {{- $thumbnailImageUniqueURLs := complement $shareImageURLs $thumbnailImageURLs }}
    {{- with $thumbnailImageUniqueURLs }}
      {{ $entityMeta = merge $entityMeta (dict
          "thumbnailUrl" .
        ) }}
    {{ else }}
      {{ if $debug }}
        {{ warnf "%s None of the thumbnail images for website differ from share images in lang=%v" $dbg site.LanguagePrefix -}}
      {{ end }}
    {{ end }}
  {{ else }}
    {{ if $debug }}
      {{ warnf "%s Missing thumbnail images for website in lang=%v" $dbg site.LanguagePrefix -}}
    {{ end }}
  {{ end }}

{{ else }}
  {{ errorf "%s Missing parameter $meta.Site.Data" $dbg }}
{{ end }}

{{ return $entityMeta }}
