{{- $template := "partials/responsive-image" }}
{{- $page := .Page }}
{{- $debug := false }}
{{- /* {{- $debug = page.Scratch.Get "clarisdebug" }} */ -}}
{{/* {{- $debug = or $debug (not (not (findRE `^/([^/]+-demo/)?$` $page.RelPermalink) ) ) -}} */}}
{{- $imageResourceArgs := merge . (dict
  "Debug" $debug
) -}}

{{- $resourceSpec := .resource -}}
{{- $variantSpec := .variant -}}
{{- $caption := default "" .caption -}}
{{- $imgAlt := default (humanize (path.BaseName $resourceSpec) ) .alt -}}
{{- $imgTitle := default $imgAlt .title -}}
{{- $imgCredit := default false .credit -}}

{{- $imgClass := default "responsive" .imgclass -}}
{{- $defaultPosition := "center center" }}
{{- $imgPosition := default $defaultPosition .position -}}
{{/* {{- if (ne $imgPosition $defaultPosition) }}
  {{- warnf "%s[%s]: imgPosition=%v" $page $template $imgPosition }}
{{- end }} */}}

{{- $defaultSizes := "100vw" }}

{{- $figureClass := cond (ne "" $caption) "caption" "" -}}
{{- with .figureclass -}}
  {{- $figureClass = trim (printf "%s %s" $figureClass .) " " -}}
{{- end }}
{{- $containerClass := "" }}

{{- $defaultVersionName := "default" }}

{{- if or (and $resourceSpec (not $imgAlt)) (and $variantSpec (not $variantSpec.default.alt) ) }}
  {{- warnf "%s[%s]: Missing attribute .alt in .resource=%v and .variant.default=\n%v"
  $page $template $resourceSpec
  (jsonify (dict "indent" "  ") $variantSpec.default ) }}
{{- end }}
{{/* {{- warnf "%s[%s]: .resource has type [%T]" $page $template $resourceSpec -}} */}}

{{- with .float -}}
  {{- $containerClass = printf "%s float-%s" $containerClass . -}}
{{- end -}}

{{- with .relativewidth -}}
  {{- $containerClass = printf "%s relative-width-%d" $containerClass (int .) -}}
  {{- $defaultSizes = printf "%vvw" (math.Max 30 (int .) ) }}
{{- end -}}

{{- $imgSizes := default $defaultSizes .sizes -}}

{{- $background := default false .background -}}
{{- with $background }}
  {{- $containerClass = printf "%s background-%s" $containerClass . -}}
{{- end }}

{{- with $containerClass }}
  {{- if $figureClass -}}
    {{- $figureClass = printf "%s %s" $figureClass . -}}
  {{- else }}
    {{- $imgClass = printf "%s %s" $imgClass . }}
  {{- end }}
{{- end }}

{{- $shape := default false .shape -}}
{{- with $shape }}
  {{- $imgClass = printf "%s shape-%s" $imgClass . }}
{{- end }}

{{ $supportIE11 := default true site.Params.supportIE11 }}

{{- $lightbox := default false .lightbox -}}

{{- $fetchPriority := default "auto" .fetchpriority -}}

{{- $lazy := default (eq $fetchPriority "low") .lazy -}}

{{- $scriptBasedLoading := or $lazy $variantSpec -}}

{{- $defaultMedia := "default" }}
{{- $defaultVariantName := "default" }}

{{- $targetFormats := default false .targetformats }}
{{- $processingParams := default false .processingparams }}

{{- if not $processingParams }}
  {{- $targetSizeSpec := "" }}
  {{- with $width := $.width }}
    {{- with $height := $.height }}
      {{- $targetSizeSpec = printf "%dx%d" $width $height }}
    {{- else }}
      {{- $targetSizeSpec = printf "%dx" $width }}
    {{- end }}
  {{- else }}
    {{- with $height := .height }}
      {{- $targetSizeSpec = printf "x%d" $height }}
    {{- end }}
  {{- end }}
  {{- with $targetSizeSpec }}
    {{- $processingParams = (dict
      "method" "fill"
      "args" $targetSizeSpec
    ) }}
  {{- end }}
{{- end }}

{{- $imageResourceArgs = merge $imageResourceArgs (dict
  "targetformats" $targetFormats
  "processingparams" $processingParams
) -}}

{{- $figureInlineStyle := "" }}

{{- $imgInlineStyleSlice := slice -}}
{{- range $attr, $value := (dict
  "aspect-ratio" $imageResourceArgs.aspectratio
  "border-radius" $imageResourceArgs.borderradius
  "min-width" $imageResourceArgs.minwidth
  "min-height" $imageResourceArgs.minheight
  "max-height" $imageResourceArgs.maxheight
  "max-width" (cond (not (not $imageResourceArgs.maxwidth)) (printf "min(100%%, %s)" $imageResourceArgs.maxwidth) false)
  "max-height" (cond (not (not $imageResourceArgs.maxheight)) (printf "min(100%%, %s)" $imageResourceArgs.maxheight) false)
  ) -}}
  {{- if $value -}}
    {{- $imgInlineStyleSlice = append $imgInlineStyleSlice (slice (printf "%s: %v" $attr $value) ) -}}
  {{- end -}}
{{- end }}
{{- $imgInlineStyle := "" }}
{{- with $imgInlineStyleSlice }}
{{- $imgInlineStyle = delimit $imgInlineStyleSlice "; " -}}
{{- end }}

{{- with $page }}<!-- Restore "." to refer to page context from which the partial was called -->
  {{- $pictureResources := slice }}
  <!-- Ensure we can use partialCached without accidentally re-using cached versions of the wrong image
  FIXME: Using only a single dictionary as a "cache busting" 2nd argument to `partialCached`
  does not seem sufficient to avoid accidental re-use of image resources.
  In fact, passing both '$imageResourceVariant' and '$imageResourceVariant.resource'
  seems to avoid the issue, but it appears to be clearer to pass the
  resource specification and $imageResourceVariant as two separate arguments -->
  {{- $imageResourceVariant := dict }}
  {{- with $imageResourceArgs }}
    {{- $imageResourceVariant = merge $imageResourceVariant (dict
      "width" .width
      "height" .height
      "targetformats" .targetformats
      "processingparams" .processingparams
    ) }}
  {{- end }}
  {{- if $variantSpec }}
    {{- if $debug }}
      {{- warnf "%s[%s]: .variant is map: %v" $page $template $variantSpec -}}
    {{- end }}
    {{- range $variantName, $variantMeta := $variantSpec }}
      {{- $resMedia := .media }}
      {{- $imgTitle = .title }}
      {{- $imgSizes = default $defaultSizes .sizes }}
      {{- $imgPosition = default $defaultPosition .position }}
      {{ $variantInlineStyleAttr := printf "object-fit: cover; object-position: %s%s%s"
          $imgPosition
          (cond $supportIE11 (printf "; font-family: 'object-fit: cover; object-position: %s'" $imgPosition) "")
          (cond (not (not $imgInlineStyle)) (printf "; %s" $imgInlineStyle) "") }}
      {{- $imgAlt = default $imgTitle .alt }}
      {{- $imgCredit = default $imgTitle .credit }}
      {{- $version := default $defaultVersionName .aspect }}
      {{- $res := (index .version $version).resource }}
      {{- $imageResourceArgs = merge $imageResourceArgs (dict "resource" $res ) }}
      {{- with (partialCached "claris/_functions/resources/images/image-srcset" $imageResourceArgs $res $imageResourceVariant) }}
        {{- $pictureResources = append $pictureResources (slice (dict
          "variant" $variantName
          "media" $resMedia
          "style" $variantInlineStyleAttr
          "sizes" $imgSizes
          "position" $imgPosition
          "formatsrcsets" .
          "title" $imgTitle
          "alt" $imgAlt
          "credit" $imgCredit
        ) ) }}
      {{- else }}
        {{- warnf "%s[%s]: failed to get srcSet with %s" $page $template $imageResourceArgs -}}
      {{- end }}
    {{- end }}
    {{- /* If none of the .media values match $defaultVariantName, take the first image as the default */ -}}
    {{- if (not (where $pictureResources "variant" $defaultVariantName) ) }}
      {{- with (index $variantSpec $defaultVariantName) }}
        {{- $imgTitle = .title }}
        {{- $imgAlt = default $imgTitle .alt }}
        {{- $imgCredit = default $imgTitle .credit }}
        {{- $res := .version.default.resource }}
        {{- $imgPosition = default $defaultPosition .position }}
        {{ $variantInlineStyleAttr := printf "object-fit: cover; object-position: %s%s%s"
            $imgPosition
            (cond $supportIE11 (printf "; font-family: 'object-fit: cover; object-position: %s'" $imgPosition) "")
            (cond (not (not $imgInlineStyle)) (printf "; %s" $imgInlineStyle) "") }}
        {{- if $debug }}
          {{- warnf "%s[%s]: imgPosition=%v in defaultVariant=%v" $page $template $imgPosition . }}
        {{- end }}
        {{- $imageResourceArgs = merge $imageResourceArgs (dict "resource" $res ) }}
        {{- with (partialCached "claris/_functions/resources/images/image-srcset" $imageResourceArgs $res $imageResourceVariant) }}
          {{- $pictureResources = append $pictureResources (slice (dict
            "variant" $defaultVariantName
            "media" $defaultMedia
            "style" $variantInlineStyleAttr
            "position" $imgPosition
            "formatsrcsets" .
            "title" $imgTitle
            "alt" $imgAlt
            "credit" $imgCredit
          ) ) }}
        {{- else }}
          {{- warnf "%s[%s]: failed to get srcSet with %s" $page $template $imageResourceArgs -}}
        {{- end }}
      {{- end }}
    {{- end }}
  {{- else }}
    {{- with (partialCached "claris/_functions/resources/images/image-srcset" $imageResourceArgs $resourceSpec $imageResourceVariant) }}
      {{ $variantInlineStyleAttr := printf "object-fit: cover; object-position: %s%s%s"
          $imgPosition
          (cond $supportIE11 (printf "; font-family: 'object-fit: cover; object-position: %s'" $imgPosition) "")
          (cond (not (not $imgInlineStyle)) (printf "; %s" $imgInlineStyle) "") }}
      {{- $pictureResources = append $pictureResources (slice (dict
          "variant" $defaultVariantName
          "media" $defaultMedia
          "style" $variantInlineStyleAttr
          "formatsrcsets" .
          "title" $imgTitle
          "alt" $imgAlt
          "credit" $imgCredit
        ) ) }}
    {{- else }}
      {{- warnf "%s[%s]: .resource: %v failed to get srcSet with %s" $page $template $resourceSpec $imageResourceArgs -}}
    {{- end }}
  {{- end }}
  {{/* {{- warnf "%s[%s]: .resource=%q[%T] with imageResourceVariant=%v with imageResourceArgs=%v: pictureResources:\n%v\n"
      $page $template $imageResourceArgs.resource $imageResourceArgs.resource $imageResourceVariant
      $imageResourceArgs $pictureResources -}} */}}

  {{- with $pictureResources }}
    {{- if $debug }}
      {{- warnf "%s[%s]: pictureResources=%v"
          $page $template (jsonify (dict "indent" "  ") . ) }}
    {{- end }}
    {{- $defaultSrcURL := "" }}
    {{- with (where $pictureResources "variant" "eq" $defaultVariantName) }}
      {{- with last 1 (index . 0).formatsrcsets.formats }}
        {{- $defaultSrcURL = (index . 0).resource.RelPermalink }}
      {{- end }}
    {{- end }}
    {{- if not $defaultSrcURL }}
      {{- warnf "%s[%s]: Failed to determine defaultSrcURL from %v"
          $page $template (jsonify (dict "indent" "  ") .) -}}
    {{- end }}

    {{- $backgroundLeftInlineStyle := "" -}}
    {{- $backgroundRightInlineStyle := "" -}}

    {{- if $figureClass }}
      <figure class="{{ $figureClass }}{{ if $lazy }} lazyload{{ end }}">
      <!-- Would prefer to use NPM module medium-zoom to zoom in on the figure including the caption
      but doing this by adding the following attribute appears not to work: -->
      {{- /* with $lightbox }} data-zoomable="{{ . | safeHTMLAttr }}"{{- end -}} */ -}}
      {{- if true }}
        {{- with index (where $pictureResources "variant" "eq" $defaultVariantName) 0 }}
          {{- $dominantColorsHEX := (index (first 1 .formatsrcsets.formats) 0).resource.Colors }}
          {{- $dominantColorHEX := index $dominantColorsHEX 0 }}
          {{- $backgroundLeftInlineStyle = printf "background: linear-gradient(270deg, transparent 0px, %s calc( min(10vw, 0.1 * var(--content_max-width))))"
            (index $dominantColorsHEX 0) -}}
          {{- $backgroundRightInlineStyle = printf "background: linear-gradient(90deg, transparent 0px, %s calc( min(10vw, 0.1 * var(--content_max-width))))"
            (index $dominantColorsHEX 0) -}}
        <div class="background left" {{ printf `style="%s"` $backgroundLeftInlineStyle | safeHTMLAttr }}></div>
        {{- end }}
      {{- end }}
    {{- end }}
        <!-- HTML element is a grouping element and must not contain any styles -->
        <picture>
    {{- $multiVariant := false }}
    {{- range $variant := where $pictureResources "variant" "ne" $defaultVariantName }}
      {{- $multiVariant = true }}
      {{- $media := .media }}
      {{- $variantInlineStyleAttr := .style }}
      {{- if $debug }}
        {{- warnf "%s[%s]: media=%v: pictureResource=%v"
            $page $template .media (jsonify (dict "indent" "  ") . ) }}
      {{- end }}
      {{- $placeholderInlineImg := .formatsrcsets.placeholder }}
      {{- range .formatsrcsets.formats }}
          {{- $imgWidth := default .resource.Width $imageResourceArgs.Width }}
          {{- $imgHeight := default .resource.Height $imageResourceArgs.Height }}
          <source type="{{ .resource.MediaType }}" data-media="{{ $media }}" {{ printf "data-style=%q" $variantInlineStyleAttr | safeHTMLAttr }} sizes="{{ $imgSizes | safeHTMLAttr }}"
          {{- if $scriptBasedLoading }}
            {{ printf "srcset=%q" (printf  "%s %dw" $placeholderInlineImg $imgWidth) | safeHTMLAttr }}
            data-srcset="{{ .srcset }}"
          {{- else }}
            srcset="{{ .srcset }}"
          {{- end -}}
          >
      {{- end }}
    {{- end }}

    {{- range $variant := where $pictureResources "variant" "eq" $defaultVariantName }}
      {{- $media := .media }}
      {{- $numFormats := len .formatsrcsets.formats }}
      {{- if gt $numFormats 1 }}
        {{- $nonDefaultFormats := first (sub $numFormats 1) .formatsrcsets.formats }}
        {{- if $debug }}
          {{- warnf "%s[%s]: media=%v: nonDefaultFormats=%v"
              $page $template $media (jsonify (dict "indent" "  ") $nonDefaultFormats ) }}
        {{- end }}
        {{- $variantInlineStyleAttr := .style }}
        {{- $placeholderInlineImg := .formatsrcsets.placeholder }}
        {{- range $nonDefaultFormats }}
          {{- $imgWidth := default .resource.Width $imageResourceArgs.Width }}
          {{- $imgHeight := default .resource.Height $imageResourceArgs.Height }}
          <source type="{{ .resource.MediaType }}" {{ with $multiVariant }} data-media="all"{{ end }} {{ printf "data-style=%q" $variantInlineStyleAttr | safeHTMLAttr }} sizes="{{ $imgSizes | safeHTMLAttr }}"
          {{- if $scriptBasedLoading }}
            {{ printf "srcset=%q" (printf  "%s %dw" $placeholderInlineImg $imgWidth) | safeHTMLAttr }}
            data-srcset="{{ .srcset }}"
          {{- else }}
            srcset="{{ .srcset }}"
          {{- end -}}
          >
        {{- end }}
      {{- end }}

      {{- $placeholderInlineImg := .formatsrcsets.placeholder }}
      {{- $variantInlineStyleAttr := .style }}
      {{- range (last 1 .formatsrcsets.formats) }}
        {{- $srcURL := .resource.RelPermalink }}
        {{- $imgWidth := default .resource.Width $imageResourceArgs.Width }}
        {{- $imgHeight := default .resource.Height $imageResourceArgs.Height }}
          <img  class="{{ with $imgClass }}{{ . }}{{ end }}{{ if $scriptBasedLoading }} lazyload{{ end }}"
                width="{{ $imgWidth }}" height="{{ $imgHeight }}"
            {{- if $scriptBasedLoading }}
                  {{ printf "src=%q" $placeholderInlineImg | safeHTMLAttr }}
              {{ printf " srcset=%q" (printf  "%s %dw" $placeholderInlineImg $imgWidth) | safeHTMLAttr }}
             data-src="{{ $srcURL }}"
          data-srcset="{{ .srcset }}"
              {{- if $lazy }}
              loading="lazy"
              {{- end }}
            {{- else }}
                  src="{{ $srcURL }}"
              srcset="{{ .srcset }}"
            {{- end }}
            {{- with $fetchPriority }}
        fetchpriority="{{ . | safeHTMLAttr }}"
            {{- end }}
            {{- with $lightbox }}
        data-zoomable="{{ . | safeHTMLAttr }}"
            {{- end }}
                sizes="{{ $imgSizes | safeHTMLAttr }}"
            {{- with $variant.title }}
                title="{{ . | safeHTMLAttr }}"
            {{- end }}
            {{- with $variant.alt }}
                  alt="{{ . | safeHTMLAttr }}"
            {{- end }}
            {{- with $variantInlineStyleAttr }}
                {{ printf `style="%s"` . | safeHTMLAttr }}
            {{- end -}}
          >
      {{- end }}
    {{- end }}
          </picture>

    {{- if $scriptBasedLoading }}
      {{- range $variant := where $pictureResources "variant" "eq" $defaultVariantName }}
        {{- $variantInlineStyleAttr := .style }}
        {{- range (last 1 .formatsrcsets.formats) }}
          {{- $srcURL := .resource.RelPermalink }}
          {{- $imgWidth := default .resource.Width $imageResourceArgs.Width }}
          {{- $imgHeight := default .resource.Height $imageResourceArgs.Height }}
          <noscript>
            <img  class="{{ with $imgClass }}{{ . }}{{ end }}"
                  width="{{ $imgWidth }}" height="{{ $imgHeight }}"
                    src="{{ $srcURL }}"
                 srcset="{{ .srcset }}"
              {{- with $fetchPriority }}
          fetchpriority="{{ . | safeHTMLAttr }}"
              {{- end }}
                  sizes="{{ $imgSizes | safeHTMLAttr }}"
              {{- with $variant.title }}
                  title="{{ . | safeHTMLAttr }}"
              {{- end }}
              {{- with $variant.alt }}
                    alt="{{ . | safeHTMLAttr }}"
              {{- end }}
              {{- with $variantInlineStyleAttr }}
                  {{ printf `style="%s"` . | safeHTMLAttr }}
              {{- end -}}
            >
          </noscript>
        {{- end }}
      {{- end }}
    {{- end }}

    {{- if $figureClass -}}
      {{- with $caption -}}
          <figcaption>
            {{- . | $page.RenderString -}}
          </figcaption>
      {{- end }}
      {{- with $backgroundRightInlineStyle }}
        <div class="background right" {{ printf `style="%s"` $backgroundRightInlineStyle | safeHTMLAttr }}></div>
      {{- end }}
        </figure>
    {{- end }}

  {{- else }}

    {{- warnf "%s[%s]: failed to get srcSet with param .resource=%s" $page $template $resourceSpec -}}

  {{- end }}

{{- end }}
