{{- $pageHidden := true }}
{{- $page := .Page }}
{{- $template := "claris/_functions/is-page-hidden" }}
{{- $debug := false }}
{{- /* {{- $debug = page.Scratch.Get "clarisdebug" }} */ -}}
{{/* {{- $debug = or $debug (not (not (findRE `^(/[^/]+-demo)?/(de/)?transformation/why-okr` $page.RelPermalink) ) ) }} */}}

{{- with $page }}

  {{- $draftParam := .Params.draft }}
  {{- $hiddenParam := .Params.hidden }}
  {{- if or $draftParam $hiddenParam }}
    {{- if $debug }}
      {{- warnf "%s[%s]: \nRelPermalink=%v\npageHidden=%v based on .Params.draft=%v .Params.hidden=%v"
          $page $template .RelPermalink $pageHidden .Params.draft .Params.hidden }}
    {{- end }}

  {{- else }}

    {{- $pageHidden = false }}

    {{- $outputFormat := partial "claris/_functions/output-format" $page }}
    {{- $visibleOutputFormats := default (slice "html") ($page.Param ".visible.outputFormats") }}
    {{- $hiddenOutputFormats := default (slice "print") ($page.Param ".hidden.outputFormats") }}

    {{- if not (in $visibleOutputFormats (lower $outputFormat.Name)) }}
      {{- $pageHidden = true }}
    {{- else if in $hiddenOutputFormats (lower $outputFormat.Name) }}
      {{- $pageHidden = true }}
    {{- end }}

    {{- if $pageHidden }}
      {{- if $debug }}
        {{- warnf "%s[%s]: \nRelPermalink=%v\npageHidden=%v based on $visibleOutputFormats=%v  $hiddenOutputFormats=%v outputFormat=%v"
            $page $template .RelPermalink $pageHidden $visibleOutputFormats $hiddenOutputFormats $outputFormat.Name -}}
      {{- end }}
    {{- else }}
      {{- $pagePath := "" }}
      {{- with $page.File }}
        {{- $pagePath = .Path }}
      {{- else }}
        {{- $pagePath = .Path }}
      {{- end }}

      <!-- Determine if any part of the path to the file underlying this page is hidden -->
      {{- $hiddenSections := $page.Param "hidden.sections" }}
      {{- with $page.Param "footer.section" }}
        <!-- Ideally, the user would put a file `index.md` with the following content into the `_footer` directory:
        ---
        headless: true
        ---
        But in case this file is misssing, we hide the footer section here -->
        {{- $hiddenSections = append . $hiddenSections | uniq }}
      {{- end }}
      {{- $hiddenPathPrefix := default "_" ($page.Param "hidden.pathprefix") }}
      {{- $hiddenPathElements := $page.Param "hidden.pathelements" }}

      {{- with $pagePath }}
        {{- $pathDirFile := (path.Split .) }}
        {{- with $pathDirFile.Dir }}
          {{- if or (strings.HasPrefix . $hiddenPathPrefix) (in $hiddenPathElements .) }}
            {{- $pageHidden = true }}
            {{/* {{- warnf "%s[%s]: Hiding pagePath=%v: it begins with %v"
                $page $template $pagePath $hiddenPathPrefix }} */}}
          {{- else }}
            {{- $pathParts := split . "/" }}
            {{- range $pathParts }}
              {{- if or (strings.HasPrefix . $hiddenPathPrefix) (in $hiddenPathElements .) }}
                {{- $pageHidden = true }}
                {{/* {{- warnf "%s[%s]: Hiding pagePath=%v: part=%v begins with %v"
                    $page $template $pagePath . $hiddenPathPrefix }} */}}
              {{- end }}
            {{- end }}
          {{- end }}
        {{- else }}
          {{- if and (ne $page.Kind "home") (or (strings.HasPrefix . $hiddenPathPrefix) (in $hiddenPathElements .)) }}
            {{- $pageHidden = true }}
            {{/* {{- warnf "%s[%s]: Hiding pagePath=%v: it begins with %v"
                $page $template $pagePath $hiddenPathPrefix }} */}}
          {{- end }}
        {{- end }}
      {{- end }}
      {{/* {{- if $debug and $pageHidden }}
        {{- warnf "%s[%s]: pageHidden=%v based on pagePath=%s hiddenSections=%v hiddenPathElements=%v hiddenPathPrefix=%v"
            $page $template $pageHidden $pagePath $hiddenSections $hiddenPathElements $hiddenPathPrefix }}
      {{- end }} */}}
    {{- end }}
  {{- end }}
{{- end }}
{{- return $pageHidden }}
