{{ $scriptBundles := dict }}
{{ $page := .Page }}
{{ $template := "claris/_functions/script-bundles" }}
{{ $debug := and false ($page.Param "clarisdebug") }}
{{ $dbg := printf "%s[%s]" (replaceRE `.*?((?:[^/]+/){,2})$` `$1` $page.RelPermalink) (replaceRE `.*?([^/]+)$` `$1` $template) }}

{{ $assetVariant := .AssetVariant }}

{{ $mediaTypeList := $assetVariant.MediaTypeList }}
{{ $contentTypeList := $assetVariant.ContentTypeList }}
{{ $contentTypeListID := $assetVariant.ContentTypeListID }}

{{ $targets := (slice
  (dict
    "Target" "head"
    "Media" "all"
  )
  (dict
    "Target" "body"
    "Media" "all"
  )
) }}

{{ $priorities := (slice
  (dict
    "Match" "base"
    "priority" "high"
  )
  (dict
    "Match"  "enhanced"
    "priority" "auto"
  )
  (dict
    "Match" "optional"
    "priority" "low"
  )
) }}

{{ range $target := $targets }}
  {{ $mediaType := default "all" $target.Media }}
  {{ if (in $mediaTypeList $mediaType) }}

    {{ $targetName := $target.Target }}
    {{ $targetPriorityBundles := slice }}
    {{ range $priority := $priorities }}
      {{ $targetPriorityParams := (dict
          "AssetVariant" $assetVariant
          "MediaType" $mediaType
          "TargetName" $targetName
          "PriorityMatch" $priority.Match
      ) }}

      {{/* Get the target priority bundle */}}
      {{ with $targetPriorityBundle := partial "claris/_functions/scripts/target-priority-bundle" $targetPriorityParams }}
        {{ $scriptBundle := (dict
          "media" $mediaType
          "resource" $targetPriorityBundle
          "priority" $priority.priority
        ) }}
        {{ $targetPriorityBundles = append $scriptBundle $targetPriorityBundles }}
        {{ if $debug }}
          {{ warnf "%s contentTypeListID=%s targetName=%s bundle: Created target priority bundle with targetPriorityParams:\n%v"
              $dbg $contentTypeListID $targetName (jsonify (dict "indent" "  ") $targetPriorityParams) }}
        {{ end }}
      {{ else }}
        {{ if $debug }}
          {{ warnf "%s contentTypeListID=%s targetName=%s bundle: No target priority bundle from targetPriorityParams:\n%v"
              $dbg $contentTypeListID $targetName (jsonify (dict "indent" "  ") $targetPriorityParams) }}
        {{ end }}
      {{ end }}

    {{ end }}

    {{ $scriptBundles = merge $scriptBundles (dict $targetName $targetPriorityBundles)}}

  {{ else }}
    {{ if $debug }}
      {{ warnf "%s contentTypeListID=%s: Not generating script bundle for MediaType=%s: not in MediaTypeList=%v"
          $dbg $contentTypeListID $mediaType $mediaTypeList }}
    {{ end }}
  {{ end }}
{{ end }}

{{ if $debug }}
  {{ warnf "%s returning scriptBundles:" $dbg }}
  {{ range $target, $targetBundles := $scriptBundles }}
    {{ range $targetBundles }}
      {{ $resourceStr := printf "%s [%s] (%d bytes)" .resource.Name .resource.MediaType.Type (len .resource.Content) }}
      {{ $bundleJSON := merge . (dict "resource" $resourceStr ) }}
      {{ warnf "%s" (jsonify (dict "indent" "  ") $bundleJSON) }}
    {{ end }}
  {{ end }}
{{ end }}
{{ return $scriptBundles }}
