{{- $ctx := . }}
{{- $page := .Page }}
{{- $assetVariant := .AssetVariant }}
{{- $template := "claris/_assets/scripts" }}
{{- $debug := and false ($page.Param "clarisdebug") }}
{{- $dbg := printf "%s[%s]" (replaceRE `.*?((?:[^/]+/){,2})$` `$1` $page.RelPermalink) (replaceRE `.*?([^/]+)$` `$1` $template) }}

{{- with $target := .Target }}
  {{- with $assetBundles := partialCached "claris/_functions/assets/asset-bundles" $ctx $assetVariant.CoalesceLanguageKey }}
    {{- with $inlineBundles := index $assetBundles "Scripts" $target "inline" }}
      {{- if $debug }}
        {{- warnf "%s mounting bundles with target=%q type=inline: %v" $dbg $target $inlineBundles }}
      {{- end }}
      {{- range $bundle := $inlineBundles }}
        {{- with .resource }}
      <script>
        {{ .Content | safeJS }}
      </script>
        {{- end }}
      {{- end }}
    {{- else }}
      {{- if $debug }}
        {{- warnf "%s no bundle found with target=%q type=inline" $dbg $target }}
      {{- end }}
    {{- end }}

    {{- with $moduleBundles := index $assetBundles "Scripts" $target "module" }}
      {{- if $debug }}
        {{- warnf "%s mounting bundles with target=%q type=module: %v" $dbg $target $moduleBundles }}
      {{- end }}
      {{- range $bundle := $moduleBundles }}
        {{- with .resource }}
      <script type="module" src="{{ .RelPermalink }}" fetchpriority="{{ $bundle.priority }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous"></script>
        {{- end }}
      {{- end }}
    {{- else }}
      {{- if $debug }}
        {{- warnf "%s no bundle found with target=%q type=module" $dbg $target }}
      {{- end }}
    {{- end }}

    {{- with $deferBundles := index $assetBundles "Scripts" $target "defer" }}
      {{- if $debug }}
        {{- warnf "%s mounting bundles with target=%q type=module: %v" $dbg $target $deferBundles }}
      {{- end }}
      <script>
        window.addEventListener("load", function () {
          const defer = window.requestIdleCallback || function (cb) {
            setTimeout(cb, 2000);
          };

          const scripts = [
            {{- range $bundle := $deferBundles }}
              {{- with .resource }}
                {{ printf `{ src: "%s", fetchPriority: "%s", integrity: "%s" },` .RelPermalink $bundle.priority .Data.Integrity | safeJS }}
              {{- end }}
            {{- end }}
          ];

          scripts.forEach(({ src, fetchPriority, integrity }) => {
            defer(() => {
              const script = document.createElement("script");
              script.type = "module";
              script.src = src;
              script.fetchPriority = fetchPriority;
              script.integrity = integrity;
              script.crossOrigin = "anonymous";
              document.head.appendChild(script);
            });
          });
        });
      </script>
    {{- else }}
      {{- if $debug }}
        {{- warnf "%s no bundle found with target=%q type=defer" $dbg $target }}
      {{- end }}
    {{- end }}
  {{- end -}}
{{- else }}
  {{- warnf "%s invalid required argument .Target=%v" $dbg .Target }}
{{- end -}}
