/* crimson-text-regular - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: 400;
  src: url('{{ .HostedFontPath }}/crimson-text-v19-latin-ext/crimson-text-v19-latin-ext-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('{{ .HostedFontPath }}/crimson-text-v19-latin-ext/crimson-text-v19-latin-ext-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* crimson-text-italic - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Crimson Text';
  font-style: italic;
  font-weight: 400;
  src: url('{{ .HostedFontPath }}/crimson-text-v19-latin-ext/crimson-text-v19-latin-ext-italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('{{ .HostedFontPath }}/crimson-text-v19-latin-ext/crimson-text-v19-latin-ext-italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* crimson-text-600 - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: 600;
  src: url('{{ .HostedFontPath }}/crimson-text-v19-latin-ext/crimson-text-v19-latin-ext-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('{{ .HostedFontPath }}/crimson-text-v19-latin-ext/crimson-text-v19-latin-ext-600.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* crimson-text-600italic - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Crimson Text';
  font-style: italic;
  font-weight: 600;
  src: url('{{ .HostedFontPath }}/crimson-text-v19-latin-ext/crimson-text-v19-latin-ext-600italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('{{ .HostedFontPath }}/crimson-text-v19-latin-ext/crimson-text-v19-latin-ext-600italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* crimson-text-700 - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: 700;
  src: url('{{ .HostedFontPath }}/crimson-text-v19-latin-ext/crimson-text-v19-latin-ext-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('{{ .HostedFontPath }}/crimson-text-v19-latin-ext/crimson-text-v19-latin-ext-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* crimson-text-700italic - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Crimson Text';
  font-style: italic;
  font-weight: 700;
  src: url('{{ .HostedFontPath }}/crimson-text-v19-latin-ext/crimson-text-v19-latin-ext-700italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('{{ .HostedFontPath }}/crimson-text-v19-latin-ext/crimson-text-v19-latin-ext-700italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
