/* ibm-plex-mono-100 - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 100;
  src: url('{{ .HostedFontPath }}/ibm-plex-mono-v15-latin-ext/ibm-plex-mono-v15-latin-ext-100.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('{{ .HostedFontPath }}/ibm-plex-mono-v15-latin-ext/ibm-plex-mono-v15-latin-ext-100.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibm-plex-mono-100italic - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 100;
  src: url('{{ .HostedFontPath }}/ibm-plex-mono-v15-latin-ext/ibm-plex-mono-v15-latin-ext-100italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('{{ .HostedFontPath }}/ibm-plex-mono-v15-latin-ext/ibm-plex-mono-v15-latin-ext-100italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibm-plex-mono-200 - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 200;
  src: url('{{ .HostedFontPath }}/ibm-plex-mono-v15-latin-ext/ibm-plex-mono-v15-latin-ext-200.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('{{ .HostedFontPath }}/ibm-plex-mono-v15-latin-ext/ibm-plex-mono-v15-latin-ext-200.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibm-plex-mono-200italic - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 200;
  src: url('{{ .HostedFontPath }}/ibm-plex-mono-v15-latin-ext/ibm-plex-mono-v15-latin-ext-200italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('{{ .HostedFontPath }}/ibm-plex-mono-v15-latin-ext/ibm-plex-mono-v15-latin-ext-200italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibm-plex-mono-300 - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 300;
  src: url('{{ .HostedFontPath }}/ibm-plex-mono-v15-latin-ext/ibm-plex-mono-v15-latin-ext-300.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('{{ .HostedFontPath }}/ibm-plex-mono-v15-latin-ext/ibm-plex-mono-v15-latin-ext-300.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibm-plex-mono-300italic - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 300;
  src: url('{{ .HostedFontPath }}/ibm-plex-mono-v15-latin-ext/ibm-plex-mono-v15-latin-ext-300italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('{{ .HostedFontPath }}/ibm-plex-mono-v15-latin-ext/ibm-plex-mono-v15-latin-ext-300italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibm-plex-mono-regular - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  src: url('{{ .HostedFontPath }}/ibm-plex-mono-v15-latin-ext/ibm-plex-mono-v15-latin-ext-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('{{ .HostedFontPath }}/ibm-plex-mono-v15-latin-ext/ibm-plex-mono-v15-latin-ext-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibm-plex-mono-italic - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 400;
  src: url('{{ .HostedFontPath }}/ibm-plex-mono-v15-latin-ext/ibm-plex-mono-v15-latin-ext-italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('{{ .HostedFontPath }}/ibm-plex-mono-v15-latin-ext/ibm-plex-mono-v15-latin-ext-italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibm-plex-mono-500 - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 500;
  src: url('{{ .HostedFontPath }}/ibm-plex-mono-v15-latin-ext/ibm-plex-mono-v15-latin-ext-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('{{ .HostedFontPath }}/ibm-plex-mono-v15-latin-ext/ibm-plex-mono-v15-latin-ext-500.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibm-plex-mono-500italic - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 500;
  src: url('{{ .HostedFontPath }}/ibm-plex-mono-v15-latin-ext/ibm-plex-mono-v15-latin-ext-500italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('{{ .HostedFontPath }}/ibm-plex-mono-v15-latin-ext/ibm-plex-mono-v15-latin-ext-500italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibm-plex-mono-600 - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 600;
  src: url('{{ .HostedFontPath }}/ibm-plex-mono-v15-latin-ext/ibm-plex-mono-v15-latin-ext-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('{{ .HostedFontPath }}/ibm-plex-mono-v15-latin-ext/ibm-plex-mono-v15-latin-ext-600.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibm-plex-mono-600italic - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 600;
  src: url('{{ .HostedFontPath }}/ibm-plex-mono-v15-latin-ext/ibm-plex-mono-v15-latin-ext-600italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('{{ .HostedFontPath }}/ibm-plex-mono-v15-latin-ext/ibm-plex-mono-v15-latin-ext-600italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibm-plex-mono-700 - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 700;
  src: url('{{ .HostedFontPath }}/ibm-plex-mono-v15-latin-ext/ibm-plex-mono-v15-latin-ext-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('{{ .HostedFontPath }}/ibm-plex-mono-v15-latin-ext/ibm-plex-mono-v15-latin-ext-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibm-plex-mono-700italic - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 700;
  src: url('{{ .HostedFontPath }}/ibm-plex-mono-v15-latin-ext/ibm-plex-mono-v15-latin-ext-700italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('{{ .HostedFontPath }}/ibm-plex-mono-v15-latin-ext/ibm-plex-mono-v15-latin-ext-700italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
