$theme-hue-lit: hue($themeColorLit);
$theme-sat-lit: saturation($themeColorLit);
$theme-lum-lit: lightness($themeColorLit);

$theme-hue-dim: hue($themeColorDim);
$theme-sat-dim: saturation($themeColorDim);
$theme-lum-dim: lightness($themeColorDim);

$theme-hue-lit: hue($themeColorBackgroundLit);
$theme-sat-lit: saturation($themeColorBackgroundLit);
$theme-lum-lit: lightness($themeColorBackgroundLit);

$theme-hue-dim: hue($themeColorBackgroundDim);
$theme-sat-dim: saturation($themeColorBackgroundDim);
$theme-lum-dim: lightness($themeColorBackgroundDim);

$theme-hue-lit: hue($themeNeutralBackgroundLit);
$theme-sat-lit: saturation($themeNeutralBackgroundLit);
$theme-lum-lit: lightness($themeNeutralBackgroundLit);

$theme-hue-dim: hue($themeNeutralBackgroundDim);
$theme-sat-dim: saturation($themeNeutralBackgroundDim);
$theme-lum-dim: lightness($themeNeutralBackgroundDim);

$theme-sat-neutral-lit: 0%;
$theme-sat-neutral-dim: 0%;

$text-lum-lit: lightness( darken(hsl($theme-hue-lit, $theme-sat-lit, $theme-lum-lit), 87% ) );
$text-lit:                hsl($theme-hue-lit, $theme-sat-lit, $text-lum-lit);
$text-hover-lit: darken( hsl($theme-hue-lit, $theme-sat-lit, $text-lum-lit), 20%);
$text-opa-10-lit: hsla($theme-hue-lit, $theme-sat-lit, $text-lum-lit, 0.1);
$text-opa-20-lit: hsla($theme-hue-lit, $theme-sat-lit, $text-lum-lit, 0.2);
$text-opa-80-lit: hsla($theme-hue-lit, $theme-sat-lit, $text-lum-lit, 0.8);
$text-opa-90-lit: hsla($theme-hue-lit, $theme-sat-lit, $text-lum-lit, 0.9);

$text-lum-dim: lightness( lighten(hsl($theme-hue-lit, $theme-sat-lit, $theme-lum-lit), 0% ) );
$text-dim:               hsl($theme-hue-dim, $theme-sat-dim, $text-lum-dim);
$text-hover-dim: lighten( hsl($theme-hue-dim, $theme-sat-dim, $text-lum-dim), 10%);
$text-opa-10-dim: hsla($theme-hue-dim, $theme-sat-dim, $text-lum-dim, 0.1);
$text-opa-20-dim: hsla($theme-hue-dim, $theme-sat-dim, $text-lum-dim, 0.2);
$text-opa-80-dim: hsla($theme-hue-dim, $theme-sat-dim, $text-lum-dim, 0.8);
$text-opa-90-dim: hsla($theme-hue-dim, $theme-sat-dim, $text-lum-dim, 0.9);

$text-light-lit: hsl($theme-hue-lit, $theme-sat-lit, $text-lum-lit);
$text-light-dim: hsl($theme-hue-dim, $theme-sat-dim, $text-lum-lit);

$text-dark-lit: hsl($theme-hue-lit, $theme-sat-lit, $text-lum-dim);
$text-dark-dim: hsl($theme-hue-dim, $theme-sat-dim, $text-lum-dim);

$text-faint-lit: hsl($theme-hue-lit, $theme-sat-neutral-lit, 30%);
$text-faint-dim: hsl($theme-hue-dim, $theme-sat-neutral-dim, 85%);

$bg-lit: $themeNeutralBackgroundLit;
$bg-hover-lit: lighten(desaturate($bg-lit, 10%), 5%);

$bg-dim: $themeNeutralBackgroundDim;
$bg-hover-dim: lighten(saturate($bg-dim, 10%), 5%);

$bg-light-lit: darken($bg-lit, 5%);
$bg-light-hover-lit: lighten($bg-light-lit, 20%);

$bg-light-dim: lighten( $bg-dim, 70%);
$bg-light-hover-dim: lighten($bg-light-dim, 20%);

$bg-dark-lit: darken($bg-lit, 90%);
$bg-dark-hover-lit: lighten($bg-dark-lit, 20%);

$bg-dark-dim: darken($bg-dim, 15%);
$bg-dark-hover-dim: lighten($bg-dark-dim, 20%);

$theme-lit: $themeColorLit;
$theme-hover-lit: darken($theme-lit, 10%);
$theme-opa-10-lit: hsla($theme-hue-lit, $theme-sat-lit,$theme-lum-lit, 0.1);
$theme-opa-20-lit: hsla($theme-hue-lit, $theme-sat-lit,$theme-lum-lit, 0.2);
$theme-opa-80-lit: hsla($theme-hue-lit, $theme-sat-lit,$theme-lum-lit, 0.8);
$theme-opa-90-lit: hsla($theme-hue-lit, $theme-sat-lit,$theme-lum-lit, 0.9);

$theme-dim: $themeColorDim;
$theme-hover-dim: lighten($theme-dim, 10%);
$theme-opa-10-dim: hsla($theme-hue-dim, $theme-sat-dim, $theme-lum-dim, 0.1);
$theme-opa-20-dim: hsla($theme-hue-dim, $theme-sat-dim, $theme-lum-dim, 0.2);
$theme-opa-80-dim: hsla($theme-hue-dim, $theme-sat-dim, $theme-lum-dim, 0.8);
$theme-opa-90-dim: hsla($theme-hue-dim, $theme-sat-dim, $theme-lum-dim, 0.9);

$theme-text-lum-lit: lightness( darken(hsl($theme-hue-lit, $theme-sat-lit, $theme-lum-lit), 70% ) );
$theme-text-lit: hsl($theme-hue-lit, $theme-sat-lit, $theme-text-lum-lit);
$theme-text-opa-10-lit: hsla($theme-hue-lit, $theme-sat-lit, $theme-text-lum-lit, 0.1);
$theme-text-opa-20-lit: hsla($theme-hue-lit, $theme-sat-lit, $theme-text-lum-lit, 0.2);
$theme-text-opa-80-lit: hsla($theme-hue-lit, $theme-sat-lit, $theme-text-lum-lit, 0.8);
$theme-text-opa-90-lit: hsla($theme-hue-lit, $theme-sat-lit, $theme-text-lum-lit, 0.9);
$theme-text-active-lit: lighten($theme-text-lit, 80%);
$theme-text-hover-lit: lighten($theme-text-lit, 80%);

$theme-text-lum-dim: lightness( lighten(hsl($theme-hue-lit, $theme-sat-lit, $theme-lum-lit), 1% ) );
$theme-text-dim: hsl($theme-hue-dim, $theme-sat-dim, $theme-text-lum-dim);
$theme-text-opa-10-dim: hsla($theme-hue-dim, $theme-sat-dim, $theme-text-lum-dim, 0.1);
$theme-text-opa-20-dim: hsla($theme-hue-dim, $theme-sat-dim, $theme-text-lum-dim, 0.2);
$theme-text-opa-80-dim: hsla($theme-hue-dim, $theme-sat-dim, $theme-text-lum-dim, 0.8);
$theme-text-opa-90-dim: hsla($theme-hue-dim, $theme-sat-dim, $theme-text-lum-dim, 0.9);
$theme-text-active-dim: darken($theme-text-dim, 100%);
$theme-text-hover-dim: darken($theme-text-dim, 100%);

$link-lit: hsl($theme-hue-lit, 100%, 25%);
$link-hover-lit: hsl($theme-hue-lit, 100%, 30%);
$link-active-lit: hsl($theme-hue-lit, 100%, 40%);

$link-dim: hsl($theme-hue-dim, 100%, 75%);
$link-hover-dim: hsl($theme-hue-dim, 100%, 85%);
$link-active-dim: hsl($theme-hue-dim, 100%, 90%);

// $theme-bg-lit: darken(saturate($theme-lit, 50%), 2%);
$theme-bg-lit: $themeColorBackgroundLit;
$theme-bg-active-lit: darken(desaturate($theme-bg-lit, 50%), 50%);
$theme-bg-hover-lit: darken(saturate($theme-bg-lit, 20%), 40%);

// $theme-bg-dim:  lighten(saturate($theme-dim, 5%), 5%);
$theme-bg-dim: $themeColorBackgroundDim;
$theme-bg-active-dim: lighten(saturate($theme-bg-dim, 0%), 40%);
$theme-bg-hover-dim: lighten(saturate($theme-bg-dim, 20%), 50%);

// $theme-bg-hue-0-lit: scale-color($theme-bg-lit, $hue: (100/7 * 1));
// $theme-bg-hue-1-lit: scale-color($theme-bg-lit, $hue: (100/7 * 2));
// $theme-bg-hue-2-lit: scale-color($theme-bg-lit, $hue: (100/7 * 3));
// $theme-bg-hue-3-lit: scale-color($theme-bg-lit, $hue: (100/7 * 4));
// $theme-bg-hue-4-lit: scale-color($theme-bg-lit, $hue: (100/7 * 5));
// $theme-bg-hue-5-lit: scale-color($theme-bg-lit, $hue: (100/7 * 6));

$theme-bg-hue-0-lit: change-color(scale-color(#1b3348, $lightness: 60%), $alpha: 1.0);
$theme-bg-hue-1-lit: change-color(scale-color(#2c3352, $lightness: 60%), $alpha: 1.0);
$theme-bg-hue-2-lit: change-color(scale-color(#332b4f, $lightness: 60%), $alpha: 1.0);
$theme-bg-hue-3-lit: change-color(scale-color(#382440, $lightness: 60%), $alpha: 1.0);
$theme-bg-hue-4-lit: change-color(scale-color(#482a3a, $lightness: 60%), $alpha: 1.0);

// $theme-bg-hue-0-dim: scale-color($theme-bg-dim, $hue: (100/7 * 1));
// $theme-bg-hue-1-dim: scale-color($theme-bg-dim, $hue: (100/7 * 2));
// $theme-bg-hue-2-dim: scale-color($theme-bg-dim, $hue: (100/7 * 3));
// $theme-bg-hue-3-dim: scale-color($theme-bg-dim, $hue: (100/7 * 4));
// $theme-bg-hue-4-dim: scale-color($theme-bg-dim, $hue: (100/7 * 5));
// $theme-bg-hue-5-dim: scale-color($theme-bg-dim, $hue: (100/7 * 6));

$theme-bg-hue-0-dim: change-color(#1b3348, $alpha: 1.0);
$theme-bg-hue-1-dim: change-color(#2c3352, $alpha: 1.0);
$theme-bg-hue-2-dim: change-color(#332b4f, $alpha: 1.0);
$theme-bg-hue-3-dim: change-color(#382440, $alpha: 1.0);
$theme-bg-hue-4-dim: change-color(#482a3a, $alpha: 1.0);

$dark-bg-hue-0-lit: scale-color($theme-bg-lit, $hue: (100/7 * 4), $saturation: -60%, $lightness: -80%);
$dark-bg-hue-1-lit: scale-color($theme-bg-lit, $hue: (100/7 * 5), $saturation: -90%, $lightness: -70%);
$dark-bg-hue-2-lit: scale-color($theme-bg-lit, $hue: (100/7 * 6), $saturation: -60%, $lightness: -80%);
$dark-bg-hue-3-lit: scale-color($theme-bg-lit, $hue: (100/7 * 1), $saturation: -90%, $lightness: -70%);
$dark-bg-hue-4-lit: scale-color($theme-bg-lit, $hue: (100/7 * 2), $saturation: -60%, $lightness: -80%);
$dark-bg-hue-5-lit: scale-color($theme-bg-lit, $hue: (100/7 * 3), $saturation: -90%, $lightness: -70%);

$dark-bg-hue-0-dim: scale-color($theme-bg-dim, $hue: (100/7 * 4), $saturation: -60%, $lightness: -10%);
$dark-bg-hue-1-dim: scale-color($theme-bg-dim, $hue: (100/7 * 5), $saturation: -90%, $lightness: -0%);
$dark-bg-hue-2-dim: scale-color($theme-bg-dim, $hue: (100/7 * 6), $saturation: -60%, $lightness: -10%);
$dark-bg-hue-3-dim: scale-color($theme-bg-dim, $hue: (100/7 * 1), $saturation: -90%, $lightness: -0%);
$dark-bg-hue-4-dim: scale-color($theme-bg-dim, $hue: (100/7 * 2), $saturation: -60%, $lightness: -10%);
$dark-bg-hue-5-dim: scale-color($theme-bg-dim, $hue: (100/7 * 3), $saturation: -90%, $lightness: -0%);

$haze-lit: darken(desaturate($bg-lit, 15%), 2%);
$xhaze-lit: darken($haze-lit, 10%);
$xxhaze-lit: darken($xhaze-lit, 10%);
$xxxhaze-lit: darken($xxhaze-lit, 10%);

$haze-dim: lighten(desaturate($bg-dim, 10%), 10%);
$xhaze-dim: lighten($haze-dim, 10%);
$xxhaze-dim: lighten($xhaze-dim, 10%);
$xxxhaze-dim: lighten($xxhaze-dim, 10%);

$theme-haze-lit: darken(saturate($theme-bg-lit, 20%), 5%);
$theme-xhaze-lit: darken($theme-haze-lit, 5%);
$theme-xxhaze-lit: darken($theme-xhaze-lit, 5%);
$theme-xxxhaze-lit: darken($theme-xxhaze-lit, 5%);

$theme-haze-dim: lighten(saturate($theme-bg-dim, 10%), 10%);
$theme-xhaze-dim: lighten($theme-haze-dim, 10%);
$theme-xxhaze-dim: lighten($theme-xhaze-dim, 10%);
$theme-xxxhaze-dim: lighten($theme-xxhaze-dim, 10%);

$highlight-bg-yellow-lit: hsl(60, 100%, 77%);
$highlight-bg-yellow-dim: hsl(60, 100%, 20%);

$colors-lit: (
  text: $text-lit,
  text-opa-10: $text-opa-10-lit,
  text-opa-20: $text-opa-20-lit,
  text-opa-80: $text-opa-80-lit,
  text-opa-90: $text-opa-90-lit,
  text-hover: $text-hover-lit,
  text-light: $text-light-lit,
  text-dark: $text-dark-lit,
  text-faint: $text-faint-lit,

  link: $link-lit,
  link-active: $link-active-lit,
  link-hover: $link-hover-lit,
  link-dark: $link-dim,
  link-dark-active: $link-active-dim,
  link-dark-hover: $link-hover-dim,

  bg: $bg-lit,
  bg-hover: $bg-hover-lit,
  bg-box: $bg-light-lit,
  bg-light: $bg-light-lit,
  bg-light-hover: $bg-light-hover-lit,
  bg-dark: $bg-dark-lit,
  bg-dark-hover: $bg-dark-hover-lit,

  theme: $theme-lit,
  theme-hover: $theme-hover-lit,
  theme-opa-10: $theme-opa-10-lit,
  theme-opa-20: $theme-opa-20-lit,
  theme-opa-80: $theme-opa-80-lit,
  theme-opa-90: $theme-opa-90-lit,

  theme-bg: $theme-bg-lit,
  theme-bg-active: $theme-bg-active-lit,
  theme-bg-hover: $theme-bg-hover-lit,

  theme-bg-hue-0: $theme-bg-hue-0-lit,
  theme-bg-hue-1: $theme-bg-hue-1-lit,
  theme-bg-hue-2: $theme-bg-hue-2-lit,
  theme-bg-hue-3: $theme-bg-hue-3-lit,
  theme-bg-hue-4: $theme-bg-hue-4-lit,
  // theme-bg-hue-5: $theme-bg-hue-5-lit,

  theme-text: $theme-text-lit,
  theme-text-opa-10: $theme-text-opa-10-lit,
  theme-text-opa-20: $theme-text-opa-20-lit,
  theme-text-opa-80: $theme-text-opa-80-lit,
  theme-text-opa-90: $theme-text-opa-90-lit,
  theme-text-active: $theme-text-active-lit,
  theme-text-hover: $theme-text-hover-lit,
  neutral-theme: hsl(0, 0%, 13%),

  dark-bg-hue-0: $dark-bg-hue-0-lit,
  dark-bg-hue-1: $dark-bg-hue-1-lit,
  dark-bg-hue-2: $dark-bg-hue-2-lit,
  dark-bg-hue-3: $dark-bg-hue-3-lit,
  dark-bg-hue-4: $dark-bg-hue-4-lit,
  dark-bg-hue-5: $dark-bg-hue-5-lit,

  accent: hsl(20, 100%, 40%),
  xaccent: hsl(20, 100%, 25%),
  dark-hover: hsla(0,0%,20%,1),
  haze: $haze-lit,
  xhaze: $xhaze-lit,
  xxhaze: $xxhaze-lit,
  xxxhaze: $xxxhaze-lit,
  theme-haze: $theme-haze-lit,
  theme-xhaze: $theme-xhaze-lit,
  theme-xxhaze: $theme-xxhaze-lit,
  theme-xxxhaze: $theme-xxxhaze-lit,
  neutral-haze: hsl(0, 0%, 80%),
  highlight-bg-yellow: $highlight-bg-yellow-lit,
  initial: hsl(0, 100%, 30%),

  header-text: var(--theme-text),
  code-text: var(--text-dark),
  code-bg: var(--bg-dark),
  code-scrollbar-track: hsla(0, 0%, 20%, 1),
  code-scrollbar-thumb: hsla(0, 0%, 50%, 0.5),
  code-scrollbar-thumb-border: hsla(0, 0%, 60%, 0.5),
  table-bg: var(--theme-bg),
  table-haze: var(--haze),
  table-border: var(--neutral-haze),
  figure-bg: var(--bg-box),
  footer-bg: var(--haze),
  shadow: hsla(0, 0%, 0%, 0.12),
  translucent: hsla(0, 0%, 0%, 0.05),
  translucent-hover: hsla(0, 0%, 100%, 0.1),
  choice-bg: var(--bg),
  print-bg: white,
);

$colors-dim: (
  text: $text-dim,
  text-opa-10: $text-opa-10-dim,
  text-opa-20: $text-opa-20-dim,
  text-opa-80: $text-opa-80-dim,
  text-opa-90: $text-opa-90-dim,
  text-hover: $text-hover-dim,
  text-light: $text-light-dim,
  text-dark: $text-dark-dim,
  text-faint: $text-faint-dim,

  link: $link-dim,
  link-active: $link-active-dim,
  link-hover: $link-hover-dim,

  link-dark: $link-dim,
  link-dark-active: $link-active-dim,
  link-dark-hover: $link-hover-dim,

  bg: $bg-dim,
  bg-hover: $bg-hover-dim,
  bg-box: $bg-dark-dim,
  bg-light: $bg-light-dim,
  bg-light-hover: $bg-light-hover-dim,
  bg-dark: $bg-dark-dim,
  bg-dark-hover: $bg-dark-hover-dim,

  theme: $theme-dim,
  theme-hover: $theme-hover-dim,
  theme-opa-10: $theme-opa-10-dim,
  theme-opa-20: $theme-opa-20-dim,
  theme-opa-80: $theme-opa-80-dim,
  theme-opa-90: $theme-opa-90-dim,

  theme-bg: $theme-bg-dim,
  theme-bg-active: $theme-bg-active-dim,
  theme-bg-hover: $theme-bg-hover-dim,

  theme-bg-hue-0: $theme-bg-hue-0-dim,
  theme-bg-hue-1: $theme-bg-hue-1-dim,
  theme-bg-hue-2: $theme-bg-hue-2-dim,
  theme-bg-hue-3: $theme-bg-hue-3-dim,
  theme-bg-hue-4: $theme-bg-hue-4-dim,
  // theme-bg-hue-5: $theme-bg-hue-5-dim,

  theme-text: $theme-text-dim,
  theme-text-opa-10: $theme-text-opa-10-dim,
  theme-text-opa-20: $theme-text-opa-20-dim,
  theme-text-opa-80: $theme-text-opa-80-dim,
  theme-text-opa-90: $theme-text-opa-90-dim,
  theme-text-active: $theme-text-active-dim,
  theme-text-hover: $theme-text-hover-dim,
  neutral-theme: hsl(0, 0%, 80%),

  dark-bg-hue-0: $dark-bg-hue-0-dim,
  dark-bg-hue-1: $dark-bg-hue-1-dim,
  dark-bg-hue-2: $dark-bg-hue-2-dim,
  dark-bg-hue-3: $dark-bg-hue-3-dim,
  dark-bg-hue-4: $dark-bg-hue-4-dim,
  dark-bg-hue-5: $dark-bg-hue-5-dim,

  accent: hsl(20, 100%, 40%),
  xaccent: hsl(20, 100%, 65%),
  dark-hover: hsla(0,0%,20%,1),
  haze: $haze-dim,
  xhaze: $xhaze-dim,
  xxhaze: $xxhaze-dim,
  xxxhaze: $xxxhaze-dim,
  theme-haze: $theme-haze-dim,
  theme-xhaze: $theme-xhaze-dim,
  theme-xxhaze: $theme-xxhaze-dim,
  theme-xxxhaze: $theme-xxxhaze-dim,
  neutral-haze: hsl(0, 0%, 20%),
  highlight-bg-yellow: $highlight-bg-yellow-dim,
  initial: hsl(0, 100%, 60%),

  header-text: var(--theme-text),
  code-text: var(--text-dark),
  code-bg: var(--bg-dark),
  code-scrollbar-track: hsla(0, 0%, 20%, 1),
  code-scrollbar-thumb: hsla(0, 0%, 50%, 0.5),
  code-scrollbar-thumb-border: hsla(0, 0%, 80%, 0.5),
  table-bg: var(--theme-bg),
  table-haze: var(--haze),
  table-border: var(--neutral-haze),
  figure-bg: var(--bg-box),
  footer-bg: var(--bg),
  shadow: hsla(0, 100%, 100%, 0.12),
  translucent: hsla(0, 0%, 100%, 0.05),
  translucent-hover: hsla(0, 0%, 100%, 0.25),
  choice-bg: var(--bg),
);

