@use "sass:color";
@use "hugo-vars" as hugo;

$primary-hue-lit: color.channel(hugo.$colorPrimaryLit, "hue", $space: hsl);
$primary-sat-lit: color.channel(hugo.$colorPrimaryLit, "saturation", $space: hsl);
$primary-lum-lit: color.channel(hugo.$colorPrimaryLit, "lightness", $space: hsl);

$primary-hue-dim: color.channel(hugo.$colorPrimaryDim, "hue", $space: hsl);
$primary-sat-dim: color.channel(hugo.$colorPrimaryDim, "saturation", $space: hsl);
$primary-lum-dim: color.channel(hugo.$colorPrimaryDim, "lightness", $space: hsl);

$theme-sat-neutral-lit: 0%;
$theme-sat-neutral-dim: 0%;

$text-lit: hugo.$onBackgroundLit;
$text-hover-lit: color.mix(black, hugo.$onBackgroundLit, 20%);

$text-dim: hugo.$onBackgroundDim;
$text-hover-dim: color.mix(black, hugo.$onBackgroundDim, 20%);

$text-light-lit: hugo.$onBackgroundLit;
$text-light-dim: hugo.$onBackgroundLit;

$text-dark-lit: hugo.$onBackgroundDim;
$text-dark-dim: hugo.$onBackgroundDim;

$text-faint-lit: color.mix(white, $text-lit, 25%);
$text-faint-dim: color.mix(black, $text-dim, 15%);

$bg-lit: hugo.$colorBackgroundLit;
$bg-hover-lit: color.mix(white, color.adjust($bg-lit, $saturation: 50%), 10%);

$bg-dim: hugo.$colorBackgroundDim;
$bg-hover-dim: color.mix(white, color.adjust($bg-dim, $saturation: -10%), 15%);

$bg-light-lit: color.mix(black, $bg-lit, 5%);
$bg-light-hover-lit: color.mix(white, $bg-light-lit, 20%);

$bg-light-dim: color.mix(white, $bg-dim, 70%);
$bg-light-hover-dim: color.mix(white, $bg-light-dim, 20%);

$bg-dark-lit: color.mix(black, $bg-lit, 95%);
$bg-dark-hover-lit: color.mix(white, $bg-dark-lit, 25%);

$bg-dark-dim: color.mix(black, $bg-dim, 50%);
$bg-dark-hover-dim: color.mix(white, $bg-dark-dim, 20%);

$theme-lit: hugo.$colorPrimaryLit;
$theme-hover-lit: color.mix(black, $theme-lit, 10%);

$theme-dim: hugo.$colorPrimaryDim;
$theme-hover-dim: color.mix(white, $theme-dim, 10%);

$theme-text-lit: hugo.$onPrimaryLit;
$theme-text-active-lit: color.mix(black, $theme-text-lit, 20%);
$theme-text-hover-lit: color.mix(black, $theme-text-lit, 20%);

$theme-text-dim: hugo.$onPrimaryDim;
$theme-text-active-dim: color.mix(white, $theme-text-dim, 20%);
$theme-text-hover-dim: color.mix(white, $theme-text-dim, 20%);

$link-lit: color.scale(hugo.$colorPrimaryLit, $lightness: -10%);
$link-visited-lit: color.scale(
  color.adjust(hugo.$colorPrimaryLit, $hue: 30, $saturation: -40%),
  $lightness: -20%
);
$link-hover-lit: color.scale(hugo.$colorPrimaryLit, $lightness: -10%);
$link-focus-lit: hugo.$colorPrimaryLit;
$link-active-lit: hugo.$colorPrimaryLit;

$link-dim: color.scale(hugo.$colorPrimaryDim, $lightness: 5%);
$link-visited-dim: color.scale(
  color.adjust(hugo.$colorPrimaryDim, $hue: 30, $saturation: -20%),
  $lightness: 60%
);
$link-hover-dim: color.scale(hugo.$colorPrimaryDim, $lightness: 30%);
$link-focus-dim: hugo.$colorPrimaryDim;
$link-active-dim: hugo.$colorPrimaryDim;

$theme-bg-lit: hugo.$surfacePrimaryLit;
$theme-bg-active-lit: color.mix(white, $theme-lit, 30%);
$theme-bg-hover-lit: color.mix(white, $theme-lit, 75%);

$theme-bg-dim: hugo.$surfacePrimaryDim;
$theme-bg-active-dim: color.mix(black,$theme-dim, 50%);
$theme-bg-hover-dim: color.mix(black, $theme-dim, 60%);

$haze-lit: hugo.$colorSurfaceLit;
$xhaze-lit: color.adjust($haze-lit, $lightness: -10%);
$xxhaze-lit: color.adjust($xhaze-lit, $lightness: -10%);
$xxxhaze-lit: color.adjust($xxhaze-lit, $lightness: -10%);

$haze-dim: hugo.$colorSurfaceDim;
$xhaze-dim: color.adjust($haze-dim, $lightness: 10%);
$xxhaze-dim: color.adjust($xhaze-dim, $lightness: 10%);
$xxxhaze-dim: color.adjust($xxhaze-dim, $lightness: 10%);

$theme-haze-lit: hugo.$surfacePrimaryLit;
$theme-xhaze-lit: color.adjust($theme-haze-lit, $lightness: -5%);
$theme-xxhaze-lit: color.adjust($theme-xhaze-lit, $lightness: -5%);
$theme-xxxhaze-lit: color.adjust($theme-xxhaze-lit, $lightness: -5%);

$theme-haze-dim: hugo.$surfacePrimaryDim;
$theme-xhaze-dim: color.adjust($theme-haze-dim, $lightness: 10%);
$theme-xxhaze-dim: color.adjust($theme-xhaze-dim, $lightness: 10%);
$theme-xxxhaze-dim: color.adjust($theme-xxhaze-dim, $lightness: 10%);

$highlight-bg-yellow-lit: hsl(60, 100%, 77%);
$highlight-bg-yellow-dim: hsl(60, 100%, 20%);

$colors-lit: (
  text: $text-lit,
  text-hover: $text-hover-lit,
  text-light: $text-light-lit,
  text-dark: $text-dark-lit,
  text-faint: $text-faint-lit,

  link: $link-lit,
  link-visited: $link-visited-lit,
  link-hover: $link-hover-lit,
  link-focus: $link-focus-lit,
  link-active: $link-active-lit,

  link-dark: $link-dim,
  link-dark-visited: $link-visited-dim,
  link-dark-hover: $link-hover-dim,
  link-dark-focus: $link-focus-dim,
  link-dark-active: $link-active-dim,

  bg: $bg-lit,
  bg-hover: $bg-hover-lit,
  bg-box: $bg-light-lit,
  bg-light: $bg-light-lit,
  bg-light-hover: $bg-light-hover-lit,
  bg-dark: $bg-dark-lit,
  bg-dark-hover: $bg-dark-hover-lit,

  theme: $theme-lit,
  theme-hover: $theme-hover-lit,

  theme-bg: $theme-bg-lit,
  theme-bg-active: $theme-bg-active-lit,
  theme-bg-hover: $theme-bg-hover-lit,

  theme-text: $theme-text-lit,
  theme-text-active: $theme-text-active-lit,
  theme-text-hover: $theme-text-hover-lit,
  neutral-theme: hsl(0, 0%, 13%),

  // dark-bg-hue-0: $dark-bg-hue-0-lit,
  // dark-bg-hue-1: $dark-bg-hue-1-lit,
  // dark-bg-hue-2: $dark-bg-hue-2-lit,
  // dark-bg-hue-3: $dark-bg-hue-3-lit,
  // dark-bg-hue-4: $dark-bg-hue-4-lit,
  // dark-bg-hue-5: $dark-bg-hue-5-lit,

  accent: hsl(20, 100%, 40%),
  xaccent: hsl(20, 100%, 25%),
  dark-hover: hsla(0,0%,20%,1),
  haze: $haze-lit,
  xhaze: $xhaze-lit,
  xxhaze: $xxhaze-lit,
  xxxhaze: $xxxhaze-lit,
  theme-haze: $theme-haze-lit,
  theme-xhaze: $theme-xhaze-lit,
  theme-xxhaze: $theme-xxhaze-lit,
  theme-xxxhaze: $theme-xxxhaze-lit,
  neutral-haze: hsl(0, 0%, 80%),
  highlight-bg-yellow: $highlight-bg-yellow-lit,
  initial: hsl(0, 100%, 30%),

  header-text: var(--theme-text),
  code-text: var(--text-dark),
  code-bg: var(--bg-dark),
  code-scrollbar-track: hsla(0, 0%, 20%, 1),
  code-scrollbar-thumb: hsla(0, 0%, 50%, 0.5),
  code-scrollbar-thumb-border: hsla(0, 0%, 60%, 0.5),
  table-bg: var(--theme-bg),
  table-haze: var(--haze),
  table-border: var(--neutral-haze),
  figure-bg: var(--bg-box),
  footer-bg: var(--haze),
  shadow: hsla(0, 0%, 0%, 0.12),
  translucent: hsla(0, 0%, 0%, 0.05),
  translucent-hover: hsla(0, 0%, 100%, 0.1),
  choice-bg: var(--bg),
  print-bg: white,

  logo-fill-primary: hugo.$colorPrimaryLit,
  logo-fill-secondary: hugo.$colorSecondaryLit,
  logo-fill-tertiary: hugo.$colorTertiaryLit,
  logo-fill-primary-inverse: hugo.$colorPrimaryDim,
  logo-fill-secondary-inverse: hugo.$colorSecondaryDim,
  logo-fill-tertiary-inverse: hugo.$colorTertiaryDim,
);

$colors-dim: (
  text: $text-dim,
  text-hover: $text-hover-dim,
  text-light: $text-light-dim,
  text-dark: $text-dark-dim,
  text-faint: $text-faint-dim,

  link: $link-dim,
  link-visited: $link-visited-dim,
  link-hover: $link-hover-dim,
  link-focus: $link-focus-dim,
  link-active: $link-active-dim,

  link-dark: $link-dim,
  link-dark-visited: $link-visited-dim,
  link-dark-hover: $link-hover-dim,
  link-dark-focus: $link-focus-dim,
  link-dark-active: $link-active-dim,

  bg: $bg-dim,
  bg-hover: $bg-hover-dim,
  bg-box: $bg-dark-dim,
  bg-light: $bg-light-dim,
  bg-light-hover: $bg-light-hover-dim,
  bg-dark: $bg-dark-dim,
  bg-dark-hover: $bg-dark-hover-dim,

  theme: $theme-dim,
  theme-hover: $theme-hover-dim,

  theme-bg: $theme-bg-dim,
  theme-bg-active: $theme-bg-active-dim,
  theme-bg-hover: $theme-bg-hover-dim,

  theme-text: $theme-text-dim,
  theme-text-active: $theme-text-active-dim,
  theme-text-hover: $theme-text-hover-dim,
  neutral-theme: hsl(0, 0%, 80%),

  // dark-bg-hue-0: $dark-bg-hue-0-dim,
  // dark-bg-hue-1: $dark-bg-hue-1-dim,
  // dark-bg-hue-2: $dark-bg-hue-2-dim,
  // dark-bg-hue-3: $dark-bg-hue-3-dim,
  // dark-bg-hue-4: $dark-bg-hue-4-dim,
  // dark-bg-hue-5: $dark-bg-hue-5-dim,

  accent: hsl(20, 100%, 40%),
  xaccent: hsl(20, 100%, 65%),
  dark-hover: hsla(0,0%,20%,1),
  haze: $haze-dim,
  xhaze: $xhaze-dim,
  xxhaze: $xxhaze-dim,
  xxxhaze: $xxxhaze-dim,
  theme-haze: $theme-haze-dim,
  theme-xhaze: $theme-xhaze-dim,
  theme-xxhaze: $theme-xxhaze-dim,
  theme-xxxhaze: $theme-xxxhaze-dim,
  neutral-haze: hsl(0, 0%, 20%),
  highlight-bg-yellow: $highlight-bg-yellow-dim,
  initial: hsl(0, 100%, 60%),

  header-text: var(--theme-text),
  code-text: var(--text-dark),
  code-bg: var(--bg-dark),
  code-scrollbar-track: hsla(0, 0%, 20%, 1),
  code-scrollbar-thumb: hsla(0, 0%, 50%, 0.5),
  code-scrollbar-thumb-border: hsla(0, 0%, 80%, 0.5),
  table-bg: var(--theme-bg),
  table-haze: var(--haze),
  table-border: var(--neutral-haze),
  figure-bg: var(--bg-box),
  footer-bg: var(--bg),
  shadow: hsla(0, 100%, 100%, 0.12),
  translucent: hsla(0, 0%, 100%, 0.05),
  translucent-hover: hsla(0, 0%, 100%, 0.25),
  choice-bg: var(--bg),

  logo-fill-primary-inverse: hugo.$colorPrimaryLit,
  logo-fill-secondary-inverse: hugo.$colorSecondaryLit,
  logo-fill-tertiary-inverse: hugo.$colorTertiaryLit,
  logo-fill-primary: hugo.$colorPrimaryDim,
  logo-fill-secondary: hugo.$colorSecondaryDim,
  logo-fill-tertiary: hugo.$colorTertiaryDim,
);

