// General navigation definition
%upcaret
  width: 0
  height: 0
  border-left: 0.33rem solid transparent
  border-right: 0.33rem solid transparent
  top: -0.5rem
  left: 1rem

// This mixin creates a background that is cut off at the corner specified
// Unfortunately, it cannot be used to generate an outline with a cut-off corner
// @mixin cut-off-corner-background($color: var(--text-hover), $background: var(--theme-bg-hover), $top-left: 0, $top-right: 0, $bottom-right: 0, $bottom-left: 0)
//   z-index: -1
//   content: ''
//   position: absolute
//   color: var(--theme-text-hover)
//   top: 0
//   right: 0
//   bottom: 0
//   left: 0
//   background-size: 100% 100%
//   background-image: linear-gradient(to top, $background 0, $background 100%)
//   background-repeat: repeat-x
//   background-position-y: bottom
//   height: unset
//   margin: 0
//   border-radius: 0
//   --all: 0
//   --top-left: #{$top-left}
//   --top-right: #{$top-right}
//   --bottom-right: #{$bottom-right}
//   --bottom-left: #{$bottom-left}
//   -webkit-mask: linear-gradient(45deg, transparent 0 var(--bottom-left,var(--all)) ,#fff 0) bottom left, linear-gradient( -45deg, transparent 0 var(--bottom-right,var(--all)),#fff 0) bottom right, linear-gradient( 135deg, transparent 0 var(--top-left,var(--all)) ,#fff 0) top left, linear-gradient(-135deg, transparent 0 var(--top-right,var(--all)) ,#fff 0) top right
//   -webkit-mask-size: 50.5% 50.5%
//   -webkit-mask-repeat: no-repeat

@mixin nav-background($color: var(--text-active), $background: var(--theme-bg-active), $border: var(--theme-bg-active), $top-left: 0.5rem, $top-right: 0.5rem, $bottom-right: 0, $bottom-left: 0)
  color: $color
  z-index: ($main-z-index + 1)
  &::after
    z-index: -1
    content: ''
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    background-size: 100% 10%
    background: $background
    border: none
    height: unset
    border-radius: 0.25rem
  @media screen and (min-width: $screenViewBreakpointWidthMobileMenu)
    .nav_group_menu &::after
      background-size: 100% 100%
      background: $background
      border: 1px solid $border
      height: unset
      border-radius: 0.25rem
      border-radius: $top-left $top-right $bottom-right $bottom-left
      margin: 0.25rem 0 0 0
      border-bottom: none
  .icon
    fill: $color
    // filter: invert(100%)

@mixin nav-active-background($color: var(--theme-text-active), $background: var(--theme-bg-active), $border: var(--theme-bg-active))
  @include nav-background($color, $background, $border)
  cursor: default
  &:hover
    color: $color

@mixin nav-active-section-background($color: var(--theme-text), $background: var(--bg), $border: var(--theme-bg-active))
  @include nav-background($color, $background, $border)

@mixin nav-hover-background($color: var(--theme-text-hover), $background: var(--theme-bg-hover), $border: var(--theme-bg-hover))
  @include nav-background($color, $background, $border)

@mixin nav-open-background($color: var(--theme-text), $background: var(--theme-bg), $border: var(--theme-bg-active))
  @include nav-background($color, $background, $border)

@media screen
  .to_top
    background-color: var(--theme)
    width: 2.75rem
    height: 2.75rem
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
    border-radius: 50%
    position: fixed
    bottom: 1.5rem
    right: 1.5rem
    z-index: 99
    &.ios
      position: absolute
      bottom: 0.75rem
      right: 0
    @media (any-hover: hover)
      &:hover
        background-color: var(--theme)
    svg
      fill: var(--theme-text)
      opacity: 0.5
      transition: 0.3s opacity var(--ease)
    @media (any-hover: hover)
      &:hover svg
        opacity: 1

@media screen
  .nav
    display: flex

@media screen and (min-width: $screenViewBreakpointWidthMobileMenu)
  .kind-section .main_inner
    &::before
      content: ''
      position: absolute
      top: $screenViewNavHeightNarrow
      top: var(--screenViewNavHeight)
      left: 0
      width: 100%
      // height: $screenViewNavHeightNarrow
      // height: var(--screenViewNavHeight)
      // background: linear-gradient(to bottom, var(--theme-bg-active) 10%, transparent 100%)
      // outline-top: 2px solid var(--theme-bg-active)
      height: 0.25rem
      background: var(--theme-bg-active)

.nav
  justify-content: space-between
  color: var(--text)
  white-space: nowrap
  @include chrome
  // FIXME: Overflow-y leads to scroll bars
  // Does not work because overlow-x and -y cannot be set independently
  // https://stackoverflow.com/q/6421966/617559
  // overflow-x: auto
  // overflow-y: visible
  // img
  //   margin: auto 0
  font-size: var(--font-size-nav)
  .icon
    width: var(--icon-height-nav)
    height: var(--icon-height-nav)

  &_active
    padding: 0
    border-radius: 0.125rem
    &, &_is_menu.nav_menu, &_has_menu:not(.nav_open), &_parent_is_menu.nav_menu, &_parent_has_menu
      @include nav-active-background
      &:active
        color: var(--xaccent)
      &:focus
        outline: var(--accent)
    &_in_section
      z-index: ($main-z-index + 1)
      @include nav-active-section-background
  &_open_sub
    .nav_active.nav_child.nav_item
      // color: var(--text)
      // text-decoration: none
      // .icon
      //   filter: invert(100%);
      // &::after
      //   content: none
      @include nav-active-background
  &_active
    // FIXME: Do not use position relative, otherwise alignment gets out of shape
    // position: relative
    @include nav-active-background

  &_icon
    width: 0.7rem
    margin: auto 0.5rem auto 0.5rem
    transition: transform 0.3s var(--ease)
    transform-origin: 50% 50%
  &, &_body
    flex-direction: column
  &_body
    // FIXME: Overflow-y leads to scroll bars
    // overflow-x: auto
    position: fixed
    // width: 90%
    // max-width: 16.5rem
    // width: 100%
    max-width: unset
    top: 0
    bottom: 0
    display: flex
    flex: 1
    background: inherit
    transition: transform 0.5s var(--easing)
    &_right
      transform: translateX(100%) // IE11
      transform: translateX(calc(100% + 100vw))
      transition: transform 0.5s var(--easing)
      right: 0
      .color_mode .color_mode_label
        padding-right: 0.5rem
    &_left
      transform: translateX(-100%) // IE11
      transform: translateX(calc(-100% - 100vw))
      transition: transform 0.5s var(--easing)
      left: 0
      .color_mode .color_mode_label
        padding-left: 0.5rem

    &:after
      content: ''
      position: absolute
      top: $screenViewNavHeightNarrow
      left: 0
      width: 100%
      height: 100%
      z-index: -1
      background: rgba(var(--RGB_choice-bg), 0.98)
      @include background-gradient-translucent("to bottom", 0.9)

  &_header
    position: relative
    left: 0
    top: 0
    width: 100%
    height: $screenViewNavHeightNarrow
    z-index: 99
    padding: 0
    background: transparent
    line-height: 1.5rem

    &:after
      content: ''
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      // IE requires this z-index to be -2
      z-index: -2
      background: rgba(var(--RGB_choice-bg), 0.98)
      @include background-gradient-translucent("to top", 0.9)
      // @include shadow-centered-narrow
  &_item
    padding: 0.25rem 0.25rem
    display: inline-flex
    border-radius: 0
    align-items: center
  @media (any-hover: hover)
    &_item:not(&_active):hover
      @include nav-hover-background

  &_group
    &_follow_mode
      display: flex
      align-content: center
      justify-content: space-between
      flex: 0 0 auto

  &_sub
    width: 100%
    left: 0
    position: absolute
    z-index: 20
    border-radius: 0 0 0.5rem 0.5rem
    top: 3rem
    transition: height 0.3s ease-in-out
    height: 0
    overflow: hidden
    padding: 0.96rem 0 0
    background: transparent

  &_parent, &_brand_parent
    position: relative
    display: flex
    align-items: center
    border-radius: 0.5rem
    z-index: ($main-z-index + 1) // Required for IE 11

  &_parent
    // Display as grid to position sub menus properly
    display: grid
    &_follow, &_mode
      flex-wrap: wrap
      width: auto
    &_mode
      // .color_mode
      margin-right: 0
      margin-left: auto

  &_parent_follow &_item
    margin: 0 0.25rem
    line-height: 1.25rem
    .icon
      margin: 0

  &_open
    @include nav-open-background

  &_open + &_sub &_child
    padding-top: 0.5rem
    padding-bottom: 0.5rem
    z-index: 3
    & + a
      @media screen and (min-width: $screenViewBreakpointWidthMobileMenu)
        padding-top: 0.5rem
    &:not(:first-child)
      position: relative
    &:first-child:before
      position: absolute
      content: ""
      @extend %upcaret
      border-bottom: 0.5rem solid var(--choice-bg-menu)
      z-index: 2
  &_open + &_sub
    height: auto // initial
    z-index: 999
    overflow: auto // initial
    border-radius: 0.5rem
    padding-bottom: 0.5rem
    padding: 0
    @media screen and (min-width: $screenViewBreakpointWidthMobileMenu)
      color: var(--text)
      background: transparent
      width: auto
      white-space: nowrap
      color: var(--text)
    &:before, &:after
      content: ""
      position: absolute
    &:before
      @extend %upcaret
      z-index: 1
      @media screen and (min-width: $screenViewBreakpointWidthMobileMenu)
        border-bottom: 0.5rem solid var(--choice-bg-menu)
    &:after
      top: 0
      left: 0
      right: 0
      bottom: 0
      border-radius: 0.5rem
      background: var(--choice-bg-menu)
      box-shadow: 0.25rem 0.25rem 3rem var(--shadow)
      @media screen and (min-width: $screenViewBreakpointWidthMobileMenu)
        background: var(--choice-bg-menu)
        width: auto
        white-space: nowrap
  &_open &_icon
    color: var(--theme-text-hover)
    transform: rotate(180deg)

  &_sub &_item
    &:not(.nav_child)
      position: relative
    position: relative
    z-index: 5
    display: block
    padding-top: 0.75rem
    padding-bottom: 0.75rem
    transition: background 0.3s ease-out
    margin: 0
    @media (any-hover: hover)
      &:hover
        &:not(.nav_active)
          @include nav-hover-background
          margin: 0
          border-radius: 0.5rem

  &_brand
    position: relative
    margin-left: (0 - $screenViewInnerPaddingMobile)
    margin-right: 0rem
    padding: 0 0.5rem 0 $screenViewInnerPaddingMobile
    z-index: 999
    width: min-content
    // Setting min-height is required to avoid nav bar incl. burger menu icon from collapsing
    min-height: $screenViewNavHeightNarrow
    img
      height: $screenViewNavHeightNarrow
      width: auto
      max-width: unset
      background: transparent !important
  &_mobile_toggle
    position: absolute
    right: 0
    top: 0
    bottom: 0
    height: 100%
    padding-left: $screenViewInnerPaddingMobile
    padding-right: $screenViewInnerPaddingMobile
    cursor: pointer
    z-index: 1000
    display: flex
    justify-content: center
    align-items: center
    .icon
      fill: var(--text)
      pointer-events: none
    &_open
      display: block
    &_close
      display: none
    &.isopen
      .nav_mobile_toggle_open
        display: none
      .nav_mobile_toggle_close
        display: block

    img
      height: ($screenViewNavHeightNarrow - 0.5rem)
  &_center
    display: none
    @media screen and (min-width: $screenViewBreakpointWidthMobileMenu)
      display: flex
      flex: 1
      align-items: center
      justify-content: center
      + .follow
        flex: 0 1 auto // initial

  &_sub
    position: relative
    top: auto // initial
    padding-top: 0
    top: 0.25rem

.color
  &_mode
    display: none
    width: min-content
    margin: auto 0
    justify-content: flex-end
    &_label
      font-size: 0.75rem // Minimal size for mobile users according to Lighthouse
      text-transform: uppercase
      width: min-content
      text-align: right
      margin-right: 0.25rem
      line-height: var(--line-height-label)
      white-space: pre-wrap
      word-wrap: normal
      overflow-wrap: normal
      hyphens: none
  &_choice
    width: 3rem
    background-color: var(--translucent)
    border-radius: 1rem
    height: 1.5rem
    margin: auto 0
    outline: none
    border: none
    -webkit-appearance: none
    cursor: pointer
    position: relative
    position: relative
    overflow: hidden
    // box-shadow: 0 0.25rem 1rem rgba(0,0,0,0.15)
    @include drop-shadow-offset(0, 0.25rem, 1rem, 0.25, 0.35)
    @media (any-hover: hover)
      &:hover
        background-color: var(--translucent-hover)
    &:after
      content: ""
      position: absolute
      top: 0.1rem
      left: 0.1rem
      width: 1.3rem
      height: 1.3rem
      // background-image: url("#{$images}sun.svg")
      background-image: url("#{$images}sun-mono.svg");
      background-position: center
      background-size: cover
      border-radius: 50%
      z-index: 2

  &_animate
    transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1)
    &:after
      transition: transform 0.5s cubic-bezier(.19,1,.22,1)
      will-change: transform

.main
  @media only screen
    // Ensure .main is under nav_header when nav_header is position: relative
    padding-top: #{$screenViewNavHeight}
    margin-top: - #{$screenViewNavHeight}
    min-height: 100vh
    min-height: 100lvh
    // Ensure main covers whole width of footer
    width: 100%
    // Ensure .main extends padding to reach under nav_header
    // when nav_header is position: relative
    // padding-top: 0
    padding: #{$screenViewNavHeightNarrow} 0 $screenViewInnerPaddingOneColumn 0
    margin: - #{$screenViewNavHeightNarrow} auto 0 auto

.footer
  // Footer shall stick to the bottom and reveal when body scrolls up
  // But only if positions: sticky is fully supported
  // FIXME: Mobile Safari gets confused with position: sticky on footer
  // Exclude mobile Safari with ''@supports (not (-webkit-touch-callout: none)'
  // https://browserstrangeness.bitbucket.io/css_hacks.html#safari
  // https://syntaxfix.com/question/5666/css-media-query-to-target-only-ios-devices
  // Exclude any version of IE or other browsers that don't support @supports with '@supports (position: sticky)'
  @supports (position: sticky) and (not (-webkit-touch-callout: none))
    @media screen and (min-width: $screenViewBreakpointWidthNarrow) and (min-height: $screenViewBreakpointHeightStickyFooter)
      position: sticky
      bottom: 0
      left: 0
      width: 100%

.hero-image_above-main
  &_figure
    margin: 0
    padding: 0
    z-index: ($main-z-index + 1)
    // FIXME: Let's not push the image under the navigation bar
    // margin-top: (-1 * #{$screenViewNavHeight})
  &_img
    margin: 0
    padding: 0
    max-width: unset
    max-height: unset
    width: 100%
    height: auto
    max-height: 40vh
    max-height: calc(min(40vh, 50vw))
    object-fit: cover
    object-position: center center
    border-radius: 0
    @media screen and (min-height: $screenViewBreakpointHeightTall)
      max-height: 30vh
      max-height: calc(min(30vh, 50vw))

.hero-image_background
  &_main
    position: relative
    padding-bottom: 0
    .main_inner
      position: relative
      display: flex
      flex-direction: column
      justify-content: flex-end
      min-height: 100vh
      min-height: 100lvh
      padding-bottom: $screenViewInnerPaddingOneColumn
      z-index: ($main-z-index + 2)
    .content-title
      color: white
      text-shadow: 1.5px 1.5px 1.5px black
      font-size: 4rem
      text-align: center
      position: relative
      margin-bottom: 3rem
    &_figure
      display: none
    & ~ .footer
      position: relative
      z-index: ($main-z-index + 1)
      // padding-top: ($screenViewInnerPaddingOneColumn)
      background: var(--bg-dark)
      color: var(--text-dark)
      h1, h2, h3, a
        color: var(--text-dark)
  &_figure
    display: block
    position: fixed
    top: 0
    z-index: ($main-z-index - 1)
    width: 100%
  &_img
    margin: 0
    padding: 0
    border-radius: 0
    width: 100%
    height: 100vh
    height: 100lvh

// FIXME: Mobile Safari gets confused with position: sticky on footer
// https://browserstrangeness.bitbucket.io/css_hacks.html#safari
// https://syntaxfix.com/question/5666/css-media-query-to-target-only-ios-devices
@supports (position: sticky) and (not (-webkit-touch-callout: none))
  @media screen and (min-width: $screenViewBreakpointWidthNarrow) and (min-height: $screenViewBreakpointHeightStickyFooter)
    .hero-image_background
      &_main
        .main_inner
          min-height: 100vh
          min-height: 100lvh
          padding-top: 3rem
          margin: -3rem auto -100vh auto
          margin-bottom: -100lvh
          z-index: ($main-z-index + 2)
        & ~ .footer
          position: sticky
          bottom: 0
          z-index: ($main-z-index - 1)
      &_figure
        display: none
      &_main &_figure
        display: block
        position: sticky
        bottom: 0
        margin: 0
        padding: 0
        z-index: ($main-z-index + 1)
        margin-top: (-1 * $screenViewNavHeight)

@media screen and (max-width: #{$screenViewBreakpointWidthMobileMenu - 0.01})
  html.jsopen
    @include nav-bar-anchor-offset
    .nav_header
      position: fixed
  .jsopen
    &:after
      content: ""
      position: fixed
      z-index: 2
      background-color: rgba(0,0,0,0.3)
      top: 0
      left: 0
      right: 0
      bottom: 0
    .nav_body .nav_item, .nav_body .nav_item.nav_menu, .nav_follow
      border-radius: 0.5rem
      padding-top: 0.5rem
      padding-bottom: 0.5rem
    .nav
      &_body
        transform: translateX(0)
        @include element-padding('inner', 0, 1)
        & > .nav_group
          // width: 100%
          // margin-left: (0.25rem - $screenViewInnerPaddingMobile)
          .nav_item
            width: 100% // Maximize size of clickable area
            padding-left: ($screenViewInnerPaddingMobile - 0.25rem)
            padding-right: ($screenViewInnerPaddingMobile - 0.25rem)
          @media screen and (min-width: $screenViewBreakpointWidthNarrow)
            // margin-left: (0.5rem - $screenViewInnerPaddingOneColumn)
            .nav_item
              padding-left: ($screenViewInnerPaddingOneColumn - 0.5rem)
              padding-right: ($screenViewInnerPaddingOneColumn - 0.5rem)
          &:first-child
            margin-top: ($screenViewNavHeightNarrow + $screenViewInnerPaddingOneColumn)
      &_group_follow_mode
        flex-wrap: wrap
        justify-content: space-between
        margin-top: $screenViewInnerPaddingOneColumn
      &_active
        &, &_is_menu.nav_menu, &_has_menu:not(.nav_open), &_parent_is_menu.nav_menu, &_parent_has_menu, .nav_open_sub &_is_menu, .nav_open_sub &_parent_is_menu, .nav_open_sub &_parent_parent_is_menu

// Narrow navigation menu bar
@media screen and (min-width: $screenViewBreakpointWidthMobileMenu)
  .nav
    &_header
      font-size: 0.9rem // For IE 11
      font-size: var(--font-size-nav)
    &, &_body
      flex-direction: row
    &_body
      position: relative
      transform: none
      width: auto
      max-width: none
      top: auto // initial
      bottom: auto // initial
      transition: none
      &:after
        content: none
    &_group
      position: relative
      display: flex
      align-items: center
      &_follow_mode
        margin-left: auto
        display: flex
        align-content: center
        justify-content: space-between
        width: auto // initial
        .color_mode
          margin-right: 0
    &_follow
      &:first-child
        a
          margin-left: 0
    &_group
      position: relative
      display: flex
      align-items: center
      // padding: 0.25rem 0
    &_parent
      padding: 0.25rem 0
    // .icon
    //   width: 1.25rem
    //   height: 1.25rem

    &_sub
      position: absolute
      left: 0
      top: 3rem
      width: 100%
      height: 0
      z-index: 20
      padding: 0.96rem 0 0
    &_center
      display: flex
      flex: 1
      align-items: center
      justify-content: center
      + .follow
        flex: 0 1 auto // initial
    &_hide, &_mobile_toggle
      display: none

  .color_mode
    position: relative
    right: auto // initial
    top: auto // initial

// Full navigation menu bar
@media screen and (min-width: $screenViewBreakpointWidthNarrow)
  .nav
    &_header, &_brand
      height: $screenViewNavHeight
      font-size: 1.1rem // For IE 11
      font-size: var(--font-size-nav)
      line-height: 1.5rem
    &_item, &_follow
      padding: 0.5rem 0.5rem
    &_brand
      height: $screenViewNavHeight
      margin-left: (-1 * $screenViewInnerPaddingOneColumn)
      margin-right: 0rem
      padding-left: $screenViewInnerPaddingOneColumn
      // padding-right: $screenViewInnerPaddingOneColumn
      img
        height: $screenViewNavHeight
    &_mobile_toggle
      // padding-left: $screenViewInnerPaddingOneColumn
      padding-right: $screenViewInnerPaddingOneColumn

    .color_mode_label
      display: flex
      line-height: 1.25rem
    // .icon
    //   width: 1.5rem
    //   height: 1.5rem
    &_body
      &::after
        top: $screenViewNavHeight


// If the homepage contains a hero element, we want to be able to scroll
// directly to the beginning of the content, without smooth scrolling
html.content-above-header
  &, body
    scroll-behavior: auto
  body
    min-height: 100vh
    min-height: 100lvh

@mixin table-of-contents-hover($hover-color: var(--theme-bg-hover), $active-color: var(--accent), $icon-color: var(--theme-bg-hover))
  @media (any-hover: hover)
    &:hover
      color: $hover-color
      cursor: pointer
      list-style-type: none
      &::before
        content: none
      & > a::before
        content: ''
        display: block
        position: absolute
        opacity: 1
        // Vertical bar
        // width: 1ch
        // height: 100%
        // top: 0
        // bottom: 0
        // left: -1.5em
        // background-color: $icon-color

        // Triangle
        top: 0.33em
        left: -1.5em
        height: 0
        width: 0
        opacity: 1
        background: transparent
        border-style: solid
        border-width: 0.75ch 0 0.75ch 1ch
        border-color: transparent transparent transparent $icon-color
      & > a
        color: $icon-color
    & > a:active
      color: $active-color
      cursor: pointer

@mixin table-of-contents-current($current-color: var(--text), $icon-color: var(--text))
  & > a
    color: $current-color
    &::before
      content: ''
      display: block
      position: absolute

      // // Vertical bar
      // width: 1ch
      // height: 100%
      // top: 0
      // bottom: 0
      // left: -1.5em
      // background-color: $icon-color
      // opacity: 1

      // Triangle
      top: 0.33em
      left: -1.5em
      height: 0
      width: 0
      opacity: 1
      background: transparent
      border-style: solid
      border-width: 0.75ch 0 0.75ch 1ch
      border-color: transparent transparent transparent $icon-color

.table_of_contents
  visibility: hidden
  @include aside-meta
  width: 100%

  h2
    font-size: 100%
    margin: 0 0 0 -1em
    padding: 0.25em 1em
    border-radius: 0.25em
    text-transform: uppercase

  a
    text-decoration: none
    color: var(--text)
    position: relative

  ul
    margin: 0
    padding: 0
    width: 100%

  li
    list-style-type: circle
    // padding: 0 0 0 0.5em
    // width: 100%
    &::before
      content: none
    ul
      padding-left: 1em

  // nav > a, nav:not(.active) li, nav:not(.active) li.visible ~ li, nav.active li
  nav:not(.active) li, nav:not(.active) li.visible ~ li, nav.active li
    @include table-of-contents-hover

  li.active, nav:not(.active) li.visible //, li.visible:not(.active) + li.active
    list-style-type: none
    cursor: auto // initial
    @include table-of-contents-current

  nav:not(.active) ul ul li, nav:not(.active) ul ul li.visible ~ li, nav.active ul ul li
    @include table-of-contents-hover

  ul ul li.active, nav:not(.active) ul ul li.visible
    @include table-of-contents-current

  nav:not(.active) li.visible ~ li.visible
    list-style-type: circle
    cursor: auto // initial

body:not(.modern-js) .article_aside .table_of_contents
  visibility: visible

@media only screen
  .outdated:before
    content: ''
    display: block
    width: 60%
    height: 1rem
    position: absolute
    left: 0.2rem
    bottom: 0.05rem
    background-color: rgba(0, 0, 0, 0.5)
    transform: rotate(-2deg)
    box-shadow: 0 0 10px #000
    opacity: 1
    z-index: -1

  .outdated:after
    content: ''
    display: block
    width: 60%
    height: 1rem
    position: absolute
    right: 0.2rem
    bottom: 0.05rem
    background-color: rgba(0, 0, 0, 0.5)
    transform: rotate(2deg)
    box-shadow: 0 0 10px #000
    opacity: 1
    z-index: -1

  .outated h2:before
    content: ''
    display: block
    width: 30%
    height: 1.5rem
    position: absolute
    top: -0.75rem
    left: 35%
    background-color: rgba(240, 240, 180, 0.35)
    transform: rotate(-3deg)
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15), inset 0 0 2px rgba(255, 255, 255, 0.8)
    opacity: 1

.article_content
  a:not(.button):not(nav a):not(sup a)
    color: inherit // Same as surrounding text should be ok for background contrast
    text-decoration: none
    &:hover
      @media (any-hover: hover)
        color: var(--theme-hover)
        text-decoration: underline
        text-underline-position: under
        text-underline-offset: 0.1em
    &:active
      color: var(--xaccent)
    &:focus
      outline: var(--accent)

  p a:not(.button):not(nav a):not(sup a), li a:not(.button):not(nav a):not(sup a)
    color: inherit // Same as surrounding text should be ok for background contrast
    padding: 0 0 0.125rem 0
    background-image: linear-gradient(to right, var(--xhaze) 0, var(--xxhaze) 50%, var(--xhaze)100%)
    background-size: 50% 12%
    background-position-y: 1.1rem
    background-repeat: repeat-x
    background-position: bottom
    &:hover
      @media (any-hover: hover)
        color: inherit // Same as surrounding text should be ok for background contrast
        text-decoration: none
        background-size: 50% 100%
        border-radius: 0.125rem
    &:active
      color: var(--xaccent)
    &:focus
      outline: var(--accent)

.sidebar
  @include link-lvhfa

.footer
  @include link-lvhfa-dark

@media screen and (min-height: $screenViewBreakpointHeightShallow)
  html
    @include nav-bar-anchor-offset
    .nav_header
      position: fixed

html.content-above-header
  @include nav-bar-anchor-offset
  .nav_header
    position: sticky
.lede, .main-section .article_body > p:nth-of-type(1):not(h2 + p)
  margin: 1rem 0 3rem 0
  font-style: italic
  font-size: 133%
  font-weight: var(--font-weight-light)
  line-height: 1.5

.drop-cap, .main-section .article_body > p + p:nth-of-type(2)
  margin-top: 2rem
  &:first-letter
    color: var(--initial)
    float: left
    font-size: 8em
    line-height: 6.7rem
    padding: 0 0.5rem 0 0
    margin: -2rem 0 0 -0.5rem

// footnotes-accessible.js
// https://danielpost.com/articles/making-hugos-footnotes-accessible/

@keyframes highlight
  0%
    opacity: 1
  100%
    opacity: 0

@keyframes highlight-color
  0%
    opacity: 1
    // color: var(--theme-text-lit)
    background: var(--highlight-bg-yellow)
  // 30%
  //   color: var(--text)
  100%
    background: var(--theme-bg)

.footnotes li
  & p
    position: relative
    z-index: ($main-z-index  + 1)
    &:after
      position: absolute
      z-index: -1
      content: ''
      top: 0
      left: 0
      right: 0
      bottom: 0
      background: rgba(var(--RGB_highlight-bg-yellow), 1)
      opacity: 0
  &:target, &:focus
    p:after
      animation: highlight 3s cubic-bezier(0.3, 0, 1, 0.7)

p sup[id^=fnref]
  line-height: 0
  a
    @extend .button_translucent
    position: relative
    z-index: ($main-z-index  + 1)
    top: 0
    left: 0
    padding: 0 0.3em 0
    border-radius: 50%
  a:after
    position: absolute
    z-index: -1
    content: ''
    top: 0
    left: 0
    right: 0
    bottom: 0
    border-radius: 50%
    background: var(--theme-bg)
    opacity: 0
  &:target, &:focus
    a
      animation: highlight-color 3s cubic-bezier(0.3, 0, 1, 0.7)

.u-hidden-visually
  clip-path: inset(100%)
  clip: rect(1px, 1px, 1px, 1px)
  height: 1px
  overflow: hidden
  position: absolute
  white-space: nowrap
  width: 1px
.medium-zoom-image
    margin-top: var(--navigation-header-height)
    // z-index: $main-z-index
    z-index: ($main-z-index + 100)
    &--opened
      // @include drop-shadow-offset(0.5rem, 0.5rem, 1rem, 0.2, 0.2)
      z-index: ($main-z-index + 101)
      // background: var(--bg-light)
.medium-zoom
  &--opened
    .medium-zoom-overlay
      z-index: ($main-z-index + 100)
