@media print {
  nav,
  button,
  .header_claris,
  .footer_claris,
  .button,
  .sidebar {
    display: none;
  }
  body,
  .main_claris,
  .article_content {
    background: white;
  }
  html {
    font-size: 10pt;
  }
  .main_claris .article_content a::after {
    content: " (" attr(href) ") ";
  }
}
