// Theme fonts: IBM Plex Sans and IBM Plex Serif
// @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,200;0,300;0,400;0,500;0,700;1,200;1,300;1,400;1,500;1,700&family=IBM+Plex+Serif:ital,wght@0,200;0,300;0,400;0,500;0,700;1,200;1,300;1,400;1,500;1,700&display=swap')
/* https://google-webfonts-helper.herokuapp.com/fonts/ibm-plex-sans?subsets=latin */
/* ibm-plex-sans-200 - latin */
/** Unused
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 200;
  src: local(''),
       url('#{$themeFontPath}/ibm-plex-sans-v8-latin/ibm-plex-sans-v8-latin-200.woff2') format('woff2'),
       url('#{$themeFontPath}/ibm-plex-sans-v8-latin/ibm-plex-sans-v8-latin-200.woff') format('woff');
  font-display: swap;
}
/* ibm-plex-sans-200italic - latin */
/** Unused
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 200;
  src: local(''),
       url('#{$themeFontPath}/ibm-plex-sans-v8-latin/ibm-plex-sans-v8-latin-200italic.woff2') format('woff2'),
       url('#{$themeFontPath}/ibm-plex-sans-v8-latin/ibm-plex-sans-v8-latin-200italic.woff') format('woff');
  font-display: swap;
}
/* ibm-plex-sans-300 - latin */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('#{$themeFontPath}/ibm-plex-sans-v8-latin/ibm-plex-sans-v8-latin-300.woff2') format('woff2'),
       url('#{$themeFontPath}/ibm-plex-sans-v8-latin/ibm-plex-sans-v8-latin-300.woff') format('woff');
  font-display: swap;
}
/* ibm-plex-sans-300italic - latin */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 300;
  src: local(''),
       url('#{$themeFontPath}/ibm-plex-sans-v8-latin/ibm-plex-sans-v8-latin-300italic.woff2') format('woff2'),
       url('#{$themeFontPath}/ibm-plex-sans-v8-latin/ibm-plex-sans-v8-latin-300italic.woff') format('woff');
  font-display: swap;
}
/* ibm-plex-sans-regular - latin */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('#{$themeFontPath}/ibm-plex-sans-v8-latin/ibm-plex-sans-v8-latin-regular.woff2') format('woff2'),
       url('#{$themeFontPath}/ibm-plex-sans-v8-latin/ibm-plex-sans-v8-latin-regular.woff') format('woff');
  font-display: swap;
}
/* ibm-plex-sans-italic - latin */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('#{$themeFontPath}/ibm-plex-sans-v8-latin/ibm-plex-sans-v8-latin-italic.woff2') format('woff2'),
       url('#{$themeFontPath}/ibm-plex-sans-v8-latin/ibm-plex-sans-v8-latin-italic.woff') format('woff');
  font-display: swap;
}
/* ibm-plex-sans-500italic - latin */
/** Unused
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 500;
  src: local(''),
       url('#{$themeFontPath}/ibm-plex-sans-v8-latin/ibm-plex-sans-v8-latin-500italic.woff2') format('woff2'),
       url('#{$themeFontPath}/ibm-plex-sans-v8-latin/ibm-plex-sans-v8-latin-500italic.woff') format('woff');
  font-display: swap;
}
/* ibm-plex-sans-500 - latin */
/** Unused
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('#{$themeFontPath}/ibm-plex-sans-v8-latin/ibm-plex-sans-v8-latin-500.woff2') format('woff2'),
       url('#{$themeFontPath}/ibm-plex-sans-v8-latin/ibm-plex-sans-v8-latin-500.woff') format('woff');
  font-display: swap;
}
/* ibm-plex-sans-600 - latin */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('#{$themeFontPath}/ibm-plex-sans-v8-latin/ibm-plex-sans-v8-latin-600.woff2') format('woff2'),
       url('#{$themeFontPath}/ibm-plex-sans-v8-latin/ibm-plex-sans-v8-latin-600.woff') format('woff');
  font-display: swap;
}
/* ibm-plex-sans-600italic - latin */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 600;
  src: local(''),
       url('#{$themeFontPath}/ibm-plex-sans-v8-latin/ibm-plex-sans-v8-latin-600italic.woff2') format('woff2'),
       url('#{$themeFontPath}/ibm-plex-sans-v8-latin/ibm-plex-sans-v8-latin-600italic.woff') format('woff');
  font-display: swap;
}
/* ibm-plex-sans-700 - latin */
/** Unused
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('#{$themeFontPath}/ibm-plex-sans-v8-latin/ibm-plex-sans-v8-latin-700.woff2') format('woff2'),
       url('#{$themeFontPath}/ibm-plex-sans-v8-latin/ibm-plex-sans-v8-latin-700.woff') format('woff');
  font-display: swap;
}
/* ibm-plex-sans-700italic - latin */
/** Unused
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 700;
  src: local(''),
       url('#{$themeFontPath}/ibm-plex-sans-v8-latin/ibm-plex-sans-v8-latin-700italic.woff2') format('woff2'),
       url('#{$themeFontPath}/ibm-plex-sans-v8-latin/ibm-plex-sans-v8-latin-700italic.woff') format('woff');
  font-display: swap;
}

/* https://google-webfonts-helper.herokuapp.com/fonts/ibm-plex-serif?subsets=latin */
/* ibm-plex-serif-200italic - latin */
/** Unused
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: italic;
  font-weight: 200;
  src: local(''),
       url('#{$themeFontPath}/ibm-plex-serif-v9-latin/ibm-plex-serif-v9-latin-200italic.woff2') format('woff2'),
       url('#{$themeFontPath}/ibm-plex-serif-v9-latin/ibm-plex-serif-v9-latin-200italic.woff') format('woff');
  font-display: swap;
}
/* ibm-plex-serif-200 - latin */
/** Unused
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 200;
  src: local(''),
       url('#{$themeFontPath}/ibm-plex-serif-v9-latin/ibm-plex-serif-v9-latin-200.woff2') format('woff2'),
       url('#{$themeFontPath}/ibm-plex-serif-v9-latin/ibm-plex-serif-v9-latin-200.woff') format('woff');
  font-display: swap;
}
/* ibm-plex-serif-300 - latin */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('#{$themeFontPath}/ibm-plex-serif-v9-latin/ibm-plex-serif-v9-latin-300.woff2') format('woff2'),
       url('#{$themeFontPath}/ibm-plex-serif-v9-latin/ibm-plex-serif-v9-latin-300.woff') format('woff');
  font-display: swap;
}
/* ibm-plex-serif-300italic - latin */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: italic;
  font-weight: 300;
  src: local(''),
       url('#{$themeFontPath}/ibm-plex-serif-v9-latin/ibm-plex-serif-v9-latin-300italic.woff2') format('woff2'),
       url('#{$themeFontPath}/ibm-plex-serif-v9-latin/ibm-plex-serif-v9-latin-300italic.woff') format('woff');
  font-display: swap;
}
/* ibm-plex-serif-regular - latin */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('#{$themeFontPath}/ibm-plex-serif-v9-latin/ibm-plex-serif-v9-latin-regular.woff2') format('woff2'),
       url('#{$themeFontPath}/ibm-plex-serif-v9-latin/ibm-plex-serif-v9-latin-regular.woff') format('woff');
  font-display: swap;
}
/* ibm-plex-serif-italic - latin */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('#{$themeFontPath}/ibm-plex-serif-v9-latin/ibm-plex-serif-v9-latin-italic.woff2') format('woff2'),
       url('#{$themeFontPath}/ibm-plex-serif-v9-latin/ibm-plex-serif-v9-latin-italic.woff') format('woff');
  font-display: swap;
}
/* ibm-plex-serif-500 - latin */
/** Unused
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('#{$themeFontPath}/ibm-plex-serif-v9-latin/ibm-plex-serif-v9-latin-500.woff2') format('woff2'),
       url('#{$themeFontPath}/ibm-plex-serif-v9-latin/ibm-plex-serif-v9-latin-500.woff') format('woff');
  font-display: swap;
}
/* ibm-plex-serif-500italic - latin */
/** Unused
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: italic;
  font-weight: 500;
  src: local(''),
       url('#{$themeFontPath}/ibm-plex-serif-v9-latin/ibm-plex-serif-v9-latin-500italic.woff2') format('woff2'),
       url('#{$themeFontPath}/ibm-plex-serif-v9-latin/ibm-plex-serif-v9-latin-500italic.woff') format('woff');
  font-display: swap;
}
/* ibm-plex-serif-600italic - latin */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: italic;
  font-weight: 600;
  src: local(''),
       url('#{$themeFontPath}/ibm-plex-serif-v9-latin/ibm-plex-serif-v9-latin-600italic.woff2') format('woff2'),
       url('#{$themeFontPath}/ibm-plex-serif-v9-latin/ibm-plex-serif-v9-latin-600italic.woff') format('woff');
  font-display: swap;
}
/* ibm-plex-serif-600 - latin */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('#{$themeFontPath}/ibm-plex-serif-v9-latin/ibm-plex-serif-v9-latin-600.woff2') format('woff2'),
       url('#{$themeFontPath}/ibm-plex-serif-v9-latin/ibm-plex-serif-v9-latin-600.woff') format('woff');
  font-display: swap;
}
/* ibm-plex-serif-700 - latin */
/** Unused
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('#{$themeFontPath}/ibm-plex-serif-v9-latin/ibm-plex-serif-v9-latin-700.woff2') format('woff2'),
       url('#{$themeFontPath}/ibm-plex-serif-v9-latin/ibm-plex-serif-v9-latin-700.woff') format('woff');
  font-display: swap;
}
/* ibm-plex-serif-700italic - latin */
/** Unused
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: italic;
  font-weight: 700;
  src: local(''),
       url('#{$themeFontPath}/ibm-plex-serif-v9-latin/ibm-plex-serif-v9-latin-700italic.woff2') format('woff2'),
       url('#{$themeFontPath}/ibm-plex-serif-v9-latin/ibm-plex-serif-v9-latin-700italic.woff') format('woff');
  font-display: swap;
}

/* https://google-webfonts-helper.herokuapp.com/fonts/ibm-plex-mono?subsets=latin */
/* ibm-plex-mono-200 - latin */
/** Unused
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 200;
  src: local(''),
       url('#{$themeFontPath}/ibm-plex-mono-v6-latin/ibm-plex-mono-v6-latin-200.woff2') format('woff2'),
       url('#{$themeFontPath}/ibm-plex-mono-v6-latin/ibm-plex-mono-v6-latin-200.woff') format('woff');
  font-display: swap;
}
/* ibm-plex-mono-200italic - latin */
/** Unused
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 200;
  src: local(''),
       url('#{$themeFontPath}/ibm-plex-mono-v6-latin/ibm-plex-mono-v6-latin-200italic.woff2') format('woff2'),
       url('#{$themeFontPath}/ibm-plex-mono-v6-latin/ibm-plex-mono-v6-latin-200italic.woff') format('woff');
  font-display: swap;
}
/* ibm-plex-mono-300 - latin */
/** Unused
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('#{$themeFontPath}/ibm-plex-mono-v6-latin/ibm-plex-mono-v6-latin-300.woff2') format('woff2'),
       url('#{$themeFontPath}/ibm-plex-mono-v6-latin/ibm-plex-mono-v6-latin-300.woff') format('woff');
  font-display: swap;
}
/* ibm-plex-mono-300italic - latin */
/** Unused
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 300;
  src: local(''),
       url('#{$themeFontPath}/ibm-plex-mono-v6-latin/ibm-plex-mono-v6-latin-300italic.woff2') format('woff2'),
       url('#{$themeFontPath}/ibm-plex-mono-v6-latin/ibm-plex-mono-v6-latin-300italic.woff') format('woff');
  font-display: swap;
}
/* ibm-plex-mono-regular - latin */
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('#{$themeFontPath}/ibm-plex-mono-v6-latin/ibm-plex-mono-v6-latin-regular.woff2') format('woff2'),
       url('#{$themeFontPath}/ibm-plex-mono-v6-latin/ibm-plex-mono-v6-latin-regular.woff') format('woff');
  font-display: swap;
}
/* ibm-plex-mono-italic - latin */
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('#{$themeFontPath}/ibm-plex-mono-v6-latin/ibm-plex-mono-v6-latin-italic.woff2') format('woff2'),
       url('#{$themeFontPath}/ibm-plex-mono-v6-latin/ibm-plex-mono-v6-latin-italic.woff') format('woff');
  font-display: swap;
}
/* ibm-plex-mono-500 - latin */
/** Unused
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('#{$themeFontPath}/ibm-plex-mono-v6-latin/ibm-plex-mono-v6-latin-500.woff2') format('woff2'),
       url('#{$themeFontPath}/ibm-plex-mono-v6-latin/ibm-plex-mono-v6-latin-500.woff') format('woff');
  font-display: swap;
}
/* ibm-plex-mono-500italic - latin */
/** Unused
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 500;
  src: local(''),
       url('#{$themeFontPath}/ibm-plex-mono-v6-latin/ibm-plex-mono-v6-latin-500italic.woff2') format('woff2'),
       url('#{$themeFontPath}/ibm-plex-mono-v6-latin/ibm-plex-mono-v6-latin-500italic.woff') format('woff');
  font-display: swap;
}
/* ibm-plex-mono-600 - latin */
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('#{$themeFontPath}/ibm-plex-mono-v6-latin/ibm-plex-mono-v6-latin-600.woff2') format('woff2'),
       url('#{$themeFontPath}/ibm-plex-mono-v6-latin/ibm-plex-mono-v6-latin-600.woff') format('woff');
  font-display: swap;
}
/* ibm-plex-mono-600italic - latin */
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 600;
  src: local(''),
       url('#{$themeFontPath}/ibm-plex-mono-v6-latin/ibm-plex-mono-v6-latin-600italic.woff2') format('woff2'),
       url('#{$themeFontPath}/ibm-plex-mono-v6-latin/ibm-plex-mono-v6-latin-600italic.woff') format('woff');
  font-display: swap;
}
/* ibm-plex-mono-700 - latin */
/** Unused
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('#{$themeFontPath}/ibm-plex-mono-v6-latin/ibm-plex-mono-v6-latin-700.woff2') format('woff2'),
       url('#{$themeFontPath}/ibm-plex-mono-v6-latin/ibm-plex-mono-v6-latin-700.woff') format('woff');
  font-display: swap;
}
/* ibm-plex-mono-700italic - latin */
/** Unused
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 700;
  src: local(''),
       url('#{$themeFontPath}/ibm-plex-mono-v6-latin/ibm-plex-mono-v6-latin-700italic.woff2') format('woff2'),
       url('#{$themeFontPath}/ibm-plex-mono-v6-latin/ibm-plex-mono-v6-latin-700italic.woff') format('woff');
  font-display: swap;
}
*/