// Replace substring with another string
// Credits: https://css-tricks.com/snippets/sass/str-replace-function/
@function str-replace($string, $search, $replace: '') {
  // @debug "str-replace('#{$string}', '#{$search}', '#{$replace}')";
  $index: str-index($string, $search);
  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }
  @return $string;
}

// https://stackoverflow.com/a/64863842
@function colorVarToRGB($value) {
  /*
  @if str-slice(#{$value}, 1, 1) == "#" {
    @debug "colorVarToRGB(#{inspect($value)}): HEX: red=#{red($value)} hue: '#{hue($value)}'";
  }
  @else if str-slice(#{$value}, 1, 4) == "rgba" {
    @debug "colorVarToRGB(#{inspect($value)}): RGBA: red=#{red($value)} hue: '#{hue($value)}'";
  }
  @else if str-slice(#{$value}, 1, 3) == "rgb" {
    @debug "colorVarToRGB(#{inspect($value)}): RGB: red=#{red($value)} hue: '#{hue($value)}'";
  }
  @else if str-slice(#{$value}, 1, 4) == "hsla" {
    @debug "colorVarToRGB(#{inspect($value)}): HSLA: red=#{red($value)} hue: '#{hue($value)}'";
  }
  @else if str-slice(#{$value}, 1, 3) == "hsl" {
    @debug "colorVarToRGB(#{inspect($value)}): HSL: red=#{red($value)} hue: '#{hue($value)}'";
  }
  @else {
    $value: #00ff00;
    @debug "colorVarToRGB(#{inspect($value)}): DEFAULTING TO GREEN: #{inspect($value)}";
  }
  */
  @return round(red($value)), round(green($value)), round(blue($value));
}

@function mapColorVarToRGB($colors, $value) {
  // @debug "mapColorVarToRGB($colors, #{$value})";
  $color_value: $value;
  @if str-slice(#{$value}, 1, 3) == "var" {
    $color_key: str-replace($value, 'var(--');
    $color_key: str-replace($color_key, ')');
    $color_value: map-get($colors, $color_key);
    // @debug "    var key='#{$color_key}' value='#{$color_value}'";
    @if $color_value == null {
      $color_value: #ff0000;
      @debug "mapColorVarToRGB($colors, #{$value})";
      @debug "    key not found; defaulting to red: #{inspect($color_value)}";
    }
    @if str-slice(#{$color_value}, 1, 3) == "var" {
      @return mapColorVarToRGB($colors, $color_value);
    }
  }
  @return colorVarToRGB($color_value);
}

@function colorVarToHSLRounded($value) {
  @return round(hue($value)), round(saturation($value)), round(lightness($value)), alpha($value);
}

@function colorVarToHSL($value) {
  @return hue($value), saturation($value), lightness($value), alpha($value);
}

@function mapColorVarToHSL($colors, $value) {
  // @debug "mapColorVarToRGB($colors, #{$value})";
  $color_value: $value;
  @if str-slice(#{$value}, 1, 3) == "var" {
    $color_key: str-replace($value, 'var(--');
    $color_key: str-replace($color_key, ')');
    $color_value: map-get($colors, $color_key);
    // @debug "    var key='#{$color_key}' value='#{$color_value}'";
    @if $color_value == null {
      $color_value: #ff0000;
      @debug "mapColorVarToRGB($colors, #{$value})";
      @debug "    key not found; defaulting to red: #{inspect($color_value)}";
    }
    @if str-slice(#{$color_value}, 1, 3) == "var" {
      @return mapColorVarToHSL($colors, $color_value);
    }
  }
  @return colorVarToHSL($color_value);
}

