// Font family specification for Concourse
// This file is used to generate the font-face declarations for the Concourse font family.
// It defines the font family name, font styles, font weights, and font variants.

$fontFamilySpec: (
  // Default, i.e., body text
  name: '{{ .FontFamilyName }}',
  styles: (
    // Weight: `default`, i.e., body text
    default: (
      font-weight: 400,
      line-height: 1.45
    ),
    // Weight: `strong`, i.e., bolder than normal text
    strong: (
      font-weight: 600,
    )
  ),
  // variants: (
  //   // Font variant: `small-caps`
  //   small-caps: (
  //     name: '{{ .FontFamilyName }}',
  //     styles: (
  //       default: (
  //         font-variant: all-small-caps
  //       )
  //     )
  //   )
  // ),
  // Font variants such as small-caps, oldstyle-nums
  variants: (
    // Font variant: `small-caps`
    small-caps: (
      name: '{{ .FontFamilyName }} SC',
      styles: (
        default: (
          font-variant: inherit
        )
      )
    ),
    // Font variant: `all-small-caps`
    all-small-caps: (
      name: '{{ .FontFamilyName }} SC',
      styles: (
        default: (
          font-variant: inherit,
          text-transform: lowercase
        )
      )
    )
  ),
  roles: (
    // Role: `display`, i.e., short pieces of text such as headings, labels, navigation
    display: (
      styles: (
        default: (
          font-weight: 400,
          line-height: 1.2
        ),
        // Weight: `strong`, i.e., bolder than normal text
        strong: (
          font-weight: 600,
        )
      )
    )
  )
);
