// Font family specification for Concourse OT
// This file is used to generate the font-face declarations for the Concourse OT font family.
// It defines the font family name, font styles, font weights, and font variants.

// Custom metrics for fallback font
// Source: https://screenspan.net/fallback
@font-face {
  font-display: swap;
  font-family: concourse-ot-fallback;
  font-style: normal;
  font-weight: 400;
	src: local(Arial);
  size-adjust: 86.5%;
  ascent-override: 104%;
  descent-override: 34%;
  line-gap-override: normal;}

@font-face {
  font-display: swap;
  font-family: concourse-ot-fallback;
  font-style: normal;
  font-weight: 500;
  src: local(Arial);
  size-adjust: 87%;
  ascent-override: 108%;
  descent-override: 28%;
  line-gap-override: normal;
}

@font-face {
  font-display: swap;
  font-family: concourse-ot-fallback;
  font-style: normal;
  font-weight: 600;
  src: local(Arial);
  size-adjust: 89%;
  ascent-override: 106%;
  descent-override: 26%;
  line-gap-override: normal;
}

@font-face {
  font-display: swap;
  font-family: concourse-ot-fallback;
  font-style: normal;
  font-weight: 700;
  src: local(Arial Black);
  size-adjust: 87%;
  ascent-override: 129%;
  descent-override: 12%;
  line-gap-override: normal;
}

// Use the fallback font with custom metrics
$fallbackStack: (concourse-ot-fallback, sans-serif);
$fontFamilySpec: (
  // Default, i.e., body text
  name: "{{ .FontFamilyName }}",
  fallback: $fallbackStack,
  styles: (
    // Weight: `default`, i.e., body text
    default: (
      font-weight: 400,
      line-height: 1.45
    ),
    // Weight: `strong`, i.e., bolder than normal text
    strong: (
      font-weight: 600,
    )
  ),
  roles: (
    // Role: `display`, i.e., short pieces of text such as headings, labels, navigation
    display: (
      styles: (
        default: (
          font-weight: 400,
          line-height: 1.2
        ),
        // Weight: `strong`, i.e., bolder than normal text
        strong: (
          font-weight: 600,
        )
      )
    )
  ),
  variants: (
    // Font variant: `small-caps`
    small-caps: (
      name: '{{ .FontFamilyName }}',
      styles: (
        default: (
          font-variant: small-caps
        )
      )
    ),
    // Font variant: `all-small-caps`
    all-small-caps: (
      name: '{{ .FontFamilyName }}',
      styles: (
        default: (
          font-variant: all-small-caps
        )
      )
    )
  )
);

