// Font family specification for DM Mono
// This file contains the font family specification for DM Mono.
// It defines the font family, styles, roles, and variants for the DM Mono font.

$fontFamilySpec: (
  // Default, i.e., body text
  name: "{{ .FontFamilyName }}",
  fallback: {{ .FallbackFontStack }},
  styles: (
    // Weight: `default`, i.e., body text
    default: (
      font-size: calc(0.9 * var(--font-size)),
      font-weight: 400,
      line-height: 1.45
    ),
    // Weight: `strong`, i.e., bolder than normal text
    strong: (
      font-weight: 600,
    )
  ),
  // Font variants such as small-caps, oldstyle-nums
  variants: (
    // Font variant: `small-caps`
    small-caps: (
      name: "{{ .FontFamilyName }} SC",
      styles: (
        default: (
          font-variant: inherit
        )
      )
    ),
    // Font variant: `all-small-caps`
    all-small-caps: (
      name: "{{ .FontFamilyName }} SC",
      styles: (
        default: (
          font-variant: inherit
        )
      )
    )
  ),
  roles: (
    // Role: `display`, i.e., short pieces of text such as headings, labels, navigation
    display: (
      styles: (
        default: (
          font-weight: 400,
          line-height: 1.2
        ),
        // Weight: `strong`, i.e., bolder than normal text
        strong: (
          font-weight: 600,
        )
      )
    )
  )
);
