{{- $ctx := . }}
{{- $page := .Page }}
{{- $template := "claris/head/assets" }}
{{- $debug := and false (page.Param "clarisdebug") }}
{{- $dbg := printf "%s[%s]" (replaceRE `.*?((?:[^/]+/){,2})$` `$1` $page.RelPermalink) (replaceRE `.*?([^/]+)$` `$1` $template) }}
{{- /* {{- $debug = or $debug (in (slice "home" "section" "page") $page.Kind) }} */ -}}

{{- $assetVariant := .AssetVariant -}}
{{- $bundleParams := $assetVariant.BundleParams  }}
    <script>
      try { document.documentElement.dataset.colorScheme = window.localStorage.getItem('userSelectedColorScheme'); } catch (e) { }
    </script>

{{- if and false $debug }}
  {{- warnf "%s assetVariant:\n%v" $dbg (jsonify (dict "indent" "  ") $assetVariant) -}}
{{- end}}
{{- $assets := partialCached "claris/_functions/assets/asset-bundles" $ctx $assetVariant.Key -}}

{{- $scriptBundles := $assets.Scripts }}
{{- $styleBundles := $assets.Styles }}

{{- range $styleBundleID := (slice "main_all") }}
  {{- $styleSheet := (index $styleBundles $styleBundleID) }}
  {{- with $styleSheet }}
    {{- if and false $debug }}
      {{- warnf "%s .Kind=%v: Rendering stylesheet from %v" $dbg $page.Kind $styleSheet }}
      {{- warnf "%v" $styleSheet.resource.Content }}
    {{- end }}

    {{- with $numFontsToPreload := and ($page.Param "assets.styles.fonts.selfhosted") ($page.Param "assets.styles.fonts.preload") -}}
      {{- if $debug }}
        {{- warnf "%s .Kind=%v: Looking for font matching .Scratch claris.assets.font.main=%v"
            $dbg $page.Kind ($page.Scratch.Get "claris.assets.font.main") }}
      {{- end }}
      {{- $preloadFonts := partialCached "claris/_functions/resources/fonts/preload" (dict "Page" $page "StyleSheet" $styleSheet) $assetVariant.CoalesceLanguageKey }}
      {{- if $debug }}
        {{- warnf "%s .Kind=%v: Pre-loading font .Scratch claris.assets.font.main=%v %v"
            $dbg $page.Kind ($page.Scratch.Get "claris.assets.font.main") $preloadFonts }}
      {{- end }}
      {{- range first $numFontsToPreload $preloadFonts }}
      <link rel="preload" href="{{ .URL | safeHTMLAttr }}" as="font" type="font/{{ .Type | safeHTMLAttr }}" crossorigin="anonymous">
      {{- end }}
    {{- end }}
    {{- if not (strings.HasSuffix $styleBundleID "print") }}
    <link rel="preload" href="{{ .resource.RelPermalink }}" as="style" integrity="{{ .resource.Data.Integrity }}" crossorigin="anonymous">
    {{- end }}
    <link rel="stylesheet" id="style_claris_main" type="text/css" media="{{ .media }}" href="{{ .resource.RelPermalink }}" {{- with .fetchpriority }} fetchpriority="{{ . }}"{{ end }} integrity="{{ .resource.Data.Integrity }}" crossorigin="anonymous">
  {{- else }}
    {{- errorf "Render %s missing stylesheet '%s' [onlyMediaType=%s]" $dbg $styleBundleID $bundleParams.OnlyMediaType }}
  {{- end }}
{{- end }}

{{- with $scriptBundles.head_async }}
    <script type="module" async src="{{ .resource.RelPermalink }}" integrity="{{ .resource.Data.Integrity }}" crossorigin="anonymous"></script>
{{- end }}
{{- with $scriptBundles.head }}
    <script type="module" src="{{ .resource.RelPermalink }}" integrity="{{ .resource.Data.Integrity }}" crossorigin="anonymous"></script>
{{- end }}

{{- partialCached "claris/head/fonts" . $assetVariant.CoalesceLanguageKey }}

{{- with ($page.Param "customCSS") }}
  {{- range . -}}
    <link rel="stylesheet" type="text/css" href="{{ relURL . }}">
  {{- end }}
{{- end -}}
