{{- $page := .Page }}
{{- $meta := page.Scratch.Get "clarismeta" }}
{{- $debug := false }}
{{- /* {{- $debug = page.Scratch.Get "clarisdebug" }} */ -}}
{{- $template := "claris/head/robots" }}
{{- $debug := and false (or .Debug ($page.Param "clarisdebug") ) }}
{{- $dbg := printf "%s[%s->%s]" (replaceRE `.*?((?:[^/]+/){,2})$` `$1` $page.RelPermalink) .Template (replaceRE `.*?([^/]+)$` `$1` $template) }}

{{- $robotsGenerate := false -}}
{{- if (or (isset $page.Params "robots") (isset site.Params "robots") ) -}}
  {{- $robotsIndex := default true (index ($page.Param "robots") "index") }}
  {{- $robotsFollow := default true (index ($page.Param "robots") "follow") }}
  {{- $outputFormat := partial "claris/_functions/output-format" $page }}
  {{- $outputFormatsRobotsExcluded := default (slice "print") ($page.Param "outputFormatsRobotsExcluded") }}
  {{- if in $outputFormatsRobotsExcluded $outputFormat.Name }}
    {{- $robotsIndex = false }}
    {{- $robotsFollow = false }}
    {{- if $debug }}
      {{- warnf "%s[%s]: $outputFormatsRobotsExcluded=%v outputFormat=%v: index=%v follow=%v" $page $template $outputFormatsRobotsExcluded $outputFormat.Name $robotsIndex $robotsFollow }}
    {{- end }}
  {{- end }}
  {{- $invisibleSections := site.Params.hidden.sections }}
  {{- if in $invisibleSections $page.Section }}
    {{- $robotsIndex = false }}
    {{- $robotsFollow = false }}
    {{- if $debug }}
      {{- warnf "%s[%s]: invisibleSections=%v: index=%v follow=%v" $page $template $invisibleSections $robotsIndex $robotsFollow }}
    {{- end }}
  {{- end }}
  {{- with $meta.Classification.Robots }}
    {{- $robotsIndex = and $robotsIndex .Index }}
    {{- $robotsFollow = and $robotsFollow .Follow }}
    {{- if $debug }}
      {{- warnf "%s[%s]: $meta.Classification.Robots=%v: index=%v follow=%v" $page $template . $robotsIndex $robotsFollow }}
    {{- end }}
  {{- end }}
  {{- if $debug }}
    {{- warnf "%s[%s]: robotsIndex=%v robotsFollow=%v" $page $template $robotsIndex $robotsFollow }}
  {{- end }}

  {{- $impliedDirectives := slice }}
  {{- $robotPermissions := (dict
      "index" $robotsIndex
      "follow" $robotsFollow
    ) }}
  {{- $robotDirectives := slice "index" "follow" }}
  {{- $definedDirectives := slice }}
  {{- range $directive := $robotDirectives }}
    {{- with $value := index $robotPermissions $directive }}
      {{- if not (in $impliedDirectives $directive) }}
        {{- $definedDirectives = append $directive $definedDirectives }}
      {{- end }}
    {{- else }}
      {{- $definedDirectives = append (printf "no%s" $directive) $definedDirectives }}
    {{- end }}
  {{- end }}
  {{- $robotsUnified := delimit $definedDirectives ", " }}

  {{- with $robotsUnified -}}
<meta name="robots" content="{{ . }}">
  {{- end }}
{{- end -}}
