{{- $page := .Page }}
{{- $meta := .Meta }}
{{- $contentType := .ContentType }}
{{- $template := "claris/head/robots" }}
{{- $robotsGenerate := false -}}
{{- if (or (isset $page.Params "robots") (isset site.Params "robots") ) -}}
  {{- $robotsIndex := default true (index ($page.Param "robots") "index") }}
  {{- $robotsFollow := default true (index ($page.Param "robots") "follow") }}
  {{- $outputFormat := partial "claris/_functions/output-format" $page }}
  {{- $outputFormatsRobotsExcluded := default (slice "print") ($page.Param "outputFormatsRobotsExcluded") }}
  {{- if in $outputFormatsRobotsExcluded $outputFormat.Name }}
    {{- $robotsIndex = false }}
    {{- $robotsFollow = false }}
    {{/* {{- warnf "%s[%s]: $outputFormatsRobotsExcluded=%v outputFormat=%v: index=%v follow=%v" $page $template $outputFormatsRobotsExcluded $outputFormat.Name $robotsIndex $robotsFollow }} */}}
  {{ end -}}
  {{- $invisibleSections := site.Params.hidden.sections }}
  {{- if in $invisibleSections $page.Section }}
    {{- $robotsIndex = false }}
    {{- $robotsFollow = false }}
    {{/* {{- warnf "%s[%s]: invisibleSections=%v: index=%v follow=%v" $page $template $invisibleSections $robotsIndex $robotsFollow }} */}}
  {{ end -}}
  {{- with $meta.Single.Classification.Robots }}
    {{- $robotsIndex = and $robotsIndex .Index }}
    {{- $robotsFollow = and $robotsFollow .Follow }}
    {{/* {{- warnf "%s[%s]: .Meta.Single.Classification.Robots=%v: index=%v follow=%v" $page $template . $robotsIndex $robotsFollow }} */}}
  {{ end -}}
  {{/* {{- if not $robotsIndex }}
    {{- warnf "%s[%s]: not indexing: robotsIndex=%v robotsFollow=%v" $page $template $robotsIndex $robotsFollow }}
  {{- end }} */}}
  {{- if and (eq $robotsIndex true) (eq $robotsFollow true) }}
  <meta name="robots" content="index, follow">
  {{- else if and (eq $robotsIndex true) (eq $robotsFollow false) }}
  <meta name="robots" content="index, nofollow">
  {{- else if and (eq $robotsIndex false) (eq $robotsFollow true) }}
  <meta name="robots" content="noindex, follow">
  {{- else if and (eq $robotsIndex false) (eq $robotsFollow false) }}
  <meta name="robots" content="noindex, nofollow">
  {{- end -}}
{{- end -}}
