{{- $page := .Page }}
{{- $meta := .Meta }}
{{- $debug := default false .Debug }}
{{- $contentType := .ContentType }}
{{- $template := "claris/head/robots" }}
{{- $robotsGenerate := false -}}
{{- if (or (isset $page.Params "robots") (isset site.Params "robots") ) -}}
  {{- $robotsIndex := default true (index ($page.Param "robots") "index") }}
  {{- $robotsFollow := default true (index ($page.Param "robots") "follow") }}
  {{- $outputFormat := partial "claris/_functions/output-format" $page }}
  {{- $outputFormatsRobotsExcluded := default (slice "print") ($page.Param "outputFormatsRobotsExcluded") }}
  {{- if in $outputFormatsRobotsExcluded $outputFormat.Name }}
    {{- $robotsIndex = false }}
    {{- $robotsFollow = false }}
    {{- if $debug }}
      {{- warnf "%s[%s]: $outputFormatsRobotsExcluded=%v outputFormat=%v: index=%v follow=%v" $page $template $outputFormatsRobotsExcluded $outputFormat.Name $robotsIndex $robotsFollow }}
    {{- end }}
  {{- end }}
  {{- $invisibleSections := site.Params.hidden.sections }}
  {{- if in $invisibleSections $page.Section }}
    {{- $robotsIndex = false }}
    {{- $robotsFollow = false }}
    {{- if $debug }}
      {{- warnf "%s[%s]: invisibleSections=%v: index=%v follow=%v" $page $template $invisibleSections $robotsIndex $robotsFollow }}
    {{- end }}
  {{- end }}
  {{- with $meta.Single.Classification.Robots }}
    {{- $robotsIndex = and $robotsIndex .Index }}
    {{- $robotsFollow = and $robotsFollow .Follow }}
    {{- if $debug }}
      {{- warnf "%s[%s]: .Meta.Single.Classification.Robots=%v: index=%v follow=%v" $page $template . $robotsIndex $robotsFollow }}
    {{- end }}
  {{- end }}
  {{- if $debug }}
    {{- warnf "%s[%s]: robotsIndex=%v robotsFollow=%v" $page $template $robotsIndex $robotsFollow }}
  {{- end }}

  {{- $robotsIndexImages := default $robotsIndex $page.Params.robots.indeximages }}

  {{- $robotsUnified := printf "%sindex, %sindeximages, %sfollow"
    (cond $robotsIndex "" "no")
    (cond $robotsIndexImages "" "no")
    (cond $robotsFollow "" "no")
  -}}

  {{- with $robotsUnified -}}
<meta name="robots" content="{{ . }}">
  {{- end }}
{{- end }}
