{{- $page := .Page }}
{{- $meta := page.Scratch.Get "clarismeta" }}
{{- $template := "claris/head/schema-org" }}
{{- $debug := and false (or .Debug ($page.Param "clarisdebug") ) }}

{{- $pagePath := "" }}
{{- with $page.File }}
  {{- $pagePath = .Path }}
{{- end }}

{{- $dateUTCISO8601   := "2006-01-02T15:04:05.00Z" -}}

{{- $schemaOrg := default $meta.Site.Classification.SchemaOrg $meta.Classification.SchemaOrg }}

{{- if $schemaOrg }}

  {{- $entityParams := merge $ (dict
    "Template" (printf "%s->%s" $.Template $template)
    "Meta" $meta
    "Format" (dict
      "Date" $dateUTCISO8601
    )
    "Debug" $debug
  ) }}

  {{- $schemaOrgMeta := partial "claris/_functions/schema-org/index" $entityParams }}
    <script type="application/ld+json">
      {{ $schemaOrgMeta.Root | jsonify (dict "indent" "  " "prefix" "      " "noHTMLEscape" true) | safeJS | }}
    </script>

{{- end -}}
