{{- $page := .Page }}
{{- $meta := page.Scratch.Get "clarismeta" }}
{{- $template := "claris/head/twitter-card" }}
{{- $debug := false }}
{{- /* {{- $debug = page.Scratch.Get "clarisdebug" }} */ -}}
{{- $debug = or $debug (not (not (findRE `tags/$` $page.RelPermalink) ) ) }}

{{- $dateLocalISO8601 := "2006-01-02T15:04:05-07:00" -}}

{{- $twitterCard := default $meta.Site.Classification.TwitterCard $meta.Classification.TwitterCard }}
{{- if $twitterCard }}
  {{- with $meta.Single.Data }}
    {{- $shareImageURL := false }}
    {{- $shareImageAlt := false }}
    {{- with default $meta.Site.Data.Images.share .Images.share }}
      {{- with $variantMeta := .variant.default }}
        {{- with (default .version.default .version.aspect_2x1) }}
          {{- $shareImageURL = partial "claris/_functions/canonical-url" .resource }}
        {{- end }}
      {{- end }}
      {{- with .alt }}
        {{- $shareImageAlt = . }}
      {{- end }}
    {{- else }}
      {{- if $debug }}
        {{- warnf "%s[%s]: Missing share image in lang=%v: $meta.Site=%#v $meta.Single=%#v"
            $page $template site.Language.Lang
            $meta.Site.Data.Images.share.variant.default.version
            $meta.Single.Data.Images.share.variant.default.version -}}
      {{- end }}
    {{- end }}
    {{- with $shareImageURL }}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="{{ $shareImageURL }}">
      {{- with $shareImageAlt }}
    <meta name="twitter:alt" content="{{ . }}">
      {{- end }}
    {{- else }}
    <meta name="twitter:card" content="summary">
      {{- if $debug }}
        {{- warnf "%s[%s]: Missing share image: $meta.Site=%#v $meta.Single=%#v"
            $page $template
            $meta.Site.Data.Images.share.variant.default.version
            $meta.Single.Data.Images.share.variant.default.version }}
      {{- end }}
    {{- end }}
    <meta name="twitter:title" content="{{ .Headline }}">
    {{- with (default $meta.Site.Data.Description .Description) }}
    <meta name="twitter:description" content="{{ . }}">
    {{- end }}
  {{- with default site.Social.twitter site.Params.social.twitter.id }}
    <meta name="twitter:creator" content="{{ . }}">
    <meta name="twitter:site" content="{{ . }}">
  {{- else }}
    {{- if site.Params.claris.hints }}
      {{- warnf "%s[%s]: Missing Twitter handle: site.Social.twitter=%v site.Params.social.twitter.id=%v"
          $page $template site.Social.twitter site.Params.social.twitter.id -}}
    {{- end }}
  {{- end }}
{{- else }}
  {{- if site.Params.claris.hints }}
    {{- warnf "%s[%s]: Twitter card disabled: meta.Site.Classification.TwitterCard=%v meta.Classification.TwitterCard=%v"
        $page $template $meta.Site.Classification.TwitterCard $meta.Classification.TwitterCard -}}
  {{- end }}
{{- end }}
{{- end -}}
