{{- $page := .Page }}
{{- $meta := page.Scratch.Get "clarismeta" }}
{{- $template := "claris/head/twitter-card" }}
{{- $debug := false }}
{{- /* {{- $debug = page.Scratch.Get "clarisdebug" }} */ -}}
{{- $debug = or $debug (not (not (findRE `tags/$` $page.RelPermalink) ) ) }}

{{- $dateLocalISO8601 := "2006-01-02T15:04:05-07:00" -}}

{{- $twitterCard := default $meta.Site.Classification.TwitterCard $meta.Classification.TwitterCard }}
{{- if $twitterCard }}
  {{- with $meta.Single.Data }}
    {{- $shareImageURL := false }}
    {{- $shareImageAlt := false }}
    {{- with default $meta.Site.Data.Images.share .Images.share }}
      {{- with $variantMeta := .variant.default }}
        {{- with (default .version.default .version.aspect_2x1) }}
          {{- $shareImageURL = .canonicalurl }}
        {{- end }}
      {{- end }}
      {{- with .alt }}
        {{- $shareImageAlt = . }}
      {{- end }}
    {{- else }}
      {{- if $debug }}
        {{- warnf "%s[%s]: Missing share image in lang=%v: $meta.Site=%#v $meta.Single=%#v"
            $page $template site.Language.Lang
            $meta.Site.Data.Images.share.variant.default.version
            $meta.Single.Data.Images.share.variant.default.version -}}
      {{- end }}
    {{- end }}
    {{- with $shareImageURL }}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="{{ $shareImageURL }}">
      {{- with $shareImageAlt }}
    <meta name="twitter:alt" content="{{ . }}">
      {{- end }}
    {{- else }}
    <meta name="twitter:card" content="summary">
      {{- if $debug }}
        {{- warnf "%s[%s]: Missing share image: $meta.Site=%#v $meta.Single=%#v"
            $page $template
            $meta.Site.Data.Images.share.variant.default.version
            $meta.Single.Data.Images.share.variant.default.version }}
      {{- end }}
    {{- end }}
    <meta name="twitter:title" content="{{ .Fulltitle }}">
    {{- with (default $meta.Site.Data.Description .Description) }}
    <meta name="twitter:description" content="{{ . }}">
    {{- end }}
  {{- with default site.Social.twitter site.Params.social.twitter.id }}
    <meta name="twitter:creator" content="{{ . }}">
    <meta name="twitter:site" content="{{ . }}">
  {{- else }}
    {{- errorf "%s[%s]: Missing Twitter profile: site.Social.twitter=%v site.Params.social.twitter.id=%v"
    site.Social.twitter site.Params.social.twitter.id }}
  {{- end }}

  {{- end }}
{{- end -}}
