{{- $sections := .Get "sections" | default (.Get 0) | default site.Params.mainsections -}}
{{- $limit := .Get "limit" -}}
{{- $page := .Page }}
{{- $template := "shortcodes/fresh-content" }}

{{- $items := partial "claris/_functions/fresh-content" (dict "Page" $page "Sections" $sections) }}

{{- $variantParams := (dict "Items" $items "ItemType" "article" "ListLayout" "list" "Sections" $sections) }}
{{- with $limit }}
  {{- $variantParams = merge $variantParams (dict "Limit" $limit) }}
{{- end }}
{{/* {{- warnf "%s[%s]: sections=%v limit=%v items=%v variantParams=%v"
    $page $template $sections $limit $items $variantParams }} */}}
{{- partial "claris/_components/list" (merge $variantParams (dict "Page" $page) ) }}
