{{- $page := .Page }}
{{- $template := "shortcodes/responsive-image" }}
{{- $args := (dict
  "Page" $.Page
  "resource" (.Get "resource")
  "position" (.Get "position")
  "lazy" (default true (.Get "lazy") )
  "fetchpriority" (.Get "fetchpriority")
  "lightbox" (.Get "lightbox")
  "imgclass" (printf "shortcode_responsive-figure_img %s" (default "" (.Get "img_class")) )
  "figureclass" (printf "shortcode_responsive-figure shortcode_responsive-figure_image %s" (default "" (.Get "figure_class")) )
  "Caption" (.Get "caption")
  "Title" (.Get "title")
  "Alt" (.Get "alt")
  "Float" (.Get "float")
  "Shape" (.Get "shape")
  "RelativeWidth" (.Get "relative-width")
  "Width" (.Get "width")
  "Height" (.Get "height")
  "MaxWidth" (.Get "max-width")
  "MaxHeight" (.Get "max-height")
  "Background" (.Get "background")
) }}
{{/* {{- warnf "%s[%s]: %#v" $page $template $args -}} */}}
{{- partialCached "responsive-image" $args .Page $args }}
