{{- $page := .Page }}
{{- $meta := $page.Scratch.Get "clarismeta" }}
{{- $template := "claris/footer/index" }}
{{- $debug := false }}
{{- /* {{- $debug = page.Scratch.Get "clarisdebug" }} */ -}}
{{- /* $debug = or $debug (not (not (findRE `^/$` $page.RelPermalink) ) ) */ -}}

{{- $title := site.Title }}
{{- $siteAuthor := $meta.Site.Data.Author.Name }}
{{- $footerSection := site.Params.footer.section }}

<div class="footer_inner inner_bottom">
  {{- $footerPages := slice }}
  {{- with site.GetPage site.Params.footer.section }}
    {{- with .Resources.Match "*.md" }}
      {{- $footerPages = sort . ".Params.weight" }}
    {{- else }}
      {{- if $debug }}
        {{- warnf "%s[%s]: No page resources match '*.md'"
            $page $template site.Params.footer.section }}
      {{- end }}
    {{- end }}
  {{- else }}
    {{- if $debug }}
      {{- warnf "%s[%s]: site.GetPage %v failed"
          $page $template site.Params.footer.section }}
    {{- end }}
  {{- end }}

  {{- with $footerPages }}
    {{- if $debug }}
      {{- warnf "%s[%s]: site.RegularPages.ByWeight \"Type\" \"in\" %v: %v"
          $page $template site.Params.footer.section $footerPages }}
      {{- range $id, $page := $footerPages }}
        {{- warnf "%s[%s]: %v" $page $template . }}
      {{- end }}
    {{- end }}
  <div class="footer_main">
  {{- range $id, $page := $footerPages }}
    {{- $inlineStyle := false }}
    {{- with .Params.flexbasis }}
      {{- $inlineStyle = printf ` style="flex-basis: %v"` . | safeHTMLAttr }}
    {{- end }}
    <div class="footer_main-item inner_horizontal"{{ with $inlineStyle }}{{ . }}{{ end }}>
    {{- with .Title }}
      <h2 class="footer_title">{{ . }}</h2>
    {{- end }}
    {{ $page.Page.Content }}
    </div>
  {{- end }}
  </div>
  {{- end }}

  <div class="footer_links inner_horizontal">
    {{- partialCached "claris/footer/social" $page }}
    {{- partialCached "claris/footer/generator" $page }}
  </div>
  <div class="footer_legal inner_horizontal ">
    <ul class="footer_legal-list">
      <li>{{ T "copyright" }}&nbsp;{{ with ($page.Param "website.established") }}{{ if (lt (int .) (int (now.Format "2006") ) ) }}{{ . }}–{{- end }}{{- end }}<span class="year">{{ string (now.Format "2006") }}</span>{{ with $siteAuthor }}&nbsp;{{ . }}{{ end }}. {{ T "all_rights" }}</li>
    </ul>
  </div>
</div>
