{{- $page := .Page }}
{{- $meta := $page.Scratch.Get "clarismeta" }}
{{- $template := "claris/footer/index" }}
{{- $debug := false }}

{{- /* The footer of each page comprises several elements.
    Its main part is fed from individual pages that are merged.
    These pages are loacted in a special section defined in
    `site.Params.footer.section`, which defaults to `_footer`.
    It is imperative to keep these pages out of search engine indexes.
    For this reason, please put an `index.md` file into the footer section
    with the following front matter:
      ---
      headless: true
      ---
*/ -}}
{{- $title := site.Title }}
{{- $siteAuthor := $meta.Site.Data.Author.Name }}
{{- $footerSection := site.Params.footer.section }}

<div class="footer_inner inner_bottom">
  {{- $footerPages := slice }}
  {{- with $footerSection }}
    {{- with site.GetPage $footerSection }}
      {{- with .Resources.Match "*.md" }}
        {{- $footerPages = sort . ".Params.weight" }}
      {{- else }}
        {{- if $debug }}
          {{- warnf "%s[%s]: No page resources match '*.md' in '%v'"
              $page $template $footerSection }}
        {{- end }}
      {{- end }}
    {{- else }}
      {{- if $debug }}
        {{- warnf "%s[%s]: site.GetPage %v failed"
            $page $template $footerSection }}
      {{- end }}
    {{- end }}
  {{- else }}
    {{- if site.Params.claris.hints }}
      {{- warnf "%s[%s]: site.Params.footer.section=%v.\nSet this value to a section, e.g., '_footer', for its pages to show up in the footer of every page."
          $page $template $footerSection }}
    {{- end }}
  {{- end }}

  {{- with $footerPages }}
    {{- if $debug }}
      {{- warnf "%s[%s]: site.RegularPages.ByWeight \"Type\" \"in\" %v: %v"
          $page $template $footerSection $footerPages }}
      {{- range $id, $page := $footerPages }}
        {{- warnf "%s[%s]: %v" $page $template . }}
      {{- end }}
    {{- end }}
  <div class="footer_main inner_horizontal">
  {{- range $id, $page := $footerPages }}
    {{- $inlineStyle := false }}
    {{- with .Params.flexbasis }}
      {{- $inlineStyle = printf ` style="flex-basis: %v"` . | safeHTMLAttr }}
    {{- end }}
    <div class="footer_main-item"{{ with $inlineStyle }}{{ . }}{{ end }}>
    {{- with .Title }}
      <h2 class="footer_title">{{ page.RenderString . }}</h2>
    {{- end }}
    {{ $page.Page.Content }}
    </div>
  {{- end }}
  </div>
  {{- end }}

  <div class="footer_links inner_horizontal">
    {{- partialCached "claris/footer/social" $page }}
    {{- partialCached "claris/footer/generator" $page }}
  </div>
  <div class="footer_legal inner_horizontal ">
    <ul class="footer_legal-list">
      <li>{{ T "copyright" }}&nbsp;{{ with ($page.Param "website.established") }}{{ if (lt (int .) (int (now.Format "2006") ) ) }}{{ . }}–{{- end }}{{- end }}<span class="year">{{ string (now.Format "2006") }}</span>{{ with $siteAuthor }}&nbsp;{{ . }}{{ end }}. {{ T "all_rights" }}</li>
    </ul>
  </div>
</div>
