{{- $page := page }}
{{- $meta := page.Scratch.Get "clarismeta" }}
{{- $author := . }}
{{- $template := "claris/footer/social" }}

{{- $footerSocialSites := $page.Param "footer.social" }}

{{- with $socialSiteMeta := $meta.Site.Data.Social }}
  <div class="footer_social inner_horizontal">
    <ul class="footer_social-list">
    {{- range $idx, $site := $footerSocialSites }}
      {{- with index $socialSiteMeta . }}
      <li class="icon_link">
        {{- if and false (eq $idx 0) }}
        <a href="{{ .Profile.URL }}" title="{{ .Name }}">{{- partial "qrcode-svg" (dict "Page" $page "Content" .Profile.URL) -}}</a>
        {{- end }}
        <a href="{{ .Profile.URL }}" title="{{ .Name }}">{{- partial "sprite" (dict "icon" .Icon) }}{{ .Name }}</a>
      </li>
      {{- end }}
    {{- end }}
    </ul>
  </div>
{{- else }}
  {{- warnf "%s[%s]: Missing 'Social' in $meta.Site.Data=%v"
  $page $template $meta.Site.Data }}
{{- end }}
