{{- $base := relURL "" }}
{{- $items := site.Data.social }}
{{- $social := site.Menus.social }}
{{- with $social }}
  {{- $items = . }}
{{- end }}
{{- range $items }}
  {{- $url := .URL }}
  {{- $label := lower .Name }}
  {{- $name := .Name }}
  {{- if eq $social nil }}
    {{ $url = .url }}
    {{ $label = lower .item }}
  {{- end }}
  {{- if and (eq (hasPrefix $url $base) false) (eq (hasPrefix $url "http") false) }}
    {{- $url = relLangURL $url }}
  {{- end }}
            <div class="nav_parent">
              <a href="{{ $url }}" class="nav_item" title="{{ partial `claris/_functions/sanitize` $name }}">
              {{ partial "sprite" (dict "icon" $label) }}
              </a>
            </div>
{{- end -}}
