{{- $page := . }}
{{- $p := .Params }}
{{- $s := site.Params }}
{{- $template := "partials/header" }}
{{- $contentType := default "claris" (partialCached "claris/_functions/alternative-type" . .Kind .Type) }}
{{- $centerLogo := $s.centerLogo }}
{{- $logo := $s.logo }}
{{- $logoURL := default site.BaseURL $s.logoURL }}
{{- if not $logoURL }}
  {{- errorf "%s[%s]: Invalid logoURL=%v" $page $template $logoURL }}
{{- end }}
    <header class="nav_header">
      <nav class="nav inner_horizontal inner_top-0">
        {{- /* FIXME: partial "claris/header/logo" is required for mobile navigation to work. Otherwise, JS "theme/mobile-nav.js" will terminate early" */ -}}
        {{- if $centerLogo }}
          {{- partialCached "claris/header/logo" (dict "logo" $logo "class" "nav_hide" "logoURL" $logoURL ) }}
        {{- else }}
          {{- partialCached "claris/header/logo" (dict "logo" $logo "logoURL" $logoURL ) }}
        {{- end }}
        <div class='nav_body nav_body_{{ $s.mobileNavigation }}'>
          {{- $menuData := site.Data.menu }}
          {{- with $menuData }}
            {{ partial "claris/header/nav" (dict "ctx" $page "Page" $page "Menu" $menuData) }}
          {{- else }}
            {{ partial "claris/header/nav" (dict "ctx" $page "Page" . "Menu" site.Menus.main) }}
          {{- end }}
          {{- if $centerLogo }}
            {{ partial "claris/header/logo" (dict "logo" $logo "class" "nav_center") }}
          {{- end }}
          <div class="nav_group nav_group_follow_mode">
            <div class="nav_parent_follow">
            {{- partialCached "claris/header/follow" . $contentType }}
            </div>
            <div class="nav_parent_mode">
            {{- partialCached "claris/header/mode" . $contentType }}
            </div>
          </div>
        </div>
      </nav>
    </header>
