{{- $page := .Page }}
{{- $logoImageSpec := default site.Params.logo .LogoImage }}
{{- $logoURL := .LogoURL }}
{{- $logoClass := .LogoClass }}

{{- $template := "claris/header/logo" }}

{{- with $logoURL }}
  {{- if not (strings.HasPrefix . "http") }}
    {{- with strings.TrimLeft "/" . }}
      {{- $logoURL = absLangURL . }}
      {{- warnf "%s[%s]: logoURL: '%v' --> %v" $page $template $logoURL }}
    {{- else }}
      {{- $logoURL = (site.GetPage "/").Permalink }}
    {{- end }}
  {{- end }}
{{- end }}


{{- $t := site.Title -}}

{{- $logoImage := partialCached "claris/_functions/resources/images/logo-image" (dict "Page" $page "LogoImage" $logoImageSpec) -}}
{{- with $logoURL }}
        <a href='{{ . }}' title='{{ $t }}' class='nav_brand_parent'>
{{- end }}
          <div class="nav_brand nav_item{{ with $logoClass }} {{ . }}{{ end }}">
  {{- with $logoImage }}
            <img src="{{ absURL .Permalink }}" class="logo" width="{{ .Width }}" height="{{ .Height }}" alt="{{ $t }}">
  {{- else -}}
    {{- $t -}}
  {{- end }}
          </div>
{{- if $logoURL }}
        </a>
{{- end }}
        <div class="nav_mobile_toggle nav_item{{ with $logoClass }} {{ . }}{{ end }}">
          <div class="nav_mobile_toggle_open">{{- partialCached "sprite" (dict "icon" "open-menu") "open-menu" -}}</div>
          <div class="nav_mobile_toggle_close">{{- partialCached "sprite" (dict "icon" "closeme") "close-menu" -}}</div>
        </div>
