{{- $t := site.Title -}}
{{- $logoImageHeight := 96 }}
{{- $sizeSpec := printf "x%d" (int $logoImageHeight) }}
{{- /* By specifying a second argument to partialCached "claris/_functions/logo-image",
    we ensure that it creates a new version with the specified size */ -}}
{{- $logoImage := partialCached "claris/_functions/logo-image" $sizeSpec $sizeSpec -}}
{{- with .logoURL }}
        <a href='{{ absLangURL . }}' title='{{ $t }}' class='nav_brand_parent'>
{{- end }}
          <div class="nav_brand nav_item{{ with .class }} {{ . }}{{ end }}">
  {{- with $logoImage }}
            <img src="{{ absURL .Permalink }}" class="logo" width="{{ .Width }}" height="{{ .Height }}" alt="{{ $t }}">
  {{- else -}}
    {{- $t -}}
  {{- end }}
          </div>
{{- with .logoURL }}
        </a>
{{- end }}
{{- if ne (strings.HasSuffix .class "center") true }}
        <div class="nav_close nav_item{{ with .class }} {{ . }}{{ end }}">
    {{- partialCached "sprite" (dict "icon" "open-menu") -}}
    {{- partial "sprite" (dict "icon" "closeme") -}}
{{- end }}
        </div>