{{- $page := .Page }}
{{- $logoImageResource := default site.Params.logo site.Params.header.logo.resource }}
{{- $logoURL := .logourl }}
{{- $logoClass := .logoclass }}

{{- $template := "claris/header/logo" }}

{{- with $logoURL }}
  {{- $logoURL = printf "%s" $logoURL | safeURL }}
{{- else }}
  {{- $logoURL = (site.GetPage "/").RelPermalink | safeURL }}
{{- end }}


{{- $t := site.Title -}}

{{- with site.Params.header.logo }}
  {{- with .padding }}
    {{- $logoClass = printf "%spadding-%d" (cond (not (not $logoClass)) $logoClass "")  (int .) }}
  {{- end }}
  {{- with .resource }}
    {{- $logoImageResource = . }}
  {{- end }}
{{- end }}

{{- $logoImage := partialCached "claris/_functions/resources/images/logo-image" (dict "Page" $page "resource" $logoImageResource) -}}
    <div class="nav_brand">
{{- with $logoImage }}
  {{- with $logoURL }}
        <a href='{{ . }}' title='{{ $t }}' class='nav_brand_logo_parent'>
  {{- end }}
          <div class="nav_brand_logo{{ with $logoClass }} {{ . }}{{ end }}">
            <img src="{{ .RelPermalink }}" class="logo" width="{{ .Width }}" height="{{ .Height }}" alt="{{ $t }}">
          </div>
  {{- if $logoURL }}
        </a>
  {{- end }}
{{- else -}}
      <div class="nav_group nav_brand_text_parent">
      {{- with $logoURL }}
        <a href='{{ . }}' title='{{ $t }}' class='nav_brand_text nav_item'>
      {{- end }}
          {{- $t -}}
    {{- if $logoURL }}
        </a>
      </div>
  {{- end }}
{{- end }}
    </div>
