<!-- toggle dark mode -->
            <div class="color_mode">
            {{- $switchClass := "color_choice" }}
            {{- $switchID := "mode" }}
            {{- if $.Param "colorModeLabel" }}
              <label for="mode" class="color_mode_label">{{ T "color_mode" .}}</label>
              <input type="checkbox" id="{{ $switchID }}" class="{{ $switchClass }}">
            {{- else }}
              <span id="{{ $switchID }}" class="{{ $switchClass }}"></span>
            {{- end }}
            </div>