{{- $page := .Page }}
{{- $menu := .Menu }}
{{- $s := site.Params }}
{{- $template := "partials/claris/header/nav" }}
{{- $menuData := $page.Site.Data.menu }}
{{- $link := $page.Permalink }}
{{- $logoURL := absLangURL site.Params.logoURL }}
{{- $url := "" }}
{{- $name := "" }}
{{- $children := false }}
{{- $elementIdPrefix := "nav-menu-item" }}
{{- partial "html-comment" (printf "BEGIN %v" $template) -}}
{{- with $menu }}
          <div class="nav_group nav_group_menu">
  {{- range $menu }}
    {{- /* partial "html-comment" ( . | jsonify (dict "indent" "  " "prefix" "      ") ) */ -}}
    {{- if eq $menu $menuData }}
      {{- /* partial "html-comment" (printf "        %v =  %v" $menu $menuData) */ -}}
      {{- $children = .submenu }}
      {{- $name = .name }}
      {{- $url = absURL .link }}
      {{- /* partial "html-comment" (printf "Page menu.    .URL:%s absURL:%s absLangURL:%s" .URL (absURL .URL) (absLangURL .URL) ) */ -}}
    {{- else }}
      {{- $children = .Children }}
      {{- $name = or (T .Name) .Name }}
      {{- $url = absURL .URL }}
      {{- $permalink := (site.GetPage (printf "%s" .URL)) }}
      {{- /* partial "html-comment" (printf "site.GetPage '/resume/print':'%s' site.GetPage '%s':%s .Permalink:%s"
          (site.GetPage "/resume/print") (printf "%s" .URL) (site.GetPage (printf "%s" .URL)) $permalink ) */ -}}
      {{- /* FIXME: site.GetPage seems to expect URLs without trailing slash */ -}}
      {{- if site.GetPage (strings.TrimRight "/" (printf "%s" .URL)) }}
        {{- $url = absLangURL .URL }}
      {{- end }}
    {{- end }}
    {{- $url = printf "%s/" (strings.TrimRight "/" $url) -}}
    {{/* {{ partial "html-comment" (printf ".URL:%s $url:%s $link:%s currentPage.Section:%s currentPage.Permalink:%s" .URL $url $link $page.Section $page.Permalink ) }} */}}
    {{- $parentID := default "" (printf "%s-%s" $elementIdPrefix (default $name .Identifier) | plainify | urlize) }}
      {{- with $children }}
            <div class="nav_parent">
      {{- end }}
              <a href="{{ $url }}" id="{{ $parentID }}" class="nav_menu nav_item
      {{- if (and (not .HasChildren) (eq $url $logoURL) ) }} nav_logourl{{ end -}}
      {{- if (and (not .HasChildren) (eq $url $link) ) }} nav_active{{ end -}}
      {{- if eq $page.Permalink .URL }} nav_active_page{{ end -}}
      {{- if ( $page.IsMenuCurrent .Menu . ) }} nav_active_is_menu{{ end -}}
      {{- if ( $page.HasMenuCurrent .Menu . ) }} nav_active_has_menu{{ end -}}
      {{- if (site.GetPage .URL).InSection $page }} nav_active_in_section{{ end -}}
      {{- if $page.Parent -}}
        {{- if $page.Parent.IsMenuCurrent .Menu . }} nav_active_parent_is_menu{{ end -}}
        {{- if $page.Parent.HasMenuCurrent .Menu . }} nav_active_parent_has_menu{{ end -}}
        {{- if $page.Parent.Parent -}}
          {{- if $page.Parent.Parent.IsMenuCurrent .Menu . }} nav_active_parent_parent_is_menu{{ end -}}
          {{- if $page.Parent.Parent.HasMenuCurrent .Menu . }} nav_active_parent_parent_has_menu{{ end -}}
        {{- end -}}
      {{- end -}}" title="{{ partial `claris/_functions/sanitize` $name }}">{{ $name }}{{ with $children }}<img src='{{ absURL "icons/caret-icon.svg" }}' alt="icon" class="nav_icon">{{ end }}</a>
      {{- with $children }}
              <div class="nav_sub">
                <span class="nav_child"></span>
        {{- range . }}
          {{- if eq $menu $menuData }}
            {{- $name = .name }}
            {{- $url = absURL .link }}
          {{- else }}
            {{- $name = or (T .Name) .Name }}
            {{- $url = absLangURL .URL }}
          {{- end }}
          {{- $childID := default "" (printf "%s-%s" $parentID ( (default $name .Identifier) | plainify | urlize) ) }}
                  <a href="{{ $url }}" id="{{ $childID }}" class="nav_child nav_item
          {{- if eq $page.Permalink $url }} nav_active_page{{ end -}}
          {{- if ( $page.IsMenuCurrent .Menu . ) }} nav_active_is_menu{{ end -}}
          {{- if ( $page.HasMenuCurrent .Menu . ) }} nav_active_has_menu{{ end -}}
          {{- if (site.GetPage .URL).InSection $page }} nav_active_in_section{{ end -}}
          {{- if $page.Parent -}}
            {{- if $page.Parent.IsMenuCurrent .Menu . }} nav_active_parent_is_menu{{ end -}}
            {{- if $page.Parent.HasMenuCurrent .Menu . }} nav_active_parent_has_menu{{ end -}}
            {{- if $page.Parent.Parent -}}
              {{- if $page.Parent.Parent.IsMenuCurrent .Menu . }} nav_active_parent_parent_is_menu{{ end -}}
              {{- if $page.Parent.Parent.HasMenuCurrent .Menu . }} nav_active_parent_parent_has_menu{{ end -}}
            {{- end -}}
          {{- end -}}" title="{{ partial `claris/_functions/sanitize` $name }}">{{ $name }}</a>
        {{- end }}
              </div>
            </div>
      {{- end }}
  {{- end }}
          </div>
{{- end }}

{{- with $page }}
  {{- $relatedNavEntries := false }}
  {{ partial "html-comment" (printf "[%s]: Listing related pages if .Type=%v in %v and .Section=%v in %v"
    $template .Type (.Param "navListCurrentSectionForTypes")  .Section (.Param "navListCurrentSectionInSection")) }}
  {{- $invisibleSections := slice }}
  {{- with site.Params.hidden.sections }}
    {{- $invisibleSections = append . $invisibleSections }}
  {{- end }}
  {{- with site.Params.robots.robotsTxtDisallowSections }}
    {{- $invisibleSections = append . $invisibleSections }}
  {{- end }}
  {{- if (and (in (.Param "navListCurrentSectionForTypes") .Type)
      (in (.Param "navListCurrentSectionInSection") .Section) ) }}
    {{- /* Exclude sections that are in site.Params.hidden.sections but
    still list pages if the current page is in a hidden section */ -}}
    {{- $excludeSections := complement (slice (printf "%s" .Section)) $invisibleSections }}
    {{/* {{- partial "html-comment" (printf "%s[%s]: .Section=%v .CurrentSection=%v $excludeSections=%v" $page $template .Section .CurrentSection $excludeSections) }} */}}
    {{- with .CurrentSection }}
      {{- if not $relatedNavEntries }}
              <div class="nav_group nav_group_related">
        {{- $relatedNavEntries = true }}
      {{- end }}
      {{- $menuTitle := default .Title .Params.MenuTitle }}
          <div class="nav_parent nav_parent_section currentsection">
            {{- $activeClass := cond (eq $page.Permalink .Permalink) " nav_active" "" }}
            <a href="{{ .Permalink }}" class="nav_item{{ $activeClass }}" title="{{ partial `claris/_functions/sanitize` .Title }}">{{ $menuTitle }}</a>
          </div>
    {{- end }}
    {{- partial "html-comment" (printf "[%s]: .Section=%v $invisibleSections=%v .Pages=%v"
        $template .Section $invisibleSections (delimit .Pages ", ") ) }}
    {{- with .Pages }}
      {{- range (sort (where . "Section" "not in" $excludeSections) "Weight" "desc") -}}
        {{- if not $relatedNavEntries }}
                <div class="nav_group nav_group_related">
          {{- $relatedNavEntries = true }}
        {{- end }}
        {{- $menuTitle := default .Title .Params.MenuTitle }}
          <div class="nav_parent nav_parent_section pages">
            {{- $activeClass := cond (eq $page.Permalink .Permalink) " nav_active" "" }}
            <a href="{{ .Permalink }}" class="nav_item{{ $activeClass }}" title="{{ partial `claris/_functions/sanitize` .Title }}">{{ $menuTitle }}</a>
          </div>
      {{- end }}
    {{- else }}
      {{- with .Parent -}}
        {{- partial "html-comment" (printf "[%s]: .Parent.Section=%v $invisibleSections=%v .Parent.Pages=%v"
            $template .Section $invisibleSections (delimit .Pages ", ") ) }}
        {{- with .Pages -}}
          {{- range (sort (where . "Section" "not in" $excludeSections) "Weight" "desc") -}}
            {{- if not $relatedNavEntries }}
      <div class="nav_group nav_group_related">
              {{- $relatedNavEntries = true }}
            {{- end }}
            {{- if not (in $invisibleSections .CurrentSection) }}
            {{- $menuTitle := default .Title .Params.MenuTitle }}
        <div class="nav_parent nav_parent_section parent_pages">
            {{- $activeClass := cond (eq $page.Permalink .Permalink) " nav_active" "" }}
          <a href="{{ .Permalink }}" class="nav_item{{ $activeClass }}" title="{{ partial `claris/_functions/sanitize` .Title }}">{{ $menuTitle }}</a>
        </div>
            {{- end }}
          {{- end }}
        {{- end }}
      {{- end }}
    {{- end }}
  {{- end }}

  {{- partial "html-comment" (printf "[%s]: .AlternativeOutputFormats=%v"
    $template .AlternativeOutputFormats) -}}
  {{- with .AlternativeOutputFormats.Get "print" -}}
    {{- if not $relatedNavEntries }}
        <div class="nav_group nav_group_related">
      {{- $relatedNavEntries = true }}
    {{- end }}
          <div class="nav_parent nav_parent_print">
            <a href="{{ .Permalink }}" class="nav_item" title="{{ T "print-view" }}">{{ partial "sprite" (dict "icon" "print") }}</a>
          </div>
  {{- end }}
  {{- with .AlternativeOutputFormats.Get "html" -}}
    {{- if not $relatedNavEntries }}
        <div class="nav_group nav_group_related">
      {{- $relatedNavEntries = true }}
    {{- end }}
          <div class="nav_parent nav_parent_print">
            <a href="{{ .Permalink }}" class="nav_item" title="{{ T "screen-view" }}">{{ partial "sprite" (dict "icon" "arrow") }}</a>
          </div>
  {{- end }}

  {{- partial "html-comment" (printf "[%s]: .Param assetDownloadFolders=%v"
    $template (.Param "assetDownloadFolders") ) -}}
  {{- with $page.Param "assetDownloadFolders" }}
    {{/* {{- partial "html-comment" (printf "%s[%s]: Resources.ByType=%v" $page $template ($page.Resources.ByType "application") ) }} */}}
    {{- range $downloadFolder := . }}
      {{- with $page.Param "downloadBaseNames" }}
        {{- range $fileBaseName := . }}
          {{- $fileGlob := (printf "assets/%s/*%s*.pdf" $downloadFolder $fileBaseName) }}
          {{- with $page.Resources.GetMatch $fileGlob }}
            {{- if not $relatedNavEntries }}
        <div class="nav_group nav_group_related">
              {{- $relatedNavEntries = true }}
            {{- end }}
          <div class="nav_parent nav_parent_download">
            <a href="{{ .Permalink }}" class="nav_item" title="{{ T "download-pdf" }} {{ partial `claris/_functions/sanitize` .Title }}">{{ partial "sprite" (dict "icon" "file-pdf") }}</a>
          </div>
          {{- else }}
            {{- partial "html-comment" (printf "%s[%s]: fileGlob=%v" $page $template $fileGlob ) }}
          {{- end }}
        {{- end }}
      {{- end }}
    {{- end }}
  {{- end }}

  {{- partial "html-comment" (printf "[%s]: .IsTranslated=%v"
    $template .IsTranslated) -}}
  {{- if .IsTranslated }}
    {{- if not $relatedNavEntries }}
        <div class="nav_group nav_group_related">
      {{- $relatedNavEntries = true }}
    {{- end }}
          <div class="nav_parent nav_parent_language">
            <a href="#" title="{{ T "switch_language_page" }}" class="nav_item">{{ partial "sprite" (dict "icon" "language-icon") }}</a>
            <div class="nav_sub">
              <span class="nav_child"></span>
    {{- partial "html-comment" (printf "%s: available translations: %v" $template $page.Translations) -}}
    {{- range sort site.Languages "Weight" "asc" }}
      {{- partial "html-comment" (printf "%s: ctx.Lang:%v translation: %v" $template $page.Lang . ) -}}
      {{- if (eq (printf "%s" $page.Lang) (printf "%s" .)) }}
              <a href="{{ $page.Permalink }}" class="nav_child nav_item nav_active">{{ $page.Language.LanguageName }}</a>
      {{- else }}
        {{- $matchingTranslation := where $page.Translations "Lang" .Lang }}
        {{- with $matchingTranslation }}
          {{- with (index . 0) }}
            {{- $languageName := .Language.LanguageName }}
              <a href="{{ .Permalink }}" class="nav_child nav_item" title="{{ T "view_page_in_language" (dict "Count" 1 "Language" $languageName) }}">{{ $languageName }}</a>
          {{- end }}
        {{- end }}
      {{- end }}
    {{- end }}
            </div>
          </div>
  {{- else if (and site.Params.alwaysShowLanguageSelector site.IsMultiLingual) }}
          <div class="nav_parent nav_parent_language">
            <a href="#" title="{{ T "switch_language_page" }}" class="nav_item">{{ partial "sprite" (dict "icon" "language-icon") }}</a>
            <div class="nav_sub">
              <span class="nav_child"></span>
    {{ range site.Home.AllTranslations }}
              <a href="{{ .Permalink }}" title="{{ T "switch_language_site" }}" class="nav_child nav_item">{{ .Language.LanguageName }}</a>
    {{ end }}
            </div>
          </div>
  {{- end }}
  {{- if $relatedNavEntries }}
        </div>
  {{- end }}
{{- end }}
{{ partial "html-comment" (printf "END   %v" $template) }}
