name: Update websites

# Update Hugo modules and trigger deployment on dependent website repositories

on:
  push:
    branches:
      - main
      - stage

jobs:
  update-modules:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    env:
      REPO_URI: ${{ github.repository }}
      BRANCH_NAME: ${{ github.ref_name }}
      EVENT_ACTOR_ID: "${{ github.triggering_actor }}"
      EVENT_ACTOR_EMAIL: "${{ github.event.sender.id }}+${{ github.event.sender.login }}@users.noreply.github.com"
      HUGO_VERSION: 0.121.2

    steps:

      - name: Install Hugo CLI
        run: |
          wget -O ${{ runner.temp }}/hugo.deb https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/hugo_extended_${HUGO_VERSION}_linux-amd64.deb \
          && sudo dpkg -i ${{ runner.temp }}/hugo.deb

      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0
          path: hugo-claris

      - name: Get Last Commit Message
        id: last-commit
        run: |
          cd hugo-claris
          echo "LAST_COMMIT_MESSAGE=$(git log -1 --pretty=%B)" >> $GITHUB_ENV

      - name: Checkout hugo-claris-demo
        uses: actions/checkout@v3
        with:
          repository: simonheimlicher/hugo-claris-demo
          ref: ${{ env.BRANCH_NAME }}
          token: ${{ secrets.GH_ACTIONS_PAT }}
          path: hugo-claris-demo

      - name: Checkout heimlicher.com
        uses: actions/checkout@v3
        with:
          repository: simonheimlicher/heimlicher.com
          ref: ${{ env.BRANCH_NAME }}
          token: ${{ secrets.GH_ACTIONS_PAT }}
          path: heimlicher.com

      - name: Update Hugo Modules in hugo-claris-demo
        run: |
          cd hugo-claris-demo
          hugo mod get
          git config user.name "${{ env.EVENT_ACTOR_ID }}"
          git config user.email "${{ env.EVENT_ACTOR_EMAIL }}"
          git add .
          git commit -m "Updated modules: ${{ env.LAST_COMMIT_MESSAGE }}"
          git push

      - name: Update Hugo Modules in heimlicher.com
        run: |
          cd heimlicher.com
          hugo mod get
          git config user.name "${{ env.EVENT_ACTOR_ID }}"
          git config user.email "${{ env.EVENT_ACTOR_EMAIL }}"
          git add .
          git commit -m "Updated modules: ${{ env.LAST_COMMIT_MESSAGE }}"
          git push
