name: Update websites

# Update Hugo modules and trigger deployment on dependent website repositories

on:
  push:
    branches:
      - main
      - stage

jobs:
  update-modules:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    env:
      REPO_URI: ${{ github.repository }}
      BRANCH_NAME: ${{ github.ref_name }}
      EVENT_ACTOR_ID: "${{ github.actor }}"
      EVENT_ACTOR_EMAIL: "${{ github.event.sender.id }}+${{ github.event.sender.login }}@users.noreply.github.com"
      COMMIT_MESSAGE_PREFIX: "chore: update ${{ github.repository }}@${{ github.ref_name }}\n\n"
      COMMIT_MESSAGE_FILE: ${{ github.workspace }}/website_commit_message.txt
      HUGO_VERSION: 0.145.0

    steps:

      - name: Install Hugo CLI
        run: |
          wget -O ${{ runner.temp }}/hugo.deb https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/hugo_extended_${HUGO_VERSION}_linux-amd64.deb \
          && sudo dpkg -i ${{ runner.temp }}/hugo.deb

      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0
          path: hugo-claris

      - name: Save Last Commit Message
        run: |
          cd hugo-claris
          echo "${{ env.COMMIT_MESSAGE_PREFIX }}$(git log -1 --pretty=%B)" > ${{ env.COMMIT_MESSAGE_FILE }}

      - name: Checkout hugo-claris-demo
        uses: actions/checkout@v4
        with:
          repository: simonheimlicher/hugo-claris-demo
          ref: ${{ env.BRANCH_NAME }}
          token: ${{ secrets.GH_ACTIONS_PAT }}
          path: hugo-claris-demo

      - name: Update Hugo Modules in hugo-claris-demo
        run: |
          cd hugo-claris-demo
          sed --in-place -Ee 's!(github.com/simonheimlicher/hugo-claris) [^ ]+(.*)!\1 '"${{ env.BRANCH_NAME }}"'\2!' go.mod
          hugo mod get -u
          hugo mod tidy
          git config user.name "${{ env.EVENT_ACTOR_ID }}"
          git config user.email "${{ env.EVENT_ACTOR_EMAIL }}"
          git add .
          if ! git diff-index --quiet HEAD; then
            git commit --file=${{ env.COMMIT_MESSAGE_FILE }}
            git push
          fi

      - name: Checkout heimlicher.com
        uses: actions/checkout@v4
        with:
          repository: simonheimlicher/heimlicher.com
          ref: ${{ env.BRANCH_NAME }}
          token: ${{ secrets.GH_ACTIONS_PAT }}
          path: heimlicher.com

      - name: Update Hugo Modules in heimlicher.com
        run: |
          cd heimlicher.com
          sed --in-place -Ee 's!(github.com/simonheimlicher/hugo-claris) [^ ]+(.*)!\1 '"${{ env.BRANCH_NAME }}"'\2!' go.mod
          hugo mod get -u
          hugo mod tidy
          git config user.name "${{ env.EVENT_ACTOR_ID }}"
          git config user.email "${{ env.EVENT_ACTOR_EMAIL }}"
          git add .
          if ! git diff-index --quiet HEAD; then
            git commit --file=${{ env.COMMIT_MESSAGE_FILE }}
            git push
          fi

