/* alegreya-regular - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400;
  src: url('#{$hostedFontPath}/alegreya-v35-latin-ext/alegreya-v35-latin-ext-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('#{$hostedFontPath}/alegreya-v35-latin-ext/alegreya-v35-latin-ext-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* alegreya-italic - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 400;
  src: url('#{$hostedFontPath}/alegreya-v35-latin-ext/alegreya-v35-latin-ext-italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('#{$hostedFontPath}/alegreya-v35-latin-ext/alegreya-v35-latin-ext-italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* alegreya-500 - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 500;
  src: url('#{$hostedFontPath}/alegreya-v35-latin-ext/alegreya-v35-latin-ext-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('#{$hostedFontPath}/alegreya-v35-latin-ext/alegreya-v35-latin-ext-500.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* alegreya-500italic - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 500;
  src: url('#{$hostedFontPath}/alegreya-v35-latin-ext/alegreya-v35-latin-ext-500italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('#{$hostedFontPath}/alegreya-v35-latin-ext/alegreya-v35-latin-ext-500italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* alegreya-600 - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 600;
  src: url('#{$hostedFontPath}/alegreya-v35-latin-ext/alegreya-v35-latin-ext-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('#{$hostedFontPath}/alegreya-v35-latin-ext/alegreya-v35-latin-ext-600.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* alegreya-600italic - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 600;
  src: url('#{$hostedFontPath}/alegreya-v35-latin-ext/alegreya-v35-latin-ext-600italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('#{$hostedFontPath}/alegreya-v35-latin-ext/alegreya-v35-latin-ext-600italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* alegreya-700 - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 700;
  src: url('#{$hostedFontPath}/alegreya-v35-latin-ext/alegreya-v35-latin-ext-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('#{$hostedFontPath}/alegreya-v35-latin-ext/alegreya-v35-latin-ext-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* alegreya-700italic - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 700;
  src: url('#{$hostedFontPath}/alegreya-v35-latin-ext/alegreya-v35-latin-ext-700italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('#{$hostedFontPath}/alegreya-v35-latin-ext/alegreya-v35-latin-ext-700italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* alegreya-800 - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 800;
  src: url('#{$hostedFontPath}/alegreya-v35-latin-ext/alegreya-v35-latin-ext-800.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('#{$hostedFontPath}/alegreya-v35-latin-ext/alegreya-v35-latin-ext-800.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* alegreya-800italic - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 800;
  src: url('#{$hostedFontPath}/alegreya-v35-latin-ext/alegreya-v35-latin-ext-800italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('#{$hostedFontPath}/alegreya-v35-latin-ext/alegreya-v35-latin-ext-800italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* alegreya-900 - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 900;
  src: url('#{$hostedFontPath}/alegreya-v35-latin-ext/alegreya-v35-latin-ext-900.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('#{$hostedFontPath}/alegreya-v35-latin-ext/alegreya-v35-latin-ext-900.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* alegreya-900italic - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 900;
  src: url('#{$hostedFontPath}/alegreya-v35-latin-ext/alegreya-v35-latin-ext-900italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('#{$hostedFontPath}/alegreya-v35-latin-ext/alegreya-v35-latin-ext-900italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* alegreya-sc-regular - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Alegreya SC';
  font-style: normal;
  font-weight: 400;
  src: url('#{$hostedFontPath}/alegreya-sc-v25-latin-ext/alegreya-sc-v25-latin-ext-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('#{$hostedFontPath}/alegreya-sc-v25-latin-ext/alegreya-sc-v25-latin-ext-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* alegreya-sc-italic - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Alegreya SC';
  font-style: italic;
  font-weight: 400;
  src: url('#{$hostedFontPath}/alegreya-sc-v25-latin-ext/alegreya-sc-v25-latin-ext-italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('#{$hostedFontPath}/alegreya-sc-v25-latin-ext/alegreya-sc-v25-latin-ext-italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* alegreya-sc-500 - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Alegreya SC';
  font-style: normal;
  font-weight: 500;
  src: url('#{$hostedFontPath}/alegreya-sc-v25-latin-ext/alegreya-sc-v25-latin-ext-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('#{$hostedFontPath}/alegreya-sc-v25-latin-ext/alegreya-sc-v25-latin-ext-500.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* alegreya-sc-500italic - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Alegreya SC';
  font-style: italic;
  font-weight: 500;
  src: url('#{$hostedFontPath}/alegreya-sc-v25-latin-ext/alegreya-sc-v25-latin-ext-500italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('#{$hostedFontPath}/alegreya-sc-v25-latin-ext/alegreya-sc-v25-latin-ext-500italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* alegreya-sc-700 - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Alegreya SC';
  font-style: normal;
  font-weight: 700;
  src: url('#{$hostedFontPath}/alegreya-sc-v25-latin-ext/alegreya-sc-v25-latin-ext-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('#{$hostedFontPath}/alegreya-sc-v25-latin-ext/alegreya-sc-v25-latin-ext-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* alegreya-sc-700italic - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Alegreya SC';
  font-style: italic;
  font-weight: 700;
  src: url('#{$hostedFontPath}/alegreya-sc-v25-latin-ext/alegreya-sc-v25-latin-ext-700italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('#{$hostedFontPath}/alegreya-sc-v25-latin-ext/alegreya-sc-v25-latin-ext-700italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* alegreya-sc-800 - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Alegreya SC';
  font-style: normal;
  font-weight: 800;
  src: url('#{$hostedFontPath}/alegreya-sc-v25-latin-ext/alegreya-sc-v25-latin-ext-800.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('#{$hostedFontPath}/alegreya-sc-v25-latin-ext/alegreya-sc-v25-latin-ext-800.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* alegreya-sc-800italic - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Alegreya SC';
  font-style: italic;
  font-weight: 800;
  src: url('#{$hostedFontPath}/alegreya-sc-v25-latin-ext/alegreya-sc-v25-latin-ext-800italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('#{$hostedFontPath}/alegreya-sc-v25-latin-ext/alegreya-sc-v25-latin-ext-800italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* alegreya-sc-900 - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Alegreya SC';
  font-style: normal;
  font-weight: 900;
  src: url('#{$hostedFontPath}/alegreya-sc-v25-latin-ext/alegreya-sc-v25-latin-ext-900.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('#{$hostedFontPath}/alegreya-sc-v25-latin-ext/alegreya-sc-v25-latin-ext-900.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* alegreya-sc-900italic - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Alegreya SC';
  font-style: italic;
  font-weight: 900;
  src: url('#{$hostedFontPath}/alegreya-sc-v25-latin-ext/alegreya-sc-v25-latin-ext-900italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('#{$hostedFontPath}/alegreya-sc-v25-latin-ext/alegreya-sc-v25-latin-ext-900italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

$fontFamilySpec: (
  // Default font-family
  name: 'Alegreya',
  // Default styles
  styles: (
    // Style: `default`, i.e., body text
    default: (
      font-weight: 400,
      line-height: 1.4
    ),
    strong: (
      font-weight: 600,
    )
  ),
  // Alternative roles
  roles: (
    // Role: `display`, i.e., short pieces of text such as headings, labels, navigation
    display: (
      styles: (
        default: (
          font-weight: 400,
          line-height: 1.2
        ),
        strong: (
          font-weight: 900
        )
      )
    )
  ),
  // Font variants such as small-caps, oldstyle-nums
  variants: (
    // Font variant: `small-caps`
    small-caps: (
      name: 'Alegreya SC',
      styles: (
        default: (
          font-variant: normal,
          text-transform: lowercase
        )
      )
    )
  ),
);
$fontFamilyMap: map-merge($fontFamilyMap, ($fontFamilyID: $fontFamilySpec));
