@font-face {
  font-display: swap;
  font-family: 'Concourse';
  font-style: normal;
  font-weight: 300;
  src: url('#{$hostedFontPath}/concourse-ot/concourse_ot_2_thin.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Concourse';
  font-style: italic;
  font-weight: 300;
  src: url('#{$hostedFontPath}/concourse-ot/concourse_ot_2_thin_italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Concourse';
  font-style: normal;
  font-weight: 300;
  src: url('#{$hostedFontPath}/concourse-ot/concourse_ot_3_book.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Concourse';
  font-style: italic;
  font-weight: 300;
  src: url('#{$hostedFontPath}/concourse-ot/concourse_ot_3_book_italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Concourse';
  font-style: normal;
  font-weight: 400;
  src: url('#{$hostedFontPath}/concourse-ot/concourse_ot_4_medium.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Concourse';
  font-style: italic;
  font-weight: 400;
  src: url('#{$hostedFontPath}/concourse-ot/concourse_ot_4_medium_italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Concourse';
  font-style: normal;
  font-weight: 600;
  src: url('#{$hostedFontPath}/concourse-ot/concourse_ot_6_semibold.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Concourse';
  font-style: italic;
  font-weight: 600;
  src: url('#{$hostedFontPath}/concourse-ot/concourse_ot_6_semibold_italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Concourse';
  font-style: normal;
  font-weight: 700;
  src: url('#{$hostedFontPath}/concourse-ot/concourse_ot_7_bold.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Concourse';
  font-style: italic;
  font-weight: 700;
  src: url('#{$hostedFontPath}/concourse-ot/concourse_ot_7_bold_italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Concourse';
  font-style: normal;
  font-weight: 800;
  src: url('#{$hostedFontPath}/concourse-ot/concourse_ot_8_black.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Concourse';
  font-style: italic;
  font-weight: 800;
  src: url('#{$hostedFontPath}/concourse-ot/concourse_ot_8_black_italic.woff2') format('woff2');
}
