@font-face {
  font-display: swap;
  font-family: '#{$fontFamilyName}';
  font-style: normal;
  font-weight: 300;
  src: url('#{$hostedFontPath}/#{$fontFamilyID}/#{$fontFamilyID}_2_regular.woff2') format('woff2'),
       url('#{$hostedFontPath}/#{$fontFamilyID}/#{$fontFamilyID}_2_regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: '#{$fontFamilyName}';
  font-style: italic;
  font-weight: 300;
  src: url('#{$hostedFontPath}/#{$fontFamilyID}/#{$fontFamilyID}_2_italic.woff2') format('woff2'),
       url('#{$hostedFontPath}/#{$fontFamilyID}/#{$fontFamilyID}_2_italic.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: '#{$fontFamilyName}';
  font-style: normal;
  font-weight: 300;
  src: url('#{$hostedFontPath}/#{$fontFamilyID}/#{$fontFamilyID}_3_regular.woff2') format('woff2'),
       url('#{$hostedFontPath}/#{$fontFamilyID}/#{$fontFamilyID}_3_regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: '#{$fontFamilyName}';
  font-style: italic;
  font-weight: 300;
  src: url('#{$hostedFontPath}/#{$fontFamilyID}/#{$fontFamilyID}_3_italic.woff2') format('woff2'),
       url('#{$hostedFontPath}/#{$fontFamilyID}/#{$fontFamilyID}_3_italic.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: '#{$fontFamilyName}';
  font-style: normal;
  font-weight: 400;
  src: url('#{$hostedFontPath}/#{$fontFamilyID}/#{$fontFamilyID}_4_regular.woff2') format('woff2'),
       url('#{$hostedFontPath}/#{$fontFamilyID}/#{$fontFamilyID}_4_regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: '#{$fontFamilyName}';
  font-style: italic;
  font-weight: 400;
  src: url('#{$hostedFontPath}/#{$fontFamilyID}/#{$fontFamilyID}_4_italic.woff2') format('woff2'),
       url('#{$hostedFontPath}/#{$fontFamilyID}/#{$fontFamilyID}_4_italic.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: '#{$fontFamilyName}';
  font-style: normal;
  font-weight: 600;
  src: url('#{$hostedFontPath}/#{$fontFamilyID}/#{$fontFamilyID}_6_regular.woff2') format('woff2'),
       url('#{$hostedFontPath}/#{$fontFamilyID}/#{$fontFamilyID}_6_regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: '#{$fontFamilyName}';
  font-style: italic;
  font-weight: 600;
  src: url('#{$hostedFontPath}/#{$fontFamilyID}/#{$fontFamilyID}_6_italic.woff2') format('woff2'),
       url('#{$hostedFontPath}/#{$fontFamilyID}/#{$fontFamilyID}_6_italic.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: '#{$fontFamilyName}';
  font-style: normal;
  font-weight: 700;
  src: url('#{$hostedFontPath}/#{$fontFamilyID}/#{$fontFamilyID}_7_regular.woff2') format('woff2'),
       url('#{$hostedFontPath}/#{$fontFamilyID}/#{$fontFamilyID}_7_regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: '#{$fontFamilyName}';
  font-style: italic;
  font-weight: 700;
  src: url('#{$hostedFontPath}/#{$fontFamilyID}/#{$fontFamilyID}_7_italic.woff2') format('woff2'),
       url('#{$hostedFontPath}/#{$fontFamilyID}/#{$fontFamilyID}_7_italic.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: '#{$fontFamilyName}';
  font-style: normal;
  font-weight: 800;
  src: url('#{$hostedFontPath}/#{$fontFamilyID}/#{$fontFamilyID}_8_regular.woff2') format('woff2'),
       url('#{$hostedFontPath}/#{$fontFamilyID}/#{$fontFamilyID}_8_regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: '#{$fontFamilyName}';
  font-style: italic;
  font-weight: 800;
  src: url('#{$hostedFontPath}/#{$fontFamilyID}/#{$fontFamilyID}_8_italic.woff2') format('woff2'),
       url('#{$hostedFontPath}/#{$fontFamilyID}/#{$fontFamilyID}_8_italic.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: '#{$fontFamilyName} SC';
  font-style: normal;
  font-weight: 300;
  src: url('#{$hostedFontPath}/#{$fontFamilyID}-sc/#{$fontFamilyID}_2_caps_regular.woff2') format('woff2'),
       url('#{$hostedFontPath}/#{$fontFamilyID}-sc/#{$fontFamilyID}_2_caps_regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: '#{$fontFamilyName} SC';
  font-style: italic;
  font-weight: 300;
  src: url('#{$hostedFontPath}/#{$fontFamilyID}-sc/#{$fontFamilyID}_2_caps_italic.woff2') format('woff2'),
       url('#{$hostedFontPath}/#{$fontFamilyID}-sc/#{$fontFamilyID}_2_caps_italic.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: '#{$fontFamilyName} SC';
  font-style: normal;
  font-weight: 300;
  src: url('#{$hostedFontPath}/#{$fontFamilyID}-sc/#{$fontFamilyID}_3_caps_regular.woff2') format('woff2'),
       url('#{$hostedFontPath}/#{$fontFamilyID}-sc/#{$fontFamilyID}_3_caps_regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: '#{$fontFamilyName} SC';
  font-style: italic;
  font-weight: 300;
  src: url('#{$hostedFontPath}/#{$fontFamilyID}-sc/#{$fontFamilyID}_3_caps_italic.woff2') format('woff2'),
       url('#{$hostedFontPath}/#{$fontFamilyID}-sc/#{$fontFamilyID}_3_caps_italic.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: '#{$fontFamilyName} SC';
  font-style: normal;
  font-weight: 400;
  src: url('#{$hostedFontPath}/#{$fontFamilyID}-sc/#{$fontFamilyID}_4_caps_regular.woff2') format('woff2'),
       url('#{$hostedFontPath}/#{$fontFamilyID}-sc/#{$fontFamilyID}_4_caps_regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: '#{$fontFamilyName} SC';
  font-style: italic;
  font-weight: 400;
  src: url('#{$hostedFontPath}/#{$fontFamilyID}-sc/#{$fontFamilyID}_4_caps_italic.woff2') format('woff2'),
       url('#{$hostedFontPath}/#{$fontFamilyID}-sc/#{$fontFamilyID}_4_caps_italic.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: '#{$fontFamilyName} SC';
  font-style: normal;
  font-weight: 600;
  src: url('#{$hostedFontPath}/#{$fontFamilyID}-sc/#{$fontFamilyID}_6_caps_regular.woff2') format('woff2'),
       url('#{$hostedFontPath}/#{$fontFamilyID}-sc/#{$fontFamilyID}_6_caps_regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: '#{$fontFamilyName} SC';
  font-style: italic;
  font-weight: 600;
  src: url('#{$hostedFontPath}/#{$fontFamilyID}-sc/#{$fontFamilyID}_6_caps_italic.woff2') format('woff2'),
       url('#{$hostedFontPath}/#{$fontFamilyID}-sc/#{$fontFamilyID}_6_caps_italic.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: '#{$fontFamilyName} SC';
  font-style: normal;
  font-weight: 700;
  src: url('#{$hostedFontPath}/#{$fontFamilyID}-sc/#{$fontFamilyID}_7_caps_regular.woff2') format('woff2'),
       url('#{$hostedFontPath}/#{$fontFamilyID}-sc/#{$fontFamilyID}_7_caps_regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: '#{$fontFamilyName} SC';
  font-style: italic;
  font-weight: 700;
  src: url('#{$hostedFontPath}/#{$fontFamilyID}-sc/#{$fontFamilyID}_7_caps_italic.woff2') format('woff2'),
       url('#{$hostedFontPath}/#{$fontFamilyID}-sc/#{$fontFamilyID}_7_caps_italic.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: '#{$fontFamilyName} SC';
  font-style: normal;
  font-weight: 800;
  src: url('#{$hostedFontPath}/#{$fontFamilyID}-sc/#{$fontFamilyID}_8_caps_regular.woff2') format('woff2'),
       url('#{$hostedFontPath}/#{$fontFamilyID}-sc/#{$fontFamilyID}_8_caps_regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: '#{$fontFamilyName} SC';
  font-style: italic;
  font-weight: 800;
  src: url('#{$hostedFontPath}/#{$fontFamilyID}-sc/#{$fontFamilyID}_8_caps_italic.woff2') format('woff2'),
       url('#{$hostedFontPath}/#{$fontFamilyID}-sc/#{$fontFamilyID}_8_caps_italic.woff') format('woff');
}

$fontFamilySpec: (
  // Default, i.e., body text
  name: '#{$fontFamilyName}',
  styles: (
    // Weight: `default`, i.e., body text
    default: (
      font-weight: 400,
      line-height: 1.45
    ),
    // Weight: `bold`, i.e., bolder than normal text
    bold: (
      font-weight: 600,
    )
  ),
  // variants: (
  //   // Font variant: `small-caps`
  //   small-caps: (
  //     name: '#{$fontFamilyName}',
  //     styles: (
  //       default: (
  //         font-variant: all-small-caps
  //       )
  //     )
  //   )
  // ),
  // Font variants such as small-caps, oldstyle-nums
  variants: (
    // Font variant: `small-caps`
    small-caps: (
      name: '#{$fontFamilyName} SC',
      styles: (
        default: (
          font-variant: inherit
        )
      )
    )
  ),
  roles: (
    // Role: `display`, i.e., short pieces of text such as headings, labels, navigation
    display: (
      styles: (
        default: (
          font-weight: 400,
          line-height: 1.2
        ),
        // Weight: `bold`, i.e., bolder than normal text
        bold: (
          font-weight: 600,
        )
      )
    )
  )
);
$fontFamilyMap: map-merge($fontFamilyMap, ($fontFamilyID: $fontFamilySpec) );
