/* source-sans-3-200 - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 200;
  src: url('{{ .hostedFontPath }}/source-sans-3-v8-latin-ext/source-sans-3-v8-latin-ext-200.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('{{ .hostedFontPath }}/source-sans-3-v8-latin-ext/source-sans-3-v8-latin-ext-200.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* source-sans-3-200italic - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Source Sans 3';
  font-style: italic;
  font-weight: 200;
  src: url('{{ .hostedFontPath }}/source-sans-3-v8-latin-ext/source-sans-3-v8-latin-ext-200italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('{{ .hostedFontPath }}/source-sans-3-v8-latin-ext/source-sans-3-v8-latin-ext-200italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* source-sans-3-300 - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 300;
  src: url('{{ .hostedFontPath }}/source-sans-3-v8-latin-ext/source-sans-3-v8-latin-ext-300.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('{{ .hostedFontPath }}/source-sans-3-v8-latin-ext/source-sans-3-v8-latin-ext-300.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* source-sans-3-300italic - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Source Sans 3';
  font-style: italic;
  font-weight: 300;
  src: url('{{ .hostedFontPath }}/source-sans-3-v8-latin-ext/source-sans-3-v8-latin-ext-300italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('{{ .hostedFontPath }}/source-sans-3-v8-latin-ext/source-sans-3-v8-latin-ext-300italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* source-sans-3-regular - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 400;
  src: url('{{ .hostedFontPath }}/source-sans-3-v8-latin-ext/source-sans-3-v8-latin-ext-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('{{ .hostedFontPath }}/source-sans-3-v8-latin-ext/source-sans-3-v8-latin-ext-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* source-sans-3-italic - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Source Sans 3';
  font-style: italic;
  font-weight: 400;
  src: url('{{ .hostedFontPath }}/source-sans-3-v8-latin-ext/source-sans-3-v8-latin-ext-italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('{{ .hostedFontPath }}/source-sans-3-v8-latin-ext/source-sans-3-v8-latin-ext-italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* source-sans-3-500 - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 500;
  src: url('{{ .hostedFontPath }}/source-sans-3-v8-latin-ext/source-sans-3-v8-latin-ext-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('{{ .hostedFontPath }}/source-sans-3-v8-latin-ext/source-sans-3-v8-latin-ext-500.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* source-sans-3-500italic - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Source Sans 3';
  font-style: italic;
  font-weight: 500;
  src: url('{{ .hostedFontPath }}/source-sans-3-v8-latin-ext/source-sans-3-v8-latin-ext-500italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('{{ .hostedFontPath }}/source-sans-3-v8-latin-ext/source-sans-3-v8-latin-ext-500italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* source-sans-3-600 - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 600;
  src: url('{{ .hostedFontPath }}/source-sans-3-v8-latin-ext/source-sans-3-v8-latin-ext-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('{{ .hostedFontPath }}/source-sans-3-v8-latin-ext/source-sans-3-v8-latin-ext-600.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* source-sans-3-600italic - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Source Sans 3';
  font-style: italic;
  font-weight: 600;
  src: url('{{ .hostedFontPath }}/source-sans-3-v8-latin-ext/source-sans-3-v8-latin-ext-600italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('{{ .hostedFontPath }}/source-sans-3-v8-latin-ext/source-sans-3-v8-latin-ext-600italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* source-sans-3-700 - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 700;
  src: url('{{ .hostedFontPath }}/source-sans-3-v8-latin-ext/source-sans-3-v8-latin-ext-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('{{ .hostedFontPath }}/source-sans-3-v8-latin-ext/source-sans-3-v8-latin-ext-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* source-sans-3-700italic - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Source Sans 3';
  font-style: italic;
  font-weight: 700;
  src: url('{{ .hostedFontPath }}/source-sans-3-v8-latin-ext/source-sans-3-v8-latin-ext-700italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('{{ .hostedFontPath }}/source-sans-3-v8-latin-ext/source-sans-3-v8-latin-ext-700italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* source-sans-3-800 - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 800;
  src: url('{{ .hostedFontPath }}/source-sans-3-v8-latin-ext/source-sans-3-v8-latin-ext-800.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('{{ .hostedFontPath }}/source-sans-3-v8-latin-ext/source-sans-3-v8-latin-ext-800.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* source-sans-3-800italic - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Source Sans 3';
  font-style: italic;
  font-weight: 800;
  src: url('{{ .hostedFontPath }}/source-sans-3-v8-latin-ext/source-sans-3-v8-latin-ext-800italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('{{ .hostedFontPath }}/source-sans-3-v8-latin-ext/source-sans-3-v8-latin-ext-800italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* source-sans-3-900 - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 900;
  src: url('{{ .hostedFontPath }}/source-sans-3-v8-latin-ext/source-sans-3-v8-latin-ext-900.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('{{ .hostedFontPath }}/source-sans-3-v8-latin-ext/source-sans-3-v8-latin-ext-900.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* source-sans-3-900italic - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Source Sans 3';
  font-style: italic;
  font-weight: 900;
  src: url('{{ .hostedFontPath }}/source-sans-3-v8-latin-ext/source-sans-3-v8-latin-ext-900italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('{{ .hostedFontPath }}/source-sans-3-v8-latin-ext/source-sans-3-v8-latin-ext-900italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

$fontFamilySpec: (
  // Default font-family
  name: 'Source Sans 3',
  // Default styles
  styles: (
    // Style: `default`, i.e., body text
    default: (
      font-weight: 400,
      line-height: 1.5
    ),
    strong: (
      font-weight: 600,
    )
  ),
  variants: (
    // Font variant: `small-caps`
    small-caps: (
      name: 'Source Sans 3',
      styles: (
        default: (
          font-variant: all-small-caps
        )
      )
    )
  ),
  // Alternative roles
  roles: (
    // Role: `display`, i.e., short pieces of text such as headings, labels, navigation
    display: (
      styles: (
        default: (
          font-weight: 400,
          line-height: 1.2
        ),
        strong: (
          font-weight: 900,
        )
      )
    )
  ),
);

@each $fontType in {{ delimit .useFamilyAsType " " }} {
  @include fonts.defineFontUtilityClasses($fontFamilySpec, $useAsFontType: #{$fontType});
}
