@font-face {
  font-display: swap;
  font-family: '{{ .fontFamilyName }}';
  font-style: normal;
  font-weight: 400;
  src: url('{{ .hostedFontPath }}/{{ .fontFamilyID }}/{{ .fontFamilyID }}_regular.woff2') format('woff2'),
       url('{{ .hostedFontPath }}/{{ .fontFamilyID }}/{{ .fontFamilyID }}_regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: '{{ .fontFamilyName }}';
  font-style: italic;
  font-weight: 400;
  src: url('{{ .hostedFontPath }}/{{ .fontFamilyID }}/{{ .fontFamilyID }}_italic.woff2') format('woff2'),
       url('{{ .hostedFontPath }}/{{ .fontFamilyID }}/{{ .fontFamilyID }}_italic.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: '{{ .fontFamilyName }}';
  font-style: normal;
  font-weight: 600;
  src: url('{{ .hostedFontPath }}/{{ .fontFamilyID }}/{{ .fontFamilyID }}_bold.woff2') format('woff2'),
       url('{{ .hostedFontPath }}/{{ .fontFamilyID }}/{{ .fontFamilyID }}_bold.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: '{{ .fontFamilyName }}';
  font-style: italic;
  font-weight: 600;
  src: url('{{ .hostedFontPath }}/{{ .fontFamilyID }}/{{ .fontFamilyID }}_bold_italic.woff2') format('woff2'),
       url('{{ .hostedFontPath }}/{{ .fontFamilyID }}/{{ .fontFamilyID }}_bold_italic.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: '{{ .fontFamilyName }} SC';
  font-style: normal;
  font-weight: 400;
  src: url('{{ .hostedFontPath }}/{{ .fontFamilyID }}-sc/{{ .fontFamilyID }}_caps_regular.woff2') format('woff2'),
       url('{{ .hostedFontPath }}/{{ .fontFamilyID }}-sc/{{ .fontFamilyID }}_caps_regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: '{{ .fontFamilyName }} SC';
  font-style: normal;
  font-weight: 600;
  src: url('{{ .hostedFontPath }}/{{ .fontFamilyID }}-sc/{{ .fontFamilyID }}_caps_bold.woff2') format('woff2'),
       url('{{ .hostedFontPath }}/{{ .fontFamilyID }}-sc/{{ .fontFamilyID }}_caps_bold.woff') format('woff');
}

$fontFamilySpec: (
  // Default, i.e., body text
  name: '{{ .fontFamilyName }}',
  styles: (
    // Weight: `default`, i.e., body text
    default: (
      font-weight: 400,
      line-height: 1.45
    ),
    // Weight: `strong`, i.e., bolder than normal text
    strong: (
      font-weight: 600,
    )
  ),
  // Font variants such as small-caps, oldstyle-nums
  variants: (
    // Font variant: `small-caps`
    small-caps: (
      name: '{{ .fontFamilyName }} SC',
      styles: (
        default: (
          font-variant: inherit
        )
      )
    )
  ),
  roles: (
    // Role: `display`, i.e., short pieces of text such as headings, labels, navigation
    display: (
      styles: (
        default: (
          font-weight: 400,
          line-height: 1.2
        ),
        // Weight: `strong`, i.e., bolder than normal text
        strong: (
          font-weight: 600,
        )
      )
    )
  )
);

@include fonts.defineFontUtilityClasses($fontFamilySpec, $useAs: ( {{ delimit .useFamilyAs ", " }} ) );

