@font-face {
  font-display: swap;
  font-family: 'Valkyrie';
  font-style: normal;
  font-weight: 400;
  src: url('#{$hostedFontPath}/valkyrie-ot/valkyrie_ot_b_regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Valkyrie';
  font-style: italic;
  font-weight: 400;
  src: url('#{$hostedFontPath}/valkyrie-ot/valkyrie_ot_b_italic.woff2') format('woff2');
}

// @font-face {
//   font-display: swap;
//   font-family: 'Valkyrie';
//   font-style: normal;
//   font-weight: 500;
//   src: url('#{$hostedFontPath}/valkyrie-ot/valkyrie_ot_a_regular.woff2') format('woff2');
// }

// @font-face {
//   font-display: swap;
//   font-family: 'Valkyrie';
//   font-style: italic;
//   font-weight: 500;
//   src: url('#{$hostedFontPath}/valkyrie-ot/valkyrie_ot_a_italic.woff2') format('woff2');
// }

@font-face {
  font-display: swap;
  font-family: 'Valkyrie';
  font-style: normal;
  font-weight: 600;
  src: url('#{$hostedFontPath}/valkyrie-ot/valkyrie_ot_b_bold.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Valkyrie';
  font-style: italic;
  font-weight: 600;
  src: url('#{$hostedFontPath}/valkyrie-ot/valkyrie_ot_b_bold_italic.woff2') format('woff2');
}

// @font-face {
//   font-display: swap;
//   font-family: 'Valkyrie';
//   font-style: normal;
//   font-weight: 700;
//   src: url('#{$hostedFontPath}/valkyrie-ot/valkyrie_ot_a_bold.woff2') format('woff2');
// }

// @font-face {
//   font-display: swap;
//   font-family: 'Valkyrie';
//   font-style: italic;
//   font-weight: 700;
//   src: url('#{$hostedFontPath}/valkyrie-ot/valkyrie_ot_a_bold_italic.woff2') format('woff2');
// }

$fontFamilySpec: (
  default: (
    name: 'Valkyrie',
    spec: (
      default: (
        default: (
          font-weight: 400,
          line-height: 1.45
        ),
        bold: (
          font-weight: 600,
        )
      ),
      display: (
        default: (
          font-weight: 400,
          line-height: 1.2
        ),
        bold: (
          font-weight: 600,
        )
      )
    ),
  ),
  small-caps: (
    name: 'Valkyrie',
    spec: (
      default: (
        default: (
          font-variant: all-small-caps
        ),
        bold: (
          font-weight: 600,
          font-variant: all-small-caps
        )
      ),
      display: (
        default: (
          font-variant: all-small-caps
        ),
        bold: (
          font-weight: 600,
          font-variant: all-small-caps
        )
      )
    )
  )
);
$fontFamilyMap: map-merge($fontFamilyMap, ($fontFamilyID: $fontFamilySpec) );
