@font-face {
  font-display: swap;
  font-family: 'Valkyrie';
  font-style: normal;
  font-weight: 400;
  src: url('#{$hostedFontPath}/valkyrie-ot/valkyrie_ot_b_regular.woff2') format('woff2'),
       url('#{$hostedFontPath}/valkyrie-ot/valkyrie_ot_b_regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Valkyrie';
  font-style: italic;
  font-weight: 400;
  src: url('#{$hostedFontPath}/valkyrie-ot/valkyrie_ot_b_italic.woff2') format('woff2'),
       url('#{$hostedFontPath}/valkyrie-ot/valkyrie_ot_b_italic.woff') format('woff');
}

// @font-face {
//   font-display: swap;
//   font-family: 'Valkyrie';
//   font-style: normal;
//   font-weight: 500;
//   src: url('#{$hostedFontPath}/valkyrie-ot/valkyrie_ot_a_regular.woff2') format('woff2'),
//        url('#{$hostedFontPath}/valkyrie-ot/valkyrie_ot_a_regular.woff') format('woff');
// }

// @font-face {
//   font-display: swap;
//   font-family: 'Valkyrie';
//   font-style: italic;
//   font-weight: 500;
//   src: url('#{$hostedFontPath}/valkyrie-ot/valkyrie_ot_a_italic.woff2') format('woff2'),
//        url('#{$hostedFontPath}/valkyrie-ot/valkyrie_ot_a_italic.woff') format('woff');
// }

@font-face {
  font-display: swap;
  font-family: 'Valkyrie';
  font-style: normal;
  font-weight: 600;
  src: url('#{$hostedFontPath}/valkyrie-ot/valkyrie_ot_b_bold.woff2') format('woff2'),
       url('#{$hostedFontPath}/valkyrie-ot/valkyrie_ot_b_bold.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Valkyrie';
  font-style: italic;
  font-weight: 600;
  src: url('#{$hostedFontPath}/valkyrie-ot/valkyrie_ot_b_bold_italic.woff2') format('woff2'),
       url('#{$hostedFontPath}/valkyrie-ot/valkyrie_ot_b_bold_italic.woff') format('woff');
}

// @font-face {
//   font-display: swap;
//   font-family: 'Valkyrie';
//   font-style: normal;
//   font-weight: 700;
//   src: url('#{$hostedFontPath}/valkyrie-ot/valkyrie_ot_a_bold.woff2') format('woff2'),
//        url('#{$hostedFontPath}/valkyrie-ot/valkyrie_ot_a_bold.woff') format('woff');
// }

// @font-face {
//   font-display: swap;
//   font-family: 'Valkyrie';
//   font-style: italic;
//   font-weight: 700;
//   src: url('#{$hostedFontPath}/valkyrie-ot/valkyrie_ot_a_bold_italic.woff2') format('woff2'),
//        url('#{$hostedFontPath}/valkyrie-ot/valkyrie_ot_a_bold_italic.woff') format('woff');
// }

$fontFamilySpec: (
  // Default, i.e., body text
  name: 'Valkyrie',
  styles: (
    // Weight: `default`, i.e., body text
    default: (
      font-weight: 400,
      line-height: 1.45
    ),
    // Weight: `bold`, i.e., bolder than normal text
    bold: (
      font-weight: 600,
    )
  ),
  variants: (
    // Font variant: `small-caps`
    small-caps: (
      name: 'Valkyrie',
      styles: (
        default: (
          font-variant: all-small-caps
        )
      )
    )
  ),
  roles: (
    // Role: `display`, i.e., short pieces of text such as headings, labels, navigation
    display: (
      styles: (
        default: (
          font-weight: 400,
          line-height: 1.2
        ),
        // Weight: `bold`, i.e., bolder than normal text
        bold: (
          font-weight: 600,
        )
      )
    )
  )
);
$fontFamilyMap: map-merge($fontFamilyMap, ($fontFamilyID: $fontFamilySpec) );
